Repository xdslproject/xdsl, pull requests merged in 2023-10, with the labels that each got.

#1626 dialects: (riscv) Add double-precision FP arithmetic instructions
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  xdsl/dialects/riscv.py
Labels: dialects, backend

#1622 documentation: (toy) use RawPtr to read buffer of values
  docs/Toy/toy/emulator/toy_accelerator_instructions.py
  tests/interpreters/test_riscv_interpreter.py
  xdsl/interpreters/riscv.py
Labels: documentation, backend

#1624 dialects: (riscv) add canonicalization patterns for fld and fsd
  tests/filecheck/backend/riscv/canonicalize.mlir
  xdsl/dialects/riscv.py
  xdsl/transforms/canonicalization_patterns/riscv.py
Labels: dialects, backend

#1625 dialects: (riscv) add lowering for stores and loads of f64 memrefs
  tests/filecheck/backend/riscv/memref_to_riscv.mlir
  tests/filecheck/backend/riscv/memref_to_riscv_opt.mlir
  xdsl/backend/riscv/lowering/convert_memref_to_riscv.py
Labels: dialects, backend

#1620 misc: (makefile) Fix shell invocation in Makefile for venv creation
  Makefile
Labels: bug, minor, misc

#1629 backend: (riscv) add lowerings for f64 binary operations
  tests/filecheck/backend/riscv/riscv_arith_lowering.mlir
  xdsl/backend/riscv/lowering/convert_arith_to_riscv.py
  xdsl/dialects/riscv.py
Labels: backend

#1558 transformations: (riscv_scf) add riscv-scf-loop-range-folding like MLIR
  docs/Toy/toy/compiler.py
  tests/filecheck/dialects/riscv_scf/loop_range_folding.mlir
  xdsl/tools/command_line_tool.py
  xdsl/transforms/riscv_scf_loop_range_folding.py
Labels: transformations, backend

#1628 interpreter: add mechanism to store runtime data in the interpreter
  docs/Toy/toy/__main__.py
  docs/Toy/toy/emulator/toy_accelerator_instruction_functions.py
  tests/interpreters/test_riscv_interpreter.py
  tests/interpreters/test_riscv_scf_interpreter.py
  tests/test_interpreter.py
  xdsl/interpreter.py
  xdsl/interpreters/riscv.py
  xdsl/tools/xdsl_run.py
Labels: interpreter

#1638 dialects: (riscv) use dict instead of mapping in riscv.py
  xdsl/dialects/riscv.py
Labels: dialects

#1640 core: make IRNode.parent an abstract property parent_node
  xdsl/ir/core.py
Labels: core

#1619 dialects: (seq) Add ClockType and ClockDivider
  tests/dialects/test_seq.py
  tests/filecheck/dialects/seq/seq_invalid.mlir
  tests/filecheck/dialects/seq/seq_ops.mlir
  xdsl/dialects/seq.py
  xdsl/tools/command_line_tool.py
Labels: dialects

#1627 [RFC] CI: Make ruff flag imports from forbidden modules.
  docs/Toy/toy/rewrites/lower_memref_riscv.py
  docs/Toy/toy/rewrites/lower_printf_riscv.py
  docs/Toy/toy/rewrites/setup_riscv_pass.py
  docs/Toy/toy/tests/test_lower_printf.py
  pyproject.toml
  tests/dialects/test_memref.py
  tests/dialects/test_scf.py
  tests/dialects/test_vector.py
  tests/interpreters/test_cf_interpreter.py
  tests/interpreters/test_riscv_emulator.py
  tests/interpreters/test_riscv_func_interpreter.py
  tests/interpreters/test_riscv_interpreter.py
  tests/interpreters/test_riscv_scf_interpreter.py
  tests/interpreters/test_scf_interpreter.py
  tests/interpreters/test_wgsl_printer.py
  tests/transforms/test_lower_affine.py
  xdsl/backend/riscv/lowering/convert_arith_to_riscv.py
  xdsl/backend/riscv/lowering/convert_func_to_riscv_func.py
  xdsl/backend/riscv/lowering/convert_memref_to_riscv.py
  xdsl/backend/riscv/lowering/reduce_register_pressure.py
  xdsl/dialects/arith.py
  xdsl/dialects/comb.py
  xdsl/dialects/experimental/fir.py
  xdsl/dialects/experimental/hls.py
  xdsl/dialects/fsm.py
  xdsl/dialects/gpu.py
  xdsl/dialects/irdl/pyrdl_to_irdl.py
  xdsl/dialects/linalg.py
  xdsl/dialects/riscv_func.py
  xdsl/dialects/snitch_runtime.py
  xdsl/dialects/stencil.py
  xdsl/interpreter.py
  xdsl/interpreters/experimental/wgpu.py
  xdsl/interpreters/experimental/wgsl_printer.py
  xdsl/interpreters/memref.py
  xdsl/ir/__init__.py
  xdsl/irdl/__init__.py
  xdsl/irdl/irdl.py
  xdsl/parser/__init__.py
  xdsl/parser/attribute_parser.py
  xdsl/parser/core.py
  xdsl/transforms/canonicalization_patterns/riscv.py
  xdsl/transforms/experimental/hls_convert_stencil_to_ll_mlir.py
  xdsl/transforms/experimental/lower_hls.py
  xdsl/transforms/experimental/stencil_storage_materialization.py
  xdsl/transforms/lower_affine.py
  xdsl/transforms/mlir_opt.py
  xdsl/transforms/reconcile_unrealized_casts.py
  xdsl/transforms/riscv_scf_loop_range_folding.py
Labels: enhancement, CI

#1631 interpreter: (riscv) add tracking of register contents
  tests/interpreters/test_riscv_interpreter.py
  xdsl/interpreters/riscv.py
  xdsl/interpreters/riscv_scf.py
Labels: interpreter

#1632 interpreter: add a stack to the riscv interpreter
  tests/interpreters/test_riscv_interpreter.py
  xdsl/interpreters/riscv.py
Labels: interpreter

#1630 backend: (riscv) add lowering from arith.constant f64
  tests/filecheck/backend/riscv/riscv_arith_lowering.mlir
  xdsl/backend/riscv/lowering/convert_arith_to_riscv.py
Labels: backend

#1637 dialects: (builtin) Add bitwidth accessor to float types
  tests/dialects/test_builtin.py
  tests/filecheck/parser-printer/float_parsing.mlir
  xdsl/backend/riscv/lowering/convert_memref_to_riscv.py
  xdsl/dialects/builtin.py
Labels: dialects, API

#1642 interpreter: (riscv) add interpreter ops for f64 +-*/
  tests/interpreters/test_riscv_interpreter.py
  xdsl/interpreters/riscv.py
Labels: interpreter

#1644 backend: (riscv) Fix snitch scfgw format and add canonicalization
  tests/filecheck/backend/riscv/canonicalize.mlir
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  tests/filecheck/dialects/snitch/snitch_to_riscv_lowering.mlir
  xdsl/dialects/riscv.py
  xdsl/transforms/canonicalization_patterns/riscv.py
  xdsl/transforms/lower_snitch.py
Labels: dialects, transformations, backend

#1623 docs: (toy) Use f64 in Toy
  docs/Toy/toy/emulator/toy_accelerator_instruction_functions.py
  docs/Toy/toy/emulator/toy_accelerator_instructions.py
  docs/Toy/toy/rewrites/lower_toy_affine.py
  xdsl/dialects/builtin.py
  xdsl/interpreters/riscv.py
Labels: documentation, testing, backend

#1647 testing: (interpreter) use custom syntax in test
  tests/filecheck/runner/example.mlir
Labels: testing, minor

#1650 documentation: (toy) make test IR verify
  docs/Toy/examples/tests/optimise_toy.mlir
Labels: documentation

#1651 dialects: (riscv) split move_to_a_regs
  tests/backend/riscv/test_utils.py
  xdsl/backend/riscv/lowering/convert_func_to_riscv_func.py
  xdsl/backend/riscv/lowering/utils.py
Labels: dialects, backend

#1648 dialects: (riscv) verify that scfgw and scfgwi return 0
  tests/filecheck/backend/riscv/canonicalize.mlir
  tests/filecheck/backend/riscv/verify.mlir
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
  xdsl/transforms/canonicalization_patterns/riscv.py
Labels: dialects, backend

#1654 interpreter: Add support for pdl.erase
  tests/interpreters/test_pdl_interpreter.py
  xdsl/interpreters/experimental/pdl.py
Labels: interpreter

#1529 core: Add support for lazy traits in IRDL
  tests/test_traits.py
  xdsl/dialects/gpu.py
  xdsl/irdl/irdl.py
Labels: core

#1660 misc (makefile): Mark venv target as phony
  Makefile
Labels: bug, minor, misc

#1655 interpreter: Add support for pdl.apply_native_constraints
  tests/interpreters/test_pdl_interpreter.py
  xdsl/interpreters/experimental/pdl.py
Labels: interpreter

#1661 misc: lint with ruff
  xdsl/dialects/stencil.py
Labels: minor, misc

#1662 interpreter: pdl native constraints constant
  tests/interpreters/test_pdl_interpreter.py
  xdsl/interpreters/experimental/pdl.py
Labels: interpreter

#1653 dependencies: Bump riscemu to 2.2.5
  docs/Toy/toy/emulator/toy_accelerator_instructions.py
  requirements-optional.txt
  tests/filecheck/with-riscemu/riscv_emulation.mlir
  tests/interpreters/test_riscv_emulator.py
  xdsl/interpreters/riscv_emulator.py
Labels: dependencies

#1666 core: Add results in declarative format
  tests/test_declarative_assembly_format.py
  xdsl/dialects/arith.py
  xdsl/irdl/declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format_parser.py
Labels: core

#1667 testing: (riscv) add missing return values
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  tests/filecheck/dialects/snitch/snitch_to_riscv_lowering.mlir
Labels: testing

#1669 interpreter: (riscv) add interpreter function for riscv.fmv
  tests/interpreters/test_riscv_interpreter.py
  xdsl/interpreters/riscv.py
Labels: interpreter

#1659 dialects: Add LTL dialect (AndOp, Sequence and Property types)
  tests/filecheck/dialects/ltl/ltl_invalid.mlir
  tests/filecheck/dialects/ltl/ltl_op.mlir
  xdsl/dialects/ltl.py
  xdsl/tools/command_line_tool.py
Labels: dialects

#1665 dialects: Add and-bitwise rewrite pattern
  tests/filecheck/backend/riscv/canonicalize.mlir
  xdsl/dialects/riscv.py
  xdsl/transforms/canonicalization_patterns/riscv.py
Labels: dialects, minor

#1663 core: Rename register_* with load_*
  docs/Toy/toy/compiler.py
  docs/irdl.ipynb
  docs/tutorial.ipynb
  tests/dialects/test_riscv.py
  tests/interpreters/test_pdl_interpreter.py
  tests/interpreters/test_riscv_emulator.py
  tests/interpreters/test_wgpu.py
  tests/interpreters/test_wgsl_printer.py
  tests/rewriting/composable_rewriting/immutable_ir/test_immutable_ir.py
  tests/test_declarative_assembly_format.py
  tests/test_ir.py
  tests/test_mlctx.py
  tests/test_parser.py
  tests/test_parser_error.py
  tests/test_pattern_rewriter.py
  tests/test_printer.py
  tests/test_rewriter.py
  tests/test_use.py
  xdsl/ir/core.py
  xdsl/tools/command_line_tool.py
  xdsl/tools/irdl_to_pyrdl.py
  xdsl/transforms/canonicalize.py
Labels: core

#1290 dialects: (dmp) cleanup
  tests/filecheck/dialects/dmp/canonicalize.mlir
  tests/filecheck/dialects/dmp/ops.mlir
  xdsl/dialects/experimental/dmp.py
  xdsl/tools/command_line_tool.py
  xdsl/transforms/canonicalize_dmp.py
  xdsl/transforms/experimental/dmp/decompositions.py
  xdsl/transforms/experimental/dmp/stencil_global_to_local.py
Labels: dialects

#1674 misc: add a launch.json to launch xdsl-opt from vscode
  .vscode/launch.json
  xdsl/tools/xdsl_opt.py
Labels: misc

#1681 core: affine map eval takes sequences not lists
  xdsl/ir/affine/affine_expr.py
  xdsl/ir/affine/affine_map.py
Labels: core

#1678 backend: (riscv) split logic for casting operands to regs
  xdsl/backend/riscv/lowering/utils.py
Labels: backend

#1683 dialects: (riscv) don't print op type for NullaryOp
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  tests/filecheck/dialects/riscv_func/lower_riscv_func.mlir
  tests/filecheck/dialects/riscv_func/lower_riscv_func_main.mlir
  tests/filecheck/with-riscemu/riscv_emulation.mlir
  tests/filecheck/with-riscemu/rvscf_lowering_emu.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#1685 backend (riscv): Factor out Snitch ISA extensions
  tests/filecheck/backend/riscv/canonicalize.mlir
  tests/filecheck/backend/riscv/verify.mlir
  tests/filecheck/dialects/riscv/frep_verification.mlir
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  tests/filecheck/dialects/riscv_snitch/ops.mlir
  tests/filecheck/dialects/snitch/snitch_to_riscv_lowering.mlir
  tests/filecheck/projects/riscv-backend-paper/pres.mlir
  xdsl/dialects/riscv.py
  xdsl/dialects/riscv_snitch.py
  xdsl/tools/command_line_tool.py
  xdsl/transforms/canonicalization_patterns/riscv.py
  xdsl/transforms/lower_snitch.py
Labels: backend

#1679 dialects: (stream) add stream dialect with basic ops
  tests/filecheck/dialects/stream/ops.mlir
  xdsl/dialects/stream.py
  xdsl/tools/command_line_tool.py
Labels: dialects

#1680 interpreter: (stream) add stream interpreter functions
  tests/interpreters/test_stream_interpreter.py
  xdsl/interpreters/stream.py
Labels: interpreter

#1687 backend: (riscv) remove lower-snrt-to-func pass
  tests/filecheck/dialects/snitch_runtime/lower_snrt_to_func.mlir
  xdsl/tools/command_line_tool.py
  xdsl/transforms/lower_snitch_runtime.py
Labels: backend

#1675 core: (affine) add AffineMap.transpose_map
  tests/test_affine_builtins.py
  xdsl/ir/affine/affine_map.py
Labels: core

#1684 core: add PassPipelinePass with optional callback in between passes
  tests/xdsl_opt/test_xdsl_opt.py
  xdsl/passes.py
  xdsl/xdsl_opt_main.py
Labels: core

#1677 interpreter: (linalg) add interpreter functions for generic and yield
  tests/interpreters/test_linalg_interpreter.py
  xdsl/dialects/linalg.py
  xdsl/interpreters/linalg.py
Labels: interpreter

#1689 interpreter: add verbose flag to print Python results
  tests/filecheck/runner/riscv.mlir
  xdsl/tools/xdsl_run.py
Labels: interpreter

#1691 misc: add an integration test file for linalg to snitch lowering pipeline
  tests/filecheck/projects/riscv-backend-paper/add.mlir
  xdsl/tools/xdsl_run.py
Labels: misc

#1692 transformations: Rename dmp-decompose-2d to dmp-decompose
  xdsl/tools/command_line_tool.py
  xdsl/transforms/experimental/dmp/stencil_global_to_local.py
Labels: transformations

#1688 dialects: (memref) add attributes in memref store load custom syntax
  tests/filecheck/mlir-conversion/with-mlir/dialects/memref/memref_ops_custom.mlir
  xdsl/dialects/memref.py
Labels: dialects

#1693 dialects: (scf, riscv_scf) Use lazy traits support
  tests/test_builtin_traits.py
  xdsl/dialects/riscv_scf.py
  xdsl/dialects/scf.py
Labels: dialects

#1695 backend: (riscv) Add canonicalization pattern for AddImmediateConstant
  tests/filecheck/backend/riscv/canonicalize.mlir
  xdsl/dialects/riscv.py
  xdsl/transforms/canonicalization_patterns/riscv.py
Labels: backend

#1686 core: (affine_map) add a convenience affine map constructor with lambda
  tests/test_affine_builtins.py
  xdsl/ir/affine/affine_map.py
Labels: core

#1697 dialects: (riscv) assembly section op creates a valid region in init
  tests/dialects/test_riscv.py
  xdsl/dialects/riscv.py
Labels: dialects

#1699 interpreter: (riscv) add cast from float reg to float
  tests/interpreters/test_riscv_interpreter.py
  xdsl/interpreters/riscv.py
Labels: interpreter

#1700 backend: (riscv) add lowering for memref global ops
  tests/filecheck/backend/riscv/memref_to_riscv.mlir
  xdsl/backend/riscv/lowering/convert_memref_to_riscv.py
Labels: backend

#1698 interpreter: (riscv) gather data from all .data sections
  tests/interpreters/test_riscv_interpreter.py
  xdsl/interpreters/riscv.py
Labels: interpreter

#1707 dialects: (riscv) omit ": () -> ()" for riscv ops
  tests/filecheck/backend/riscv/convert_func_to_riscv_func.mlir
  tests/filecheck/backend/riscv/memref_to_riscv.mlir
  tests/filecheck/backend/rvscf_lowering_labels.mlir
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  tests/filecheck/projects/riscv-backend-paper/pres.mlir
  tests/filecheck/with-riscemu/riscv_emulation.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#1702 backend: (riscv) make dimension an IntAttr in snitch ops
  tests/dialects/test_snitch.py
  tests/filecheck/dialects/snitch/snitch_ops.mlir
  tests/filecheck/dialects/snitch/snitch_to_riscv_lowering.mlir
  xdsl/dialects/snitch.py
  xdsl/transforms/lower_snitch.py
Labels: backend

#1703 backend: (riscv) SsrSetStreamConfigOperation has dm attr instead of stream operand
  tests/dialects/test_snitch.py
  tests/filecheck/dialects/snitch/snitch_ops.mlir
  tests/filecheck/dialects/snitch/snitch_to_riscv_lowering.mlir
  xdsl/dialects/snitch.py
  xdsl/transforms/lower_snitch.py
Labels: backend

#1711 core: Name dialects and make then citizens of MLContext.
  docs/Toy/toy/dialects/toy.py
  tests/filecheck/dialects/irdl/irdl-to-pyrdl/testd.irdl.mlir
  xdsl/dialects/affine.py
  xdsl/dialects/arith.py
  xdsl/dialects/builtin.py
  xdsl/dialects/cf.py
  xdsl/dialects/cmath.py
  xdsl/dialects/comb.py
  xdsl/dialects/experimental/dmp.py
  xdsl/dialects/experimental/fir.py
  xdsl/dialects/experimental/hls.py
  xdsl/dialects/experimental/math.py
  xdsl/dialects/fsm.py
  xdsl/dialects/func.py
  xdsl/dialects/gpu.py
  xdsl/dialects/irdl/irdl.py
  xdsl/dialects/irdl/irdl_to_pyrdl.py
  xdsl/dialects/linalg.py
  xdsl/dialects/llvm.py
  xdsl/dialects/ltl.py
  xdsl/dialects/memref.py
  xdsl/dialects/mpi.py
  xdsl/dialects/pdl.py
  xdsl/dialects/printf.py
  xdsl/dialects/riscv.py
  xdsl/dialects/riscv_func.py
  xdsl/dialects/riscv_scf.py
  xdsl/dialects/riscv_snitch.py
  xdsl/dialects/scf.py
  xdsl/dialects/seq.py
  xdsl/dialects/snitch.py
  xdsl/dialects/snitch_runtime.py
  xdsl/dialects/stencil.py
  xdsl/dialects/stream.py
  xdsl/dialects/test.py
  xdsl/dialects/vector.py
  xdsl/frontend/symref.py
  xdsl/ir/core.py
Labels: core

#1716 core: Remove duplicated methods
  xdsl/parser/core.py
Labels: core

#1706 backend: (riscv) add a snitch_stream dialect to represent the highest-level snitch-specific operations
  tests/filecheck/dialects/snitch_stream/ops.mlir
  xdsl/dialects/snitch_stream.py
  xdsl/tools/command_line_tool.py
Labels: backend

#1717 testing: make fewer tests fail if riscemu is not installed
  docs/Toy/examples/lit.cfg
  docs/Toy/toy/compiler.py
Labels: testing, misc

#1709 core: (affine) bring over definitions of AffineMap.compose and AffineExpr.compose
  tests/test_affine_builtins.py
  xdsl/ir/affine/affine_expr.py
  xdsl/ir/affine/affine_map.py
Labels: core

#1713 dialects: Replacing get with init in mpi dialect and respective places
  tests/dialects/test_mpi.py
  tests/dialects/test_mpi_lowering.py
  xdsl/dialects/mpi.py
  xdsl/transforms/experimental/Apply1DMPIToStencil.py
  xdsl/transforms/experimental/dmp/stencil_global_to_local.py
  xdsl/transforms/lower_mpi.py
Labels: dialects, API

#1710 interpreter: (snitch_stream) add SnitchStreamInterpreterFunctions
  tests/interpreters/test_snitch_stream_interpreter.py
  xdsl/interpreters/snitch_stream.py
Labels: interpreter

#1714 core: Implement AffineSetAttr
  pyproject.toml
  tests/dialects/test_affine.py
  tests/filecheck/mlir-conversion/with-mlir/affinet_set.mlir
  tests/filecheck/parser-printer/affine_set.mlir
  tests/interpreters/test_linalg_interpreter.py
  tests/test_affine_builtins.py
  tests/transforms/test_lower_affine.py
  xdsl/dialects/affine.py
  xdsl/dialects/builtin.py
  xdsl/ir/affine/__init__.py
  xdsl/ir/affine/affine_set.py
  xdsl/parser/affine_parser.py
  xdsl/parser/attribute_parser.py
  xdsl/printer.py
  xdsl/transforms/lower_affine.py
Labels: dialects, core

#1715 dialects: Implement affine.if
  tests/filecheck/dialects/affine/affine_ops.mlir
  xdsl/dialects/affine.py
Labels: dialects
