Repository xdslproject/xdsl, pull requests merged in 2023-09, with the labels that each got.

#1515 backend: (riscv) move module walking logic to register allocation pass
  xdsl/backend/riscv/register_allocation.py
  xdsl/transforms/riscv_register_allocation.py
Labels: backend

#1516 backend: (riscv) limit_registers None by default
  tests/filecheck/backend/riscv/riscv_register_allocation_jregs_no_loops.mlir
  xdsl/backend/riscv/register_allocation.py
  xdsl/transforms/riscv_register_allocation.py
Labels: backend

#1512 dialects: (Arith) Add custom parsing for trunci, extui, extsi
  tests/filecheck/dialects/arith/arith_ops.mlir
  xdsl/dialects/arith.py
Labels: dialects

#1517 backend: (riscv) j reg allocator is block naive with 0 real registers
  tests/filecheck/backend/riscv/riscv_register_allocation_jregs.mlir
  tests/filecheck/backend/riscv/riscv_register_allocation_jregs_no_loops.mlir
  xdsl/backend/riscv/register_allocation.py
  xdsl/transforms/riscv_register_allocation.py
Labels: backend

#1490 core: Add properties in IRDL
  tests/test_operation_builder.py
  tests/test_operation_definition.py
  xdsl/dialects/builtin.py
  xdsl/irdl/irdl.py
Labels: core

#1523 backend: (riscv) free result registers before allocating
  tests/filecheck/backend/riscv/register_allocation_liveness_block_naive.mlir
  tests/filecheck/backend/riscv/register_allocation_liveness_block_naive_limited.mlir
  xdsl/backend/riscv/register_allocation.py
Labels: backend

#1483 transforms: (affine) add basic lower-affine
  tests/filecheck/transforms/lower_affine.mlir
  tests/transforms/test_lower_affine.py
  xdsl/tools/command_line_tool.py
  xdsl/transforms/lower_affine.py
Labels: transformations

#1524 backend: (riscv) simplify for loop allocation
  xdsl/backend/riscv/register_allocation.py
Labels: backend

#1518 backend: (riscv) use register_queue for register management
  xdsl/backend/riscv/register_allocation.py
  xdsl/backend/riscv/register_queue.py
  xdsl/transforms/riscv_register_allocation.py
Labels: backend

#1519 backend: (riscv) factor out init and allocate for block naive allocators
  xdsl/backend/riscv/register_allocation.py
Labels: backend

#1526 backend: (riscv) add sym_visibility attr to riscv_func.FuncOp
  tests/filecheck/dialects/riscv_func/riscv_func_ops.mlir
  xdsl/dialects/riscv_func.py
Labels: backend

#1528 backend: (riscv) emit assembler directives for functions
  tests/filecheck/dialects/riscv_func/lower_riscv_func.mlir
  tests/filecheck/dialects/riscv_func/lower_riscv_func_main.mlir
  xdsl/transforms/lower_riscv_func.py
Labels: backend

#1525 backend: (riscv) factor out op processing in register allocators
  xdsl/backend/riscv/register_allocation.py
Labels: backend

#1535 testing: (riscv) add a unified test for register allocation
  tests/filecheck/backend/riscv/riscv_register_allocation.mlir
  tests/filecheck/backend/riscv/riscv_register_allocation_jregs.mlir
  xdsl/backend/riscv/register_allocation.py
Labels: testing, backend

#1520 backend: (riscv) walk backwards in both register allocators
  tests/backend/riscv/test_regalloc.py
  tests/filecheck/backend/riscv/riscv_register_allocation.mlir
  tests/filecheck/backend/riscv/riscv_register_allocation_block_naive.mlir
  xdsl/backend/riscv/register_allocation.py
Labels: backend

#1521 backend: (riscv) factor out func body walking and op processing in register allocators
  xdsl/backend/riscv/register_allocation.py
Labels: backend

#1533 backend: (riscv) add ability to queue j registers
  tests/backend/riscv/test_register_queue.py
  tests/filecheck/backend/riscv/riscv_register_allocation.mlir
  xdsl/backend/riscv/register_queue.py
Labels: backend

#1534 testing: add inits to test dialect ops
  tests/interpreters/test_arith_interpreter.py
  tests/interpreters/test_wgsl_printer.py
  tests/test_printer.py
  tests/test_traits.py
  xdsl/dialects/test.py
Labels: testing

#1536 interpreter: Add support for external implementations
  tests/test_interpreter.py
  xdsl/interpreter.py
Labels: interpreter

#1537 interpreter: (riscv) Add some libc runtime methods like malloc/free
  tests/filecheck/runner/riscv.mlir
  tests/interpreters/test_memref_interpreter.py
  xdsl/interpreters/memref.py
  xdsl/interpreters/riscv_libc.py
  xdsl/tools/xdsl_run.py
Labels: interpreter

#1539 CI: Bring back JupyterLite page deployment
  .github/workflows/jupyterlite.yml
Labels: documentation, CI

#1332 backend: (riscv) Allow detection and exclusion of preallocated registers from register allocation
  tests/backend/riscv/test_preallocated.py
  tests/filecheck/backend/riscv/register_allocation_preallocated.mlir
  xdsl/backend/riscv/register_allocation.py
  xdsl/transforms/riscv_register_allocation.py
Labels: backend

#1532 documentation: (toy) remove mlir-opt dependency for lowering Toy to riscv
  docs/Toy/examples/interpret.toy
  docs/Toy/examples/tests/accelerate_toy.mlir
  docs/Toy/examples/tests/with-mlir/interpret.toy
  docs/Toy/examples/tests/with-mlir/lit.local.cfg
  docs/Toy/examples/tests/with-mlir/matmul.mlir
  docs/Toy/toy/__main__.py
  docs/Toy/toy/compiler.py
  docs/Toy/toy/dialects/toy_accelerator.py
  docs/Toy/toy/emulator/toy_accelerator_functions.py
  docs/Toy/toy/emulator/toy_accelerator_instruction_functions.py
  docs/Toy/toy/emulator/toy_accelerator_instructions.py
  docs/Toy/toy/rewrites/lower_to_toy_accelerator.py
  docs/Toy/toy/rewrites/lower_toy_accelerator_to_riscv.py
Labels: documentation

#1547 CI: Remove conditions on JupyterLite deploy.
  .github/workflows/jupyterlite.yml
Labels: documentation, CI, minor

#1546 backend: (riscv) make live-ins iteration stable
  requirements.txt
  tests/backend/riscv/test_live_ins.py
  xdsl/backend/riscv/register_allocation.py
Labels: backend

#1548 misc: use isinstance instead of type equality
  tests/dialects/test_builtin.py
Labels: CI, minor

#1543 dialects: (scf) add custom syntax to scf for and yield
  docs/database_example.ipynb
  tests/filecheck/dialects/scf/reduce.mlir
  tests/filecheck/dialects/scf/scf_ops.mlir
  tests/filecheck/dialects/stencil/hdiff_gpu.mlir
  tests/filecheck/dialects/stencil/stencil_ops.mlir
  tests/filecheck/frontend/dialects/scf.py
  tests/filecheck/mlir-conversion/with-mlir/dialects/scf/for_custom.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/scf/for_generic.mlir
  tests/filecheck/transforms/convert-stencil-to-ll-mlir-tiled.mlir
  tests/filecheck/transforms/convert-stencil-to-ll-mlir.mlir
  tests/test_parser.py
  xdsl/dialects/scf.py
  xdsl/dialects/utils.py
  xdsl/parser/core.py
Labels: dialects

#1549 interpreter: use interpreter.print in libc
  xdsl/interpreters/riscv_libc.py
Labels: bug, minor, interpreter

#1545 dialects: (memref) add custom syntax to load and store
  tests/filecheck/dialects/memref/memref_ops.mlir
  tests/filecheck/dialects/stencil/hdiff_gpu.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/memref/memref_ops_custom.mlir
  tests/filecheck/transforms/convert-stencil-to-ll-mlir-tiled.mlir
  tests/filecheck/transforms/convert-stencil-to-ll-mlir.mlir
  xdsl/dialects/memref.py
Labels: dialects

#1550 backend: (riscv) exclude preallocated registers by default
  tests/filecheck/backend/riscv/register_allocation_preallocated.mlir
  xdsl/backend/riscv/register_allocation.py
  xdsl/transforms/riscv_register_allocation.py
Labels: backend

#1551 backend: (riscv) don't allocate external function calls
  tests/filecheck/backend/riscv/riscv_register_allocation.mlir
  xdsl/backend/riscv/register_allocation.py
Labels: backend

#1552 backend: (rsicv) unify RdRsRs(Integer|Float)Op
  docs/Toy/toy/tests/test_lower_memref_riscv.py
  tests/backend/riscv/test_preallocated.py
  tests/dialects/test_riscv.py
  tests/interpreters/test_riscv_emulator.py
  tests/interpreters/test_riscv_interpreter.py
  tests/interpreters/test_riscv_scf_interpreter.py
  xdsl/backend/riscv/lowering/convert_arith_to_riscv.py
  xdsl/backend/riscv/lowering/convert_memref_to_riscv.py
  xdsl/dialects/riscv.py
Labels: backend

#1553 backend: (riscv) print assembly from riscv_func, remove region from label
  docs/Toy/toy/rewrites/setup_riscv_pass.py
  docs/Toy/toy/tests/test_add_sections.py
  tests/dialects/test_riscv.py
  tests/filecheck/backend/riscv/convert_func_to_riscv_func.mlir
  tests/filecheck/backend/rvscf_lowering_labels.mlir
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  tests/filecheck/dialects/riscv_func/lower_riscv_func.mlir
  tests/filecheck/dialects/riscv_func/lower_riscv_func_main.mlir
  tests/filecheck/with-riscemu/riscv_emulation.mlir
  tests/filecheck/with-riscemu/rvscf_lowering_emu.mlir
  tests/interpreters/test_riscv_emulator.py
  tests/interpreters/test_riscv_func_interpreter.py
  xdsl/backend/riscv/lowering/convert_func_to_riscv_func.py
  xdsl/dialects/riscv.py
  xdsl/dialects/riscv_func.py
  xdsl/transforms/lower_riscv_func.py
Labels: backend

#1544 dialects: (riscv_scf) add custom syntax to riscv_scf for and yield
  tests/filecheck/backend/riscv/riscv_register_allocation.mlir
  tests/filecheck/backend/rvscf_lowering_labels.mlir
  tests/filecheck/backend/rvscf_scf_lowering.mlir
  tests/filecheck/dialects/riscv_scf/ops.mlir
  tests/filecheck/with-riscemu/rvscf_lowering_emu.mlir
  xdsl/dialects/riscv_scf.py
Labels: dialects

#1563 dialects: (riscv) remove redundant private constants
  xdsl/dialects/riscv.py
Labels: dialects, minor

#1556 transformations: move riscv canonicalization file to dedicated folder
  tests/filecheck/backend/riscv/canonicalize.mlir
  xdsl/dialects/riscv.py
  xdsl/transforms/canonicalization_patterns/__init__.py
  xdsl/transforms/canonicalization_patterns/riscv.py
Labels: xdsl, transformations

#1557 transformations: (riscv) add some more riscv canonicalization patterns
  tests/filecheck/backend/riscv/canonicalize.mlir
  xdsl/dialects/riscv.py
  xdsl/transforms/canonicalization_patterns/riscv.py
Labels: transformations

#1566 dialects: (riscv) canonicalization pattern added (x+x=x*2)
  tests/filecheck/backend/riscv/canonicalize.mlir
  xdsl/dialects/riscv.py
  xdsl/transforms/canonicalization_patterns/riscv.py
Labels: dialects

#1567 dialects: (riscv) add canonicalization pattern x*0=0
  tests/filecheck/backend/riscv/canonicalize.mlir
  xdsl/dialects/riscv.py
  xdsl/transforms/canonicalization_patterns/riscv.py
Labels: dialects

#1562 backend: (riscv) add vfadd and vfmul instructions
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#1565 dialects: (riscv) add fsd and fld + interpreter functions
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  tests/interpreters/test_riscv_interpreter.py
  xdsl/dialects/riscv.py
  xdsl/interpreters/riscv.py
Labels: dialects

#1554 documentation: (toy) add end-to-end demo notebook
  docs/Toy/Toy_Ch0.ipynb
  docs/Toy/toy/compiler.py
Labels: documentation

#1569 ci: re-run notebook
  docs/Toy/Toy_Ch0.ipynb
Labels: bug, CI

#1578 dialects: Add HLS dialect
  xdsl/dialects/experimental/hls.py
  xdsl/tools/command_line_tool.py
  xdsl/transforms/experimental/hls_convert_stencil_to_ll_mlir.py
  xdsl/transforms/experimental/lower_hls.py
  xdsl/transforms/experimental/replace_incompatible_fpga.py
Labels: dialects

#1575 core: add FlatSymbolRefAttr
  tests/filecheck/dialects/func/func_invalid.mlir
  xdsl/dialects/builtin.py
  xdsl/dialects/func.py
Labels: core

#1576 misc: add filecheck file with assembly-level IR output for riscv paper/presentation
  tests/filecheck/projects/riscv-backend-paper/pres.mlir
Labels: backend

#1577 dialects: (riscv) add cfgwi op
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: dialects, backend

#1573 core: Add segment sizes attributes to IRDL operation definition
  tests/test_operation_definition.py
  xdsl/irdl/irdl.py
Labels: core

#1572 core: Implement properties retrocompatibility in the parser.
  tests/test_parser.py
  xdsl/dialects/builtin.py
  xdsl/parser/core.py
Labels: core

#1584 interpreter: Small nit on WGSL printer
  xdsl/interpreters/experimental/wgsl_printer.py
Labels: minor, interpreter

#1591 core: check for properties in clone and equivalence check
  tests/test_ir.py
  xdsl/ir/core.py
Labels: core

#1593 core: Add support for properties in immutable ir
  tests/rewriting/composable_rewriting/immutable_ir/test_immutable_ir.py
  xdsl/rewriting/composable_rewriting/immutable_ir/immutable_ir.py
Labels: core

#1592 core: Add support for properties in attribute converter
  tests/test_pattern_rewriter.py
  xdsl/dialects/test.py
  xdsl/pattern_rewriter.py
Labels: core

#1580 interpreter: Support properties in PDL interpreter
  tests/interpreters/test_pdl_interpreter.py
  tests/test_ir.py
  xdsl/interpreters/experimental/pdl.py
  xdsl/ir/core.py
Labels: interpreter

#1579 core: Add a wrapper constraint to substitute error message on failure
  tests/dialects/test_builtin.py
  tests/filecheck/dialects/func/func_invalid.mlir
  xdsl/dialects/builtin.py
Labels: core

#1586 misc: add third filecheck function from riscv presentation
  tests/filecheck/projects/riscv-backend-paper/pres.mlir
Labels: misc

#1589 dialects: (maths) Using `__init__()` instead of `get()`
  xdsl/dialects/experimental/math.py
  xdsl/transforms/printf_to_putchar.py
Labels: dialects, API

#1587 dialects: (riscv) add frep operations to riscv dialect
  tests/filecheck/dialects/riscv/frep_verification.mlir
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#1588 testing: add fourth and final example function implementation from the riscv presentation
  tests/filecheck/projects/riscv-backend-paper/pres.mlir
Labels: testing

#1585 dialects : add comb dialect
  tests/filecheck/dialects/comb/comb_ops.mlir
  xdsl/dialects/comb.py
  xdsl/tools/command_line_tool.py
Labels: dialects

#1601 core: add ConstantLike trait from MLIR
  xdsl/dialects/arith.py
  xdsl/traits.py
Labels: core

#1603 core: Implement AttrSizedSegments option to implement as a property.
  tests/test_operation_definition.py
  xdsl/irdl/irdl.py
Labels: core

#1604 core: Make SymbolOpInterface and Symboltable properties-ready.
  tests/test_traits.py
  xdsl/traits.py
Labels: core

#1611 core: test and fix IRDLOptions as properties
  tests/test_operation_builder.py
  xdsl/irdl/irdl.py
Labels: minor, core

#1600 dialects: FSM base operators
  tests/filecheck/dialects/fsm/fsm_invalid.mlir
  tests/filecheck/dialects/fsm/fsm_op.mlir
  xdsl/dialects/fsm.py
  xdsl/tools/command_line_tool.py
Labels: dialects

#1613 Switch AttrSizedSegments attribute_names to CamelCase.
  docs/irdl.ipynb
  xdsl/irdl/irdl.py
Labels: minor, core

#1616 dialects: (scf) convert constructors from get to init
  docs/database_example.ipynb
  tests/dialects/test_memref.py
  tests/dialects/test_scf.py
  tests/interpreters/test_scf_interpreter.py
  tests/test_op_builder.py
  xdsl/dialects/scf.py
  xdsl/frontend/code_generation.py
  xdsl/transforms/experimental/Apply1DMPIToStencil.py
  xdsl/transforms/experimental/convert_stencil_to_ll_mlir.py
  xdsl/transforms/experimental/dmp/stencil_global_to_local.py
  xdsl/transforms/experimental/hls_convert_stencil_to_ll_mlir.py
  xdsl/transforms/experimental/lower_hls.py
  xdsl/transforms/lower_affine.py
  xdsl/transforms/printf_to_putchar.py
Labels: dialects

#1610 dialects: FSM advanced operator (SW/HW instances)
  tests/filecheck/dialects/fsm/fsm_invalid.mlir
  tests/filecheck/dialects/fsm/fsm_op.mlir
  xdsl/dialects/fsm.py
Labels: dialects

#1618 dialects: (cf) move to __init__
  tests/dialects/test_cf.py
  tests/interpreters/test_cf_interpreter.py
  xdsl/dialects/cf.py
Labels: dialects

#1617 core: (printer) Allow optional printing of block terminator operations
  tests/test_printer.py
  xdsl/printer.py
Labels: enhancement, API, minor, core
