Repository xdslproject/xdsl, pull requests merged in 2023-05, with the labels that each got.

#824 core: remove insert_op_at_pos in Block
  xdsl/ir.py
  xdsl/transforms/experimental/Apply1DMPIToStencil.py
  xdsl/transforms/experimental/stencil_global_to_local.py
Labels: core

#830 tests: make test_value hashable
  xdsl/utils/test_value.py
Labels: tests

#833 dialects: add riscv.sub operation
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#831 tests: Move more tests to MLIR syntax
  tests/rewriting/composable_rewriting/immutable_ir/test_immutable_ir.py
  tests/test_ir.py
  tests/test_mlir_printer.py
  tests/test_parser.py
  tests/test_parser_error.py
  tests/test_use.py
Labels: tests

#835 core: new_results takes sequence instead of list
  xdsl/pattern_rewriter.py
  xdsl/rewriter.py
Labels: core

#825 core: remove op_at_index
  xdsl/ir.py
Labels: core

#836 dialects: add riscv.li operation
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#834 dialects: add riscvxor instruction
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#839 core: Remove xdsl syntax printer
  docs/Toy/Toy_Ch2.ipynb
  tests/conftest.py
  tests/test_printer.py
  tests/xdsl_opt/test_xdsl_opt.py
  xdsl/printer.py
  xdsl/xdsl_opt_main.py
Labels: core

#841 dialects: add riscv.addi operation
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#844 dialects: add all rv32i/rv64i register-immediate instructions
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#849 dialects: add all rv32i/rv64i register-register instructions
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#847 dialects: add load/store to riscv
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#793 frontend: Add README with a toy example
  xdsl/frontend/README.md
Labels: documentation, frontend

#837 core: Remove uses of Target.XDSL in Printer
  docs/Toy/Toy_Ch2.ipynb
  docs/irdl.ipynb
  tests/conftest.py
  tests/filecheck/frontend/dialects/affine.py
  tests/filecheck/frontend/dialects/arith.py
  tests/filecheck/frontend/dialects/builtin.py
  tests/filecheck/frontend/dialects/cf.py
  tests/filecheck/frontend/dialects/func.py
  tests/filecheck/frontend/dialects/invalid.py
  tests/filecheck/frontend/dialects/scf.py
  tests/filecheck/frontend/programs/invalid.py
  tests/filecheck/frontend/programs/programs.py
  tests/test_ir.py
  tests/test_printer.py
  tests/xdsl_opt/test_xdsl_opt.py
  xdsl/frontend/program.py
  xdsl/ir.py
  xdsl/printer.py
  xdsl/utils/diagnostic.py
  xdsl/xdsl_opt_main.py
Labels: core

#840 core: Remove xDSL parser
  bench/parser/bench_parser.py
  docs/irdl.ipynb
  tests/rewriting/composable_rewriting/immutable_ir/test_immutable_ir.py
  tests/test_attribute_definition.py
  tests/test_ir.py
  tests/test_parser.py
  tests/test_parser_error.py
  tests/test_pattern_rewriter.py
  tests/test_printer.py
  tests/test_pyrdl.py
  tests/test_rewriter.py
  tests/test_use.py
  tests/xdsl_opt/test_xdsl_opt.py
  xdsl/dialects/arith.py
  xdsl/dialects/builtin.py
  xdsl/dialects/gpu.py
  xdsl/dialects/llvm.py
  xdsl/dialects/memref.py
  xdsl/dialects/riscv.py
  xdsl/dialects/test.py
  xdsl/ir.py
  xdsl/parser.py
  xdsl/xdsl_opt_main.py
Labels: core

#846 core: add dead code elimination to xDSL
  docs/Toy/toy/dialects/toy.py
  tests/filecheck/dce.mlir
  tests/xdsl_opt/test_xdsl_opt.py
  xdsl/dialects/arith.py
  xdsl/traits.py
  xdsl/transforms/dead_code_elimination.py
  xdsl/xdsl_opt_main.py
Labels: core

#848 dialects: add register index and name to riscv.Register
  tests/dialects/test_riscv.py
  tests/filecheck/dialects/riscv/riscv_allocation.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#851 dialects: add missing init to riscv.NullaryOperation
  xdsl/dialects/riscv.py
Labels: dialects

#858 dialects: add riscv ebreak operation
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#854 core: Add operation custom format
  tests/test_printer.py
  xdsl/ir.py
  xdsl/parser.py
  xdsl/printer.py
Labels: core

#857 dialects: add LowerNullRequestOp to lower-mpi pass
  xdsl/dialects/snitch.py
  xdsl/transforms/lower_mpi.py
Labels: dialects, minor

#864 docs: Remove old changelog
  CHANGELOG.md
Labels: documentation

#852 dialects: add all rv32i/rv64i CSR instructions
  tests/dialects/test_riscv.py
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#866 dialects: use constants for RISC-V register names instead of strings
  tests/dialects/test_riscv.py
  xdsl/dialects/riscv.py
Labels: dialects

#871 core: Update mlir hash
  .github/workflows/ci-mlir.yml
  docs/mlir_interoperation.md
  tests/filecheck/mlir-conversion/with-mlir/dialects/llvm/global.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/llvm/llvm_pointer_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/mpi/mpi-hello-world-async.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/mpi/mpi-hello-world.mlir
Labels: core

#873 core: fix DenseIntOrFPElementsAttr.tensor_from_list with empty shape
  tests/dialects/test_builtin.py
  xdsl/dialects/builtin.py
Labels: core

#867 tests: Add main and filecheck tests for Toy
  .github/workflows/ci-core.yml
  .gitignore
  docs/Toy/Toy_Ch1.ipynb
  docs/Toy/examples/ast.toy
  docs/Toy/examples/codegen.toy
  docs/Toy/examples/empty.toy
  docs/Toy/examples/lit.cfg
  docs/Toy/examples/scalar.toy
  docs/Toy/toy/__main__.py
  docs/Toy/toy/frontend/lexer.py
  docs/Toy/toy/frontend/toy_ast.py
Labels: testing

#865 dialects: Add infinite register allocation as a compiler pass
  tests/filecheck/dialects/riscv/riscv_register_allocation.mlir
  tests/xdsl_opt/test_xdsl_opt.py
  xdsl/dialects/riscv.py
  xdsl/transforms/riscv_register_allocation.py
  xdsl/xdsl_opt_main.py
Labels: dialects

#862 core: Add support for interfaces through traits
  tests/test_traits.py
  xdsl/ir.py
  xdsl/transforms/dead_code_elimination.py
Labels: core

#868 core: Add parsing for attributes with keyword
  tests/test_parser.py
  xdsl/parser.py
Labels: core

#875 core: add dce function to allow for dead code elimination within other passes
  xdsl/transforms/dead_code_elimination.py
Labels: core

#879 core: Add Position as alias for `int`
  xdsl/parser.py
  xdsl/utils/lexer.py
Labels: core

#878 core: make walk an iterator instead of passing function
  xdsl/ir.py
  xdsl/irdl_mlir_printer.py
  xdsl/parser.py
  xdsl/printer.py
  xdsl/transforms/experimental/ConvertStencilToLLMLIR.py
  xdsl/transforms/experimental/StencilShapeInference.py
  xdsl/transforms/experimental/stencil_global_to_local.py
  xdsl/transforms/lower_mpi.py
Labels: core

#880 bug: Fix use of `walk` method
  xdsl/transforms/riscv_register_allocation.py
Labels: bug

#882 dialects: Fix PDL definitions, and lint it with latest xDSL features
  docs/irdl.ipynb
  tests/dialects/test_pdl.py
  tests/interpreters/test_pdl_interpreter.py
  tests/test_attribute_definition.py
  tests/test_parser.py
  tests/test_pyrdl.py
  xdsl/dialects/builtin.py
  xdsl/dialects/llvm.py
  xdsl/dialects/pdl.py
  xdsl/interpreters/experimental/pdl.py
  xdsl/parser.py
Labels: dialects

#884 dialects: Add verify for `stencil.cast`
  tests/filecheck/dialects/stencil/hdiff_out_of_bound.mlir
  tests/filecheck/dialects/stencil/heat_stencil.mlir
  tests/filecheck/dialects/stencil/heat_stencil_inference.mlir
  tests/filecheck/dialects/stencil/heat_stencil_inference_ll.mlir
  xdsl/dialects/experimental/stencil.py
Labels: dialects

#889 stencil: add verify to LoadOp and StoreOp
  xdsl/dialects/experimental/stencil.py
Labels: dialects

#886 dialects: add jal, j, jalr + LabelAttr to riscv
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#885 misc: put MLIR commit hash into README
  README.md
Labels: documentation

#888 dialects: Improvements to stencil dialect for indexop and applyop
  tests/dialects/test_stencil.py
  xdsl/dialects/experimental/stencil.py
Labels: dialects

#606 dialects: Improve GEPOp docs and ergonomics
  tests/dialects/test_llvm.py
  xdsl/dialects/llvm.py
Labels: documentation, dialects

#898 core: Remove build from Attribute
  xdsl/dialects/memref.py
  xdsl/ir.py
Labels: core

#892 dialects: fix missing attribute from riscv.csrrwi
  tests/dialects/test_riscv.py
  xdsl/dialects/riscv.py
Labels: bug

#891 dialects: Move stencil `CastOp` from experimental to main
  tests/dialects/test_stencil.py
  xdsl/dialects/experimental/stencil.py
  xdsl/dialects/stencil.py
  xdsl/transforms/experimental/ConvertStencilToLLMLIR.py
  xdsl/transforms/experimental/StencilShapeInference.py
  xdsl/xdsl_opt_main.py
Labels: dialects

#901 documentation: remove .xdsl file extension mentions
  docs/mlir_interoperation.md
  tests/filecheck/lit.cfg
  xdsl/frontend/README.md
Labels: documentation, testing

#897 dialects: Rename call get ops->args
  xdsl/dialects/func.py
Labels: dialects

#895 dialects: Add wfi instruction, update link to spec
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#877 dialects: Add xdsl-opt option to emit RISCV assembly
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  tests/xdsl_opt/test_xdsl_opt.py
  xdsl/dialects/riscv.py
  xdsl/riscv_asm_writer.py
  xdsl/xdsl_opt_main.py
Labels: dialects

#903 install: move dev imports to requirements-optional
  .github/workflows/ci-core.yml
  .github/workflows/ci-mlir.yml
  .github/workflows/ci-notebooks.yml
  .github/workflows/ci-pyright-fails.yml
  .github/workflows/ci-pyright.yml
  README.md
  requirements-optional.txt
  requirements.txt
  setup.py
Labels: testing, installation

#900 dialects: add riscv.ret
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#896 dialects: add riscv.GetRegisterOp
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
  xdsl/riscv_asm_writer.py
Labels: dialects

#893 dialects: Add memref.dma_start op
  tests/dialects/test_memref.py
  tests/filecheck/mlir-conversion/with-mlir/dialects/memref/memref_ops_mlir_conversion.mlir
  xdsl/dialects/memref.py
Labels: dialects

#872 dialects: add snitch low-level dialect
  tests/filecheck/dialects/snitch/snitch_ops.mlir
  xdsl/dialects/snitch.py
  xdsl/xdsl_opt_main.py
Labels: dialects

#899 dialects: Stencil load op get method enhancement
  tests/dialects/test_stencil.py
  xdsl/dialects/experimental/stencil.py
Labels: dialects

#870 documentation: move chapter 2 contents from xdsl-workshop
  docs/Toy/Toy_Ch2.ipynb
  docs/Toy/toy/compiler.py
Labels: documentation

#910 dialects: add mv pseudo-instruction to riscv dialect
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
  xdsl/riscv_asm_writer.py
Labels: dialects

#907 dialects: Improve Stencil Fieldtype
  tests/dialects/test_stencil.py
  xdsl/dialects/experimental/stencil.py
  xdsl/dialects/stencil.py
Labels: dialects

#894 dialects: Add memref.dma_wait op
  tests/dialects/test_memref.py
  tests/filecheck/mlir-conversion/with-mlir/dialects/memref/memref_ops_mlir_conversion.mlir
  xdsl/dialects/memref.py
Labels: dialects

#912 dialects: Lowering for stencil indexop
  xdsl/dialects/experimental/stencil.py
  xdsl/transforms/experimental/ConvertStencilToLLMLIR.py
Labels: dialects

#918 CI: add new label to release drafter
  .github/release-drafter.yml
Labels: CI

#917 dialects: Remove unused constraint from stencil dialect
  xdsl/dialects/experimental/stencil.py
Labels: dialects, minor

#909 dialects: Add tests for stencil.IndexAttr
  tests/dialects/test_stencil.py
Labels: dialects

#915 dialects: streamline snitch to basic config ops
  tests/filecheck/dialects/snitch/snitch_ops.mlir
  xdsl/dialects/snitch.py
Labels: dialects

#902 core: Switch to ClassVar names in `Operation`, `ModulePass` and `Attribute`
  docs/Toy/toy/dialects/toy.py
  docs/irdl.ipynb
  tests/test_operation_builder.py
  tests/test_operation_definition.py
  tests/test_ssa_value.py
  xdsl/dialects/affine.py
  xdsl/dialects/arith.py
  xdsl/dialects/builtin.py
  xdsl/dialects/cf.py
  xdsl/dialects/cmath.py
  xdsl/dialects/experimental/math.py
  xdsl/dialects/experimental/stencil.py
  xdsl/dialects/func.py
  xdsl/dialects/pdl.py
  xdsl/dialects/scf.py
  xdsl/dialects/snitch.py
  xdsl/dialects/stencil.py
  xdsl/dialects/test.py
  xdsl/frontend/symref.py
  xdsl/ir.py
  xdsl/irdl.py
  xdsl/passes.py
Labels: core

#922 documentation: fix imports
  docs/Toy/Toy_Ch2.ipynb
Labels: documentation, minor

#921 dialects: remove dealloca because it doesn't exist
  tests/dialects/test_memref.py
  xdsl/dialects/memref.py
Labels: dialects

#927 dialects: Relax castOp verifier
  tests/dialects/test_stencil.py
  xdsl/dialects/stencil.py
Labels: dialects

#935 documentation: fix toy playgrounds
  docs/Toy/Toy_Ch1.ipynb
  docs/Toy/Toy_Ch2.ipynb
Labels: documentation, minor

#923 testing: add nbval to requirements-optional
  .github/workflows/ci-mlir.yml
  .github/workflows/ci-notebooks.yml
  requirements-optional.txt
Labels: testing

#933 documentation: add Toy optimisations
  docs/Toy/examples/codegen.toy
  docs/Toy/examples/scalar.toy
  docs/Toy/examples/tests/optimise_toy.mlir
  docs/Toy/toy/__main__.py
  docs/Toy/toy/compiler.py
  docs/Toy/toy/rewrites/optimise_toy.py
Labels: documentation

#934 dialects: make register name property non-optional
  xdsl/dialects/riscv.py
  xdsl/riscv_asm_writer.py
Labels: dialects

#919 dialects: dialects: add snitch → riscv lowering
  tests/dialects/test_snitch.py
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  tests/filecheck/dialects/snitch/snitch_to_riscv_lowering.mlir
  tests/xdsl_opt/test_xdsl_opt.py
  xdsl/dialects/riscv.py
  xdsl/dialects/snitch.py
  xdsl/transforms/lower_snitch.py
  xdsl/xdsl_opt_main.py
Labels: dialects

#940 documentation: add Ch3 playground
  docs/Toy/Toy_Ch3.ipynb
Labels: documentation

#802 frontend: Strengthen Python code check
  tests/filecheck/frontend/dialects/affine.py
  tests/filecheck/frontend/dialects/builtin.py
  tests/filecheck/frontend/dialects/cf.py
  tests/filecheck/frontend/dialects/func.py
  tests/filecheck/frontend/dialects/invalid.py
  tests/filecheck/frontend/dialects/scf.py
  tests/filecheck/frontend/programs/invalid.py
  xdsl/frontend/code_generation.py
  xdsl/frontend/const.py
  xdsl/frontend/context.py
  xdsl/frontend/program.py
  xdsl/frontend/python_code_check.py
Labels: frontend

#938 dialects: Improve stencil result type
  tests/dialects/test_stencil.py
  xdsl/dialects/experimental/stencil.py
Labels: dialects

#931 core: Update printer
  docs/Toy/Toy_Ch2.ipynb
  docs/Toy/Toy_Ch3.ipynb
  docs/Toy/examples/codegen.toy
  docs/Toy/examples/scalar.toy
  docs/Toy/examples/tests/optimise_toy.mlir
  tests/filecheck/dialects/builtin/attrs.mlir
  tests/filecheck/parser-printer/builtin_attrs.mlir
  xdsl/printer.py
Labels: core

#936 dialects: Remove unused things from stencil dialect
  xdsl/dialects/experimental/stencil.py
Labels: dialects

#942 dialects: Change RewriteOp constructor
  tests/dialects/test_pdl.py
  tests/interpreters/test_pdl_interpreter.py
  xdsl/dialects/pdl.py
Labels: dialects

#908 dialects: add ability to print comments in riscv assembly
  tests/dialects/test_riscv.py
  xdsl/dialects/riscv.py
  xdsl/riscv_asm_writer.py
Labels: dialects

#943 documentation: add shape inference to Toy
  docs/Toy/examples/tests/infer_shapes.mlir
  docs/Toy/toy/__main__.py
  docs/Toy/toy/dialects/toy.py
  docs/Toy/toy/rewrites/optimise_toy.py
  docs/Toy/toy/rewrites/shape_inference.py
Labels: documentation

#947 core: use Sequence[Operation] in PatternRewriter
  xdsl/ir.py
  xdsl/pattern_rewriter.py
  xdsl/rewriter.py
Labels: core

#949 documentation: move interpret test to filecheck
  docs/Toy/examples/interpret.toy
  docs/Toy/toy/__main__.py
  docs/Toy/toy/tests/test_interpreter.py
Labels: documentation

#951 dialects: Fix a comparison in mpi lowering
  xdsl/transforms/experimental/stencil_global_to_local.py
Labels: dialects

#932 dialects: introduces riscv Jump operations with better return address handling
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
  xdsl/riscv_asm_writer.py
Labels: dialects

#946 core: Move block parser to lexer
  tests/filecheck/dialects/scf/for_body_args_number_much.mlir
  tests/filecheck/dialects/scf/for_body_args_types.mlir
  tests/filecheck/dialects/scf/for_yield.mlir
  tests/filecheck/dialects/scf/for_yield_number.mlir
  tests/filecheck/dialects/scf/for_yield_types.mlir
  tests/filecheck/parser-printer/builtin_attrs.mlir
  xdsl/ir.py
  xdsl/parser.py
Labels: core

#914 dialects: add riscv_func with lowering from syscall op
  tests/filecheck/dialects/riscv_func/lower_riscv_func.mlir
  tests/xdsl_opt/test_xdsl_opt.py
  xdsl/dialects/riscv_func.py
  xdsl/transforms/lower_riscv_func.py
  xdsl/xdsl_opt_main.py
Labels: dialects

#948 documentation: add inlining to Toy
  docs/Toy/examples/tests/infer_shapes.mlir
  docs/Toy/examples/tests/inline.mlir
  docs/Toy/examples/tests/optimise_toy.mlir
  docs/Toy/toy/__main__.py
  docs/Toy/toy/dialects/toy.py
  docs/Toy/toy/rewrites/inline_toy.py
Labels: documentation

#955 core: Add lexer for more complex pass pipeline specs
  tests/test_pass_lexer.py
  xdsl/utils/exceptions.py
  xdsl/utils/parse_pipeline.py
Labels: enhancement, xdsl

#905 core: Add successors to IRDL
  tests/dialects/test_cf.py
  tests/test_operation_builder.py
  xdsl/dialects/cf.py
  xdsl/irdl.py
Labels: core

#954 dialects: Fix some PDL constructors and definitions
  tests/dialects/test_pdl.py
  xdsl/dialects/pdl.py
Labels: dialects

#945 dialects: add pdl custom format
  tests/filecheck/dialects/pdl/custom-format.mlir
  tests/filecheck/dialects/pdl/mlir-tests.mlir
  tests/filecheck/dialects/pdl/mlir-tests/apply_rewrite_with_no_results.mlir
  tests/filecheck/dialects/pdl/mlir-tests/attribute_with_dict.mlir
  tests/filecheck/dialects/pdl/mlir-tests/attribute_with_loc.mlir
  tests/filecheck/dialects/pdl/mlir-tests/infer_type_from_operation_replace.mlir
  tests/filecheck/dialects/pdl/mlir-tests/infer_type_from_type_used_in_match_0.mlir
  tests/filecheck/dialects/pdl/mlir-tests/infer_type_from_type_used_in_match_1.mlir
  tests/filecheck/dialects/pdl/mlir-tests/infer_type_from_type_used_in_match_2.mlir
  tests/filecheck/dialects/pdl/mlir-tests/infer_type_from_type_used_in_match_3.mlir
  tests/filecheck/dialects/pdl/mlir-tests/operations.mlir
  tests/filecheck/dialects/pdl/mlir-tests/rewrite_multi_root_forced.mlir
  tests/filecheck/dialects/pdl/mlir-tests/rewrite_multi_root_optimal.mlir
  tests/filecheck/dialects/pdl/mlir-tests/rewrite_with_args.mlir
  xdsl/dialects/pdl.py
  xdsl/parser.py
Labels: dialects

#959 core: Remove irdl mlir printer
  pyproject.toml
  xdsl/irdl_mlir_printer.py
Labels: core

#961 core: Remove unused try_parse_value_id_and_type method
  xdsl/parser.py
Labels: core

#960 core: move symbol parsing to lexer
  tests/test_parser.py
  xdsl/parser.py
Labels: core

#963 bug: Fix merge of #960
  xdsl/dialects/pdl.py
Labels: bug

#964 core: Integrate parser for more complex pass pipeline specs into xdsl-opt
  tests/test_pass_from_spec.py
  xdsl/passes.py
  xdsl/transforms/experimental/stencil_global_to_local.py
  xdsl/utils/parse_pipeline.py
  xdsl/xdsl_opt_main.py
Labels: enhancement, xdsl

#965 core: Add HasParent trait
  tests/filecheck/dialects/gpu/terminator_launch.mlir
  tests/test_builtin_traits.py
  tests/test_traits.py
  xdsl/dialects/func.py
  xdsl/dialects/gpu.py
  xdsl/traits.py
Labels: core

#966 CI: Add CODEOWNERS file with math-fehr ownership
  .github/CODEOWNERS
Labels: CI

#971 core: parse region properly
  tests/dialects/test_func.py
  tests/filecheck/dialects/builtin/attrs.mlir
  tests/filecheck/dialects/cf/cf_ops.mlir
  tests/filecheck/dialects/gpu/module_unterminated.mlir
  tests/filecheck/frontend/passes/desymref.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/arith/arith_attrs.mlir
  tests/filecheck/parser-printer/attribute_names.mlir
  tests/filecheck/parser-printer/region_name_clash.mlir
  tests/filecheck/xdsl_opt/split_input.mlir
  tests/test_parser.py
  tests/test_pattern_rewriter.py
  tests/test_rewriter.py
  xdsl/dialects/builtin.py
  xdsl/dialects/func.py
  xdsl/parser.py
  xdsl/printer.py
Labels: core

#975 dialects: Add custom syntax for stencil.index
  tests/dialects/test_stencil.py
  tests/filecheck/dialects/stencil/copy.mlir
  tests/filecheck/dialects/stencil/hdiff.mlir
  tests/filecheck/dialects/stencil/hdiff_gpu.mlir
  tests/filecheck/dialects/stencil/hdiff_inference.mlir
  tests/filecheck/dialects/stencil/hdiff_out_of_bound.mlir
  tests/filecheck/dialects/stencil/heat_stencil.mlir
  tests/filecheck/dialects/stencil/heat_stencil_inference.mlir
  tests/filecheck/dialects/stencil/heat_stencil_inference_ll.mlir
  tests/filecheck/dialects/stencil/laplace.mlir
  tests/filecheck/dialects/stencil/stencil_apply_float_arg.mlir
  tests/filecheck/dialects/stencil/test_access_lowering_1d.mlir
  tests/filecheck/dialects/stencil/test_access_lowering_2d.mlir
  tests/filecheck/dialects/stencil/test_access_lowering_3d.mlir
  tests/filecheck/dialects/stencil/test_apply_lowering.mlir
  tests/filecheck/dialects/stencil/test_castop_lowering_1d.mlir
  tests/filecheck/dialects/stencil/test_castop_lowering_3d.mlir
  tests/filecheck/dialects/stencil/test_loadop_lowering.mlir
  tests/filecheck/dialects/stencil/test_store_lowering.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/stencil/hdiff.mlir
  xdsl/dialects/experimental/stencil.py
  xdsl/transforms/experimental/ConvertStencilToLLMLIR.py
  xdsl/transforms/experimental/stencil_global_to_local.py
Labels: dialects

#969 dialects: riscv: Add DirectiveOp to riscv dialect
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
  xdsl/riscv_asm_writer.py
Labels: dialects

#976 dialects: Add custom syntax to stencil types
  tests/filecheck/dialects/stencil/copy.mlir
  tests/filecheck/dialects/stencil/hdiff.mlir
  tests/filecheck/dialects/stencil/hdiff_gpu.mlir
  tests/filecheck/dialects/stencil/hdiff_inference.mlir
  tests/filecheck/dialects/stencil/hdiff_out_of_bound.mlir
  tests/filecheck/dialects/stencil/heat_stencil.mlir
  tests/filecheck/dialects/stencil/heat_stencil_inference.mlir
  tests/filecheck/dialects/stencil/heat_stencil_inference_ll.mlir
  tests/filecheck/dialects/stencil/laplace.mlir
  tests/filecheck/dialects/stencil/stencil_apply_float_arg.mlir
  tests/filecheck/dialects/stencil/test_access_lowering_1d.mlir
  tests/filecheck/dialects/stencil/test_access_lowering_2d.mlir
  tests/filecheck/dialects/stencil/test_access_lowering_3d.mlir
  tests/filecheck/dialects/stencil/test_apply_lowering.mlir
  tests/filecheck/dialects/stencil/test_castop_lowering_1d.mlir
  tests/filecheck/dialects/stencil/test_castop_lowering_3d.mlir
  tests/filecheck/dialects/stencil/test_funcop_lowering.mlir
  tests/filecheck/dialects/stencil/test_loadop_lowering.mlir
  tests/filecheck/dialects/stencil/test_store_lowering.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/stencil/hdiff.mlir
  xdsl/dialects/experimental/stencil.py
  xdsl/parser.py
Labels: dialects

#977 core: Fix is_structurally_equivalent
  tests/test_ir.py
  xdsl/ir.py
Labels: bug, core

#982 core: Remove some unused and deprecated parser methods
  xdsl/parser.py
Labels: core

#979 core: Allow generic operations
  tests/test_operation_definition.py
  xdsl/irdl.py
  xdsl/utils/hints.py
Labels: core

#987 dialects: Make arith.BinaryOp Generic.
  xdsl/dialects/arith.py
Labels: dialects

#983 core: rename some methods in parser (NFC)
  tests/test_printer.py
  xdsl/dialects/llvm.py
  xdsl/parser.py
Labels: core

#986 dialects: Improve and test memref.Subview.from_static_parameters
  tests/dialects/test_memref.py
  tests/filecheck/mlir-conversion/with-mlir/dialects/memref/subview_constructor.py
  xdsl/dialects/memref.py
  xdsl/transforms/experimental/ConvertStencilToLLMLIR.py
Labels: dialects

#988 dialects: Switch all arith binary operations to init
  tests/dialects/test_arith.py
  tests/dialects/test_cf.py
  tests/dialects/test_memref.py
  tests/test_ir.py
  tests/test_pattern_rewriter.py
  xdsl/dialects/arith.py
  xdsl/frontend/dialects/arith.py
  xdsl/transforms/experimental/Apply1DMPIToStencil.py
  xdsl/transforms/experimental/stencil_global_to_local.py
  xdsl/transforms/lower_mpi.py
Labels: dialects

#978 dialects: Add IRDL dialect
  tests/dialects/test_irdl.py
  tests/filecheck/dialects/irdl/cmath.irdl.mlir
  tests/filecheck/dialects/irdl/cyclic-types.irdl.mlir
  tests/filecheck/dialects/irdl/test-type.irdl.mlir
  tests/filecheck/dialects/irdl/testd.irdl.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/irdl/testd.irdl.mlir
  xdsl/dialects/irdl.py
  xdsl/xdsl_opt_main.py
Labels: dialects

#996 dialects: Factoring out some mpi passes, adding support for pass args
  tests/xdsl_opt/test_xdsl_opt.py
  xdsl/dialects/experimental/stencil.py
  xdsl/transforms/experimental/ConvertStencilToLLMLIR.py
  xdsl/transforms/experimental/stencil_global_to_local.py
  xdsl/transforms/lower_mpi.py
  xdsl/xdsl_opt_main.py
Labels: dialects

#990 dialects: Add custom parsing to arith binary ops
  tests/filecheck/dialects/arith/arith_ops.mlir
  xdsl/dialects/arith.py
Labels: dialects

#989 Core: Allow default values and default factories in dataclasses
  tests/test_pass_from_spec.py
  xdsl/passes.py
Labels: enhancement, xdsl

#1000 CI: Remove Pyright on diffs
  .github/workflows/ci-pyright.yml
Labels: CI

#993 misc: remove extra newline print in riscv assembly
  xdsl/xdsl_opt_main.py
Labels: minor

#997 tests: Only test that we have passes available
  tests/xdsl_opt/test_xdsl_opt.py
Labels: testing

#998 dialects: Add mpi.gather operation with lowering
  tests/dialects/test_mpi_lowering.py
  xdsl/dialects/mpi.py
  xdsl/transforms/lower_mpi.py
Labels: dialects

#991 dialects: Add custom printing to arith binary ops
  docs/database_example.ipynb
  docs/mlir_interoperation.ipynb
  docs/tutorial.ipynb
  docs/xdsl-introduction.ipynb
  tests/filecheck/dialects/scf/scf_ops.mlir
  tests/filecheck/frontend/dialects/arith.py
  xdsl/dialects/arith.py
Labels: dialects

#1001 dialects: Factorize stencil types.
  tests/dialects/test_stencil.py
  xdsl/dialects/experimental/stencil.py
Labels: dialects

#999 core: Add PyRDL constraint variables
  docs/irdl.ipynb
  tests/dialects/test_builtin.py
  tests/filecheck/dialects/arith/arith_invalid.mlir
  tests/test_attribute_definition.py
  tests/test_operation_definition.py
  tests/test_pyrdl.py
  xdsl/dialects/arith.py
  xdsl/dialects/builtin.py
  xdsl/irdl.py
  xdsl/utils/hints.py
Labels: core

#1010 dialects: (llvm) add name printing/parsing to struct
  tests/filecheck/dialects/llvm/example.mlir
  xdsl/dialects/llvm.py
Labels: dialects

#1005 dialects: Add a dialect for high-level distributed memory parallelism operations
  xdsl/dialects/experimental/dmp.py
  xdsl/dialects/experimental/stencil.py
  xdsl/transforms/experimental/StencilShapeInference.py
  xdsl/transforms/experimental/stencil_global_to_local.py
Labels: dialects

#1011 misc: enable --split-input-file --verify-diagnostics
  tests/filecheck/dialects/gpu/all_reduce_body_types.mlir
  tests/filecheck/dialects/gpu/all_reduce_both.mlir
  tests/filecheck/dialects/gpu/invalid.mlir
  xdsl/xdsl_opt_main.py
Labels: enhancement, minor

#1008 dialects: Define ShapeType ABC and use it for MemRefType and StencilType.
  tests/dialects/test_memref.py
  tests/dialects/test_stencil.py
  xdsl/dialects/builtin.py
  xdsl/dialects/experimental/stencil.py
  xdsl/dialects/memref.py
Labels: dialects

#1007 dialects: (riscv) riscv assembly printing using inheritance
  tests/dialects/test_riscv.py
  xdsl/dialects/riscv.py
  xdsl/riscv_asm_writer.py
  xdsl/xdsl_opt_main.py
Labels: dialects

#1002 dialects: Use stencil.IndexAttr in stencil.StencilType
  tests/dialects/test_stencil.py
  xdsl/dialects/experimental/dmp.py
  xdsl/dialects/experimental/stencil.py
  xdsl/dialects/stencil.py
  xdsl/transforms/experimental/ConvertStencilToLLMLIR.py
Labels: dialects

#994 dialects: riscv: Add LabelOp to riscv dialect
  tests/dialects/test_riscv.py
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#1012 dialects: (llvm) add void and function types
  tests/dialects/test_llvm.py
  tests/filecheck/dialects/llvm/example.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/llvm/llvm_types.mlir
  xdsl/dialects/llvm.py
Labels: dialects

#1014 misc: Refactor xdsl-opt to properly hand split-input-files with diagnostics.
  tests/filecheck/dialects/gpu/all_reduce_operation_unknown.mlir
  tests/filecheck/dialects/gpu/invalid.mlir
  tests/xdsl_opt/test_xdsl_opt.py
  tests/xdsl_opt/unverified_program.mlir
  xdsl/xdsl_opt_main.py
Labels: enhancement

#992 dialects: Add custom parsing & printing for func.func
  docs/tutorial.ipynb
  tests/dialects/test_func.py
  tests/filecheck/dialects/cmath/cmath_ops.mlir
  tests/filecheck/dialects/func/func_invalid.mlir
  tests/filecheck/dialects/func/func_ops.mlir
  tests/filecheck/dialects/scf/scf_ops.mlir
  tests/filecheck/frontend/dialects/affine.py
  tests/filecheck/frontend/dialects/builtin.py
  tests/filecheck/frontend/dialects/func.py
  tests/filecheck/frontend/dialects/scf.py
  tests/filecheck/mlir-conversion/with-mlir/dialects/func/func_ops.mlir
  tests/filecheck/parser-printer/builtin_attrs.mlir
  xdsl/dialects/func.py
  xdsl/parser.py
Labels: dialects

#1016 dialects/Stencil: Add tests for store, index and access
  tests/dialects/test_stencil.py
Labels: testing

#1013 core: Add print_unknown_value_error option to printer
  tests/conftest.py
  tests/test_printer.py
  xdsl/ir.py
  xdsl/printer.py
Labels: core

#1020 dialects: (riscv) use helper for comment in label op
  tests/dialects/test_riscv.py
  xdsl/dialects/riscv.py
Labels: dialects, minor

#1022 dialects: switch stencil to carry bounds in SSA values types.
  tests/dialects/test_stencil.py
  tests/filecheck/dialects/stencil/copy.mlir
  tests/filecheck/dialects/stencil/hdiff.mlir
  tests/filecheck/dialects/stencil/hdiff_gpu.mlir
  tests/filecheck/dialects/stencil/hdiff_inference.mlir
  tests/filecheck/dialects/stencil/hdiff_out_of_bound.mlir
  tests/filecheck/dialects/stencil/heat_stencil.mlir
  tests/filecheck/dialects/stencil/heat_stencil_inference.mlir
  tests/filecheck/dialects/stencil/heat_stencil_inference_ll.mlir
  tests/filecheck/dialects/stencil/laplace.mlir
  tests/filecheck/dialects/stencil/stencil_apply_float_arg.mlir
  tests/filecheck/dialects/stencil/test_access_lowering_1d.mlir
  tests/filecheck/dialects/stencil/test_access_lowering_2d.mlir
  tests/filecheck/dialects/stencil/test_access_lowering_3d.mlir
  tests/filecheck/dialects/stencil/test_apply_lowering.mlir
  tests/filecheck/dialects/stencil/test_castop_lowering_1d.mlir
  tests/filecheck/dialects/stencil/test_castop_lowering_3d.mlir
  tests/filecheck/dialects/stencil/test_loadop_lowering.mlir
  tests/filecheck/dialects/stencil/test_store_lowering.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/stencil/hdiff.mlir
  xdsl/dialects/experimental/stencil.py
  xdsl/dialects/stencil.py
  xdsl/transforms/experimental/ConvertStencilToLLMLIR.py
  xdsl/transforms/experimental/StencilShapeInference.py
  xdsl/transforms/experimental/stencil_global_to_local.py
Labels: dialects

#1030 misc: Add support for isa(arg, Literal[...])
  tests/test_is_satisfying_hint.py
  xdsl/utils/hints.py
Labels: enhancement, minor

#1015 core: use truthiness for block ops is_empty check
  docs/Toy/toy/dialects/toy.py
  docs/Toy/toy/frontend/ir_gen.py
  tests/dialects/test_func.py
  tests/test_linked_list.py
  xdsl/dialects/builtin.py
  xdsl/dialects/gpu.py
  xdsl/dialects/irdl.py
  xdsl/interpreters/experimental/pdl.py
  xdsl/ir.py
  xdsl/pattern_rewriter.py
  xdsl/printer.py
  xdsl/rewriter.py
Labels: core

#1034 core: make ImplicitBuilder public
  xdsl/builder.py
Labels: minor, core

#1023 core: Correctly parse identifiers that start with a number [Minor]
  tests/test_pass_lexer.py
  xdsl/utils/parse_pipeline.py
Labels: xdsl, minor

#1032 core: Allow graph regions in printer
  docs/database_example.ipynb
  docs/irdl.ipynb
  docs/xdsl-introduction.ipynb
  tests/filecheck/mlir-conversion/with-mlir/dialects/func/func_ops.mlir
  tests/test_ir.py
  tests/test_printer.py
  xdsl/ir.py
  xdsl/printer.py
Labels: core

#1037 dialects: (func) add init to func.FuncOp
  xdsl/dialects/func.py
Labels: dialects

#1031 transformations: Add a flag for target selection on stencil conversion.
  tests/filecheck/dialects/stencil/hdiff_gpu.mlir
  tests/test_pass_from_spec.py
  xdsl/transforms/experimental/ConvertStencilToLLMLIR.py
  xdsl/xdsl_opt_main.py
Labels: minor, transformations

#1028 dialects: extend the stencil lowerings
  tests/filecheck/dialects/stencil/heat_stencil_inference_ll.mlir
  tests/filecheck/dialects/stencil/iterate.mlir
  tests/filecheck/dialects/stencil/test_funcop_lowering.mlir
  xdsl/dialects/experimental/stencil.py
  xdsl/transforms/experimental/ConvertStencilToLLMLIR.py
Labels: dialects

#1047 testing: Polish stencil shape inference filechecks
  tests/filecheck/transforms/stencil-shape-inference.mlir
Labels: testing

#1046 testing: Merge and simplify convert-stencil-to-ll-mlir filechecks.
  tests/filecheck/dialects/stencil/hdiff.mlir
  tests/filecheck/dialects/stencil/heat_stencil_inference_ll.mlir
  tests/filecheck/dialects/stencil/iterate.mlir
  tests/filecheck/dialects/stencil/stencil_apply_float_arg.mlir
  tests/filecheck/dialects/stencil/test_access_lowering_1d.mlir
  tests/filecheck/dialects/stencil/test_access_lowering_2d.mlir
  tests/filecheck/dialects/stencil/test_access_lowering_3d.mlir
  tests/filecheck/dialects/stencil/test_apply_lowering.mlir
  tests/filecheck/dialects/stencil/test_castop_lowering_1d.mlir
  tests/filecheck/dialects/stencil/test_castop_lowering_3d.mlir
  tests/filecheck/dialects/stencil/test_funcop_lowering.mlir
  tests/filecheck/dialects/stencil/test_loadop_lowering.mlir
  tests/filecheck/dialects/stencil/test_store_lowering.mlir
  tests/filecheck/transforms/convert-stencil-to-ll-mlir.mlir
Labels: testing
