Repository xdslproject/xdsl, pull requests merged in 2023-11, with the labels that each got.

#1652 core: (traits) Add `insert_or_update` method to SymbolTable
  tests/test_traits.py
  xdsl/traits.py
  xdsl/transforms/lower_mpi.py
  xdsl/transforms/printf_to_putchar.py
Labels: core

#1723 core: add AbstractYieldOperation and use in riscv-scf
  xdsl/dialects/riscv_scf.py
  xdsl/dialects/utils.py
Labels: core

#1720 interpreter: (arith) add minf and maxf
  tests/interpreters/test_arith_interpreter.py
  xdsl/interpreters/arith.py
Labels: interpreter

#1721 core: fix parsing of tensors containing negative values
  tests/filecheck/parser-printer/builtin_attrs.mlir
  xdsl/parser/attribute_parser.py
Labels: core

#1722 testing: add a runtime test for relu of a memref
  tests/filecheck/projects/riscv-backend-paper/relu.mlir
Labels: testing

#1724 core: Remove hardcoded angle brackets from Data printing/parsing.
  tests/test_attribute_definition.py
  tests/test_pyrdl.py
  xdsl/dialects/builtin.py
  xdsl/dialects/linalg.py
  xdsl/dialects/llvm.py
  xdsl/dialects/riscv.py
  xdsl/dialects/test.py
  xdsl/parser/attribute_parser.py
  xdsl/parser/base_parser.py
  xdsl/printer.py
Labels: core

#1732 dialects: (riscv) add fmin.d and fmax.d and lower from arith
  tests/filecheck/backend/riscv/convert_arith_to_riscv.mlir
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  tests/interpreters/test_riscv_interpreter.py
  xdsl/backend/riscv/lowering/convert_arith_to_riscv.py
  xdsl/dialects/riscv.py
  xdsl/interpreters/riscv.py
Labels: dialects

#1735 dialects: (linalg) Use abstract yield operation in `linalg.yield`
  tests/dialects/test_linalg.py
  tests/interpreters/test_linalg_interpreter.py
  xdsl/dialects/linalg.py
  xdsl/interpreters/linalg.py
Labels: enhancement, dialects

#1737 dialects: (scf) Use abstract yield operation in `scf.yield`
  xdsl/dialects/scf.py
Labels: enhancement, dialects

#1708 dialects: (hw) Implement HW dialect starting with InnerRefAttr
  tests/filecheck/dialects/hw/hw_ops.mlir
  tests/filecheck/dialects/hw/invalid.mlir
  xdsl/dialects/hw.py
  xdsl/tools/command_line_tool.py
Labels: dialects

#1728 misc: upgrade versioneer to 0.29 using `versioneer install --vendor`
  .gitattributes
  .pre-commit-config.yaml
  pyproject.toml
  setup.py
  versioneer.py
  xdsl/__init__.py
  xdsl/_version.py
Labels: installation

#1729 installation: move non-versioneer settings to pyproject.toml
  pyproject.toml
  setup.cfg
Labels: installation

#1731 installation: move non-dynamic setup to pyproject.toml
  pyproject.toml
  setup.py
Labels: installation

#1741 backend: (snitch) add snitch register allocation
  tests/filecheck/transforms/snitch_register_allocation.mlir
  xdsl/tools/command_line_tool.py
  xdsl/transforms/snitch_register_allocation.py
Labels: backend

#1746 backend: (riscv) add riscv.fcvt.d.w and riscv.fcvt.d.wu ops (v2)
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: backend

#1744 misc: move dependencies out of requirements-optional
  .github/workflows/ci-core.yml
  .github/workflows/ci-mlir.yml
  .github/workflows/ci-notebooks.yml
  .github/workflows/ci-pyright-fails.yml
  Makefile
  pyproject.toml
  requirements-optional.txt
  requirements.txt
  setup.py
Labels: misc

#1747 core: Fix unregistered attribute opaque syntax handling
  tests/filecheck/parser-printer/unregistered_dialect.mlir
  xdsl/parser/attribute_parser.py
  xdsl/printer.py
Labels: core

#1726 core: Implement dialect attribute opaque syntax.
  docs/irdl.ipynb
  docs/tutorial.ipynb
  tests/dialects/test_builtin.py
  tests/dialects/test_gpu.py
  tests/filecheck/dialects/arith/arith_attrs.mlir
  tests/filecheck/dialects/builtin/attrs.mlir
  tests/filecheck/dialects/builtin/dense_array_invalid_element.mlir
  tests/filecheck/dialects/gpu/invalid.mlir
  tests/filecheck/dialects/riscv_snitch/ops.mlir
  tests/filecheck/dialects/snitch/snitch_ops.mlir
  tests/filecheck/dialects/snitch/snitch_to_riscv_lowering.mlir
  tests/filecheck/dialects/snitch_stream/convert_snitch_stream_to_snitch.mlir
  tests/filecheck/dialects/snitch_stream/ops.mlir
  tests/filecheck/dialects/stencil/stencil_ops.mlir
  tests/filecheck/parser-printer/builtin_attrs.mlir
  tests/filecheck/parser-printer/unregistered_dialect.mlir
  tests/filecheck/projects/riscv-backend-paper/add_snitch_stream.mlir
  tests/filecheck/projects/riscv-backend-paper/relu_snitch_stream.mlir
  tests/filecheck/transforms/snitch_register_allocation.mlir
  tests/interpreters/test_wgsl_printer.py
  tests/test_attribute_definition.py
  tests/test_operation_definition.py
  tests/test_printer.py
  xdsl/dialects/builtin.py
  xdsl/dialects/gpu.py
  xdsl/interpreters/experimental/wgsl_printer.py
  xdsl/ir/core.py
  xdsl/irdl/irdl.py
  xdsl/parser/attribute_parser.py
  xdsl/printer.py
Labels: core

#1749 core: implement EnumAttribute
  tests/dialects/test_gpu.py
  tests/filecheck/dialects/arith/arith_attrs.mlir
  tests/filecheck/dialects/gpu/invalid.mlir
  tests/interpreters/test_wgsl_printer.py
  tests/test_attribute_definition.py
  xdsl/dialects/gpu.py
  xdsl/ir/core.py
  xdsl/irdl/declarative_assembly_format_parser.py
  xdsl/parser/attribute_parser.py
  xdsl/utils/lexer.py
  xdsl/utils/str_enum.py
Labels: enhancement, core

#1751 dialects: fix support for fastmath in some arith ops.
  tests/dialects/test_arith.py
  tests/filecheck/dialects/arith/arith_ops.mlir
  xdsl/dialects/arith.py
Labels: dialects

#1753 dialects: Correct affine.for verifier.
  tests/dialects/test_affine.py
  tests/filecheck/dialects/affine/affine_ops.mlir
  xdsl/dialects/affine.py
Labels: dialects

#1756 dialects: Implement memref.alloca_scope and memref.alloca_scope.return.
  tests/filecheck/dialects/memref/memref_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/memref/memref_ops_custom.mlir
  xdsl/dialects/memref.py
Labels: dialects

#1755 dialects : Implement omp.parallel
  tests/filecheck/dialects/omp/ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/omp/ops.mlir
  xdsl/dialects/omp.py
Labels: dialects

#1725 dialects: (scf) Revamp `scf.for` verification logic and messages
  tests/filecheck/dialects/scf/for_args_types.mlir
  tests/filecheck/dialects/scf/for_body_args_number.mlir
  tests/filecheck/dialects/scf/for_body_args_number_much.mlir
  tests/filecheck/dialects/scf/for_body_args_types.mlir
  tests/filecheck/dialects/scf/for_iv.mlir
  tests/filecheck/dialects/scf/for_yield.mlir
  tests/filecheck/dialects/scf/for_yield_number.mlir
  tests/filecheck/dialects/scf/for_yield_types.mlir
  xdsl/dialects/scf.py
Labels: dialects

#1758 dialects: (hw) Add InnerSymTarget class to HW dialect
  tests/dialects/test_hw.py
  xdsl/dialects/hw.py
Labels: dialects

#1762 ci: Add Interactive to release-drafter.yml
  .github/release-drafter.yml
Labels: CI

#1769 misc: remove flake8 config
  pyproject.toml
Labels: misc

#1743 api: added clone function in core.py
  tests/test_mlcontext.py
  xdsl/ir/core.py
Labels: API

#1782 dialects: Add memref.memory_space_cast
  tests/dialects/test_memref.py
  tests/filecheck/dialects/memref/memref_ops.mlir
  xdsl/dialects/memref.py
Labels: dialects

#1727 dialects: (scf) Allow signless integers as induction variable types for `scf.for`
  tests/filecheck/dialects/scf/for_args_types.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/scf/for_custom_non_index_iv.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/scf/for_generic_non_index_iv.mlir
  xdsl/dialects/builtin.py
  xdsl/dialects/scf.py
Labels: dialects

#1785 misc: Add a version flag to xdsl
  tests/filecheck/version.mlir
  xdsl/xdsl_opt_main.py
Labels: enhancement, API

#1787 misc: (Makefile) Use a better message for `tests` target
  Makefile
Labels: misc

#1786 backend: (riscv) Exclude FP registers from RISC-V regalloc in the presence of `snitch_stream` IO ops
  tests/filecheck/backend/riscv/register_allocation_exclude_snitch.mlir
  xdsl/backend/riscv/register_allocation.py
  xdsl/transforms/riscv_register_allocation.py
  xdsl/transforms/snitch_register_allocation.py
Labels: transformations, backend

#1790 dialects: (riscv) add double-precision fmadd and fmsub
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#1794 core: Allow multiple inheritance when one parent is generic
  tests/test_operation_definition.py
  xdsl/utils/hints.py
Labels: core

#1807 interactive: add "remove last pass" button (5/7)
  tests/interactive/test_app.py
  xdsl/interactive/app.py
  xdsl/interactive/app.tcss
Labels: tool, interactive

#1771 transformations: Implement convert-scf-to-openmp
  tests/filecheck/transforms/convert-scf-to-openmp.mlir
  xdsl/tools/command_line_tool.py
  xdsl/transforms/convert_scf_to_openmp.py
Labels: transformations

#1812 dialects: Add binary arithmetic llvm operations
  tests/dialects/test_llvm.py
  tests/filecheck/dialects/llvm/arithmetic.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/llvm/arithmetic.mlir
  xdsl/dialects/llvm.py
Labels: dialects

#1791 dialect: (riscv_snitch) prettify frep custom syntax
  tests/filecheck/dialects/riscv/frep_verification.mlir
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  tests/filecheck/dialects/riscv_snitch/ops.mlir
  tests/filecheck/dialects/snitch_stream/convert_snitch_stream_to_snitch.mlir
  tests/filecheck/projects/riscv-backend-paper/pres.mlir
  xdsl/dialects/riscv_snitch.py
Labels: dialects

#1797 dialects: (riscv) add ability to fld from label
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  xdsl/dialects/riscv.py
Labels: dialects
