Repository xdslproject/xdsl, pull requests merged in 2023-12, with the labels that each got.

#1821 interactive: add comments + docstrings (1/4)
  xdsl/interactive/app.py
Labels: tool, interactive

#1822 interactive: Moving the pass pipeline string construction to own function (2/4)
  xdsl/interactive/app.py
Labels: tool, interactive

#1672 transforms: (dmp) Add a 3D domain decomposition (with n-d generalization)
  tests/dialects/test_dmp.py
  xdsl/dialects/experimental/dmp.py
  xdsl/transforms/experimental/dmp/decompositions.py
  xdsl/transforms/experimental/dmp/stencil_global_to_local.py
Labels: transformations

#1823 interactive: fix pr 1 - error
  xdsl/interactive/app.py
Labels: tool, interactive

#1829 dialects: (memref) Add canonicalize pattern for subviews of subviews
  tests/filecheck/mlir-conversion/with-mlir/dialects/memref/canonicalize.mlir
  xdsl/dialects/memref.py
  xdsl/transforms/canonicalization_patterns/memref.py
  xdsl/transforms/experimental/dmp/stencil_global_to_local.py
Labels: dialects

#1081 tests: Add a test construct of a simple stencil dialect use in CI
  stencil1d.mlir
  tests/dialects/test_stencil.py
  xdsl/dialects/stencil.py
Labels: testing, inactive

#1599 transformations: add interepreter-based contant folding pass
  tests/filecheck/dialects/arith/arith_constant_fold_interp.mlir
  xdsl/interpreters/__init__.py
  xdsl/tools/command_line_tool.py
  xdsl/tools/xdsl_run.py
  xdsl/transforms/constant_fold_interp.py
Labels: transformations

#1840 core: add ability to parse MLIR IR that drops dialect names from operations
  tests/filecheck/mlir-conversion/with-mlir/scope.mlir
  tests/filecheck/parser-printer/scope.mlir
  tests/test_ir.py
  xdsl/ir/core.py
  xdsl/parser/base_parser.py
  xdsl/parser/core.py
Labels: core

#1834 interactive: adding function that takes a pipelinepasspsec and returns its strings+ tests
  tests/test_parse_spec_format.py
  tests/test_pass_lexer.py
  xdsl/utils/parse_pipeline.py
Labels: tool, interactive

#1842 interactive: add function that takes a module pass and outputs a string containing name of pass args + types
  tests/test_pass_to_arg_and_types_str.py
  tests/test_printing_hints.py
  xdsl/passes.py
  xdsl/utils/hints.py
Labels: tool, interactive

#1841 interactive: adding a function that takes a module pass and returns a pipelinepassspec + tests
  tests/test_pass_to_spec.py
  xdsl/passes.py
Labels: tool, interactive

#1838 testing: remove empty filecheck test
  tests/filecheck/backend/riscv/riscv_func_to_riscv_func.mlir
Labels: testing

#1846 transforms: implement gpu-map-parallel-loops
  tests/filecheck/dialects/gpu/ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/gpu/ops.mlir
  tests/filecheck/transforms/gpu-map-parallel-loops.mlir
  xdsl/dialects/gpu.py
  xdsl/ir/core.py
  xdsl/tools/command_line_tool.py
  xdsl/transforms/gpu_map_parallel_loops.py
Labels: dialects, transformations

#1856 dialects: (memref) add alloc(a) dynamic dimension support
  tests/dialects/test_memref.py
  tests/filecheck/dialects/memref/memref_ops.mlir
  xdsl/dialects/memref.py
Labels: dialects

#1847 dialects: Implement affine.min.
  tests/filecheck/dialects/affine/affine_ops.mlir
  xdsl/dialects/affine.py
Labels: dialects

#1848 transforms: Implement scf-parallel-loop-tiling
  tests/filecheck/transforms/scf-parallel-loop-tiling-partial.mlir
  tests/filecheck/transforms/scf-parallel-loop-tiling.mlir
  tests/interactive/test_app.py
  xdsl/tools/command_line_tool.py
  xdsl/transforms/scf_parallel_loop_tiling.py
Labels: transformations

#1852 transformations: Implement unrolled stencil conversion
  tests/filecheck/dialects/stencil/hdiff_gpu.mlir
  tests/filecheck/dialects/stencil/invalid.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/stencil/hdiff.mlir
  tests/filecheck/transforms/convert-stencil-to-ll-mlir-tiled.mlir
  tests/filecheck/transforms/convert-stencil-to-ll-mlir.mlir
  xdsl/dialects/stencil.py
  xdsl/transforms/experimental/convert_stencil_to_ll_mlir.py
Labels: dialects, transformations

#1859 interactive: change normalize_arg_names() in parse_pipeleline.py to return a tuple instead of dict
  xdsl/passes.py
  xdsl/utils/parse_pipeline.py
Labels: tool, interactive

#1861 interactive: add function that counts number of operations in a module
  tests/interactive/test_pass_metrics.py
  xdsl/interactive/pass_metrics.py
Labels: tool, interactive

#1857 interactive: remove flashing error from mlir-opt
  .vscode/launch.json
  xdsl/interactive/app.py
Labels: interactive

#1862 interactive: add test to count_number_of_ops
  tests/interactive/test_pass_metrics.py
Labels: API, interactive

#1836 backend: (riscv) support any memref shape for access lowering
  docs/Toy/toy/tests/test_lower_memref_riscv.py
  tests/filecheck/backend/riscv/memref_to_riscv.mlir
  xdsl/backend/riscv/lowering/convert_memref_to_riscv.py
Labels: backend

#1871 misc: Remove accidentally commited file
  stencil1d.mlir
Labels: minor, misc

#1843 dialects: (linalg) add custom format to linalg.generic
  tests/filecheck/dialects/linalg/linalg_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/linalg/ops.mlir
  xdsl/dialects/linalg.py
Labels: dialects

#1853 transformations: Implement stencil unrolling
  docs/Toy/Toy_Ch0.ipynb
  docs/tutorial.ipynb
  tests/filecheck/transforms/stencil-unroll.mlir
  tests/interactive/test_app.py
  xdsl/tools/command_line_tool.py
  xdsl/transforms/stencil_unroll.py
Labels: transformations

#1839 backend: (riscv) add mechansim to reserve and unreserve registers
  tests/backend/riscv/test_register_queue.py
  xdsl/backend/riscv/register_allocation.py
  xdsl/backend/riscv/register_queue.py
Labels: backend

#1872 core: correct `__str__`/`__repr__` usage in ParseError
  tests/interactive/test_app.py
  xdsl/utils/exceptions.py
Labels: core

#1873 dialects: Refactor and improve llvm type parsing.
  xdsl/dialects/llvm.py
Labels: dialects

#1874 dialects: switch llvm to properties.
  tests/filecheck/dialects/llvm/example.mlir
  xdsl/dialects/llvm.py
Labels: dialects

#1864 interactive: add ability to input parameters on passes that have arguments
  tests/interactive/test_app.py
  xdsl/interactive/add_arguments_screen.py
  xdsl/interactive/add_arguments_screen.tcss
  xdsl/interactive/app.py
Labels: tool, interactive

#1865 interactive: add number of operations to visual and toggle between 2 modes
  tests/interactive/test_app.py
  xdsl/interactive/app.py
  xdsl/interactive/app.tcss
Labels: tool, interactive

#1837 backend: (riscv) fix function lowering with mixed floats and ints
  tests/backend/riscv/test_utils.py
  tests/filecheck/backend/riscv/convert_func_to_riscv_func.mlir
  xdsl/backend/riscv/lowering/convert_func_to_riscv_func.py
  xdsl/backend/riscv/lowering/utils.py
Labels: backend

#1830 dialects: Add missing verifiers for PDL operations
  tests/filecheck/dialects/pdl/custom-format-empty-rewriter-with-root-op.mlir
  tests/filecheck/dialects/pdl/custom-format-empty-rewriter.mlir
  tests/filecheck/dialects/pdl/custom-format-external-rewriter-with-arg.mlir
  tests/filecheck/dialects/pdl/custom-format-external-rewriter.mlir
  tests/filecheck/dialects/pdl/custom-format-inline-rewriter.mlir
  tests/filecheck/dialects/pdl/pdl_attribute.mlir
  tests/filecheck/dialects/pdl/pdl_native_constraint.mlir
  tests/filecheck/dialects/pdl/pdl_native_rewrite.mlir
  tests/filecheck/dialects/pdl/pdl_operand.mlir
  tests/filecheck/dialects/pdl/pdl_operation.mlir
  tests/filecheck/dialects/pdl/pdl_range.mlir
  tests/filecheck/dialects/pdl/pdl_replace.mlir
  tests/filecheck/dialects/pdl/pdl_result.mlir
  tests/filecheck/dialects/pdl/pdl_type.mlir
  tests/filecheck/dialects/pdl/verifiers.mlir
  xdsl/dialects/pdl.py
Labels: dialects

#1879 misc: make VSCode Pylance happy with int type
  xdsl/dialects/builtin.py
Labels: bug, minor, misc

#1876 core: make ConstraintVar frozen
  xdsl/irdl/irdl.py
Labels: core

#1825 dialects: Use IntAttr in Vector/Tensor/MemRef types
  docs/Toy/toy/dialects/toy.py
  docs/Toy/toy/frontend/ir_gen.py
  docs/Toy/toy/rewrites/lower_toy_affine.py
  docs/Toy/toy/tests/test_ir_gen.py
  docs/Toy/toy/tests/test_lower_memref_riscv.py
  docs/irdl.ipynb
  docs/tutorial.ipynb
  tests/backend/riscv/test_utils.py
  tests/dialects/test_builtin.py
  tests/dialects/test_gpu.py
  tests/dialects/test_memref.py
  tests/dialects/test_stencil.py
  tests/dialects/test_vector.py
  tests/interpreters/test_affine_interpreter.py
  tests/interpreters/test_linalg_interpreter.py
  tests/interpreters/test_memref_interpreter.py
  tests/interpreters/test_wgsl_printer.py
  xdsl/dialects/builtin.py
  xdsl/dialects/gpu.py
  xdsl/dialects/memref.py
  xdsl/dialects/vector.py
  xdsl/interpreters/experimental/wgpu.py
  xdsl/parser/attribute_parser.py
  xdsl/printer.py
  xdsl/transforms/experimental/convert_stencil_to_ll_mlir.py
  xdsl/transforms/experimental/hls_convert_stencil_to_ll_mlir.py
  xdsl/transforms/lower_mpi.py
  xdsl/transforms/printf_to_llvm.py
Labels: dialects

#1826 dialects (arith): Add arith.addui_extended operation
  tests/dialects/test_arith.py
  tests/filecheck/dialects/arith/arith_ops.mlir
  tests/filecheck/dialects/arith/arith_ops_custom.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/arith/arith_ops_custom.mlir
  xdsl/dialects/arith.py
Labels: dialects

#1814 tests: (math) Add constructor tests for Math dialect
  tests/dialects/test_math.py
  xdsl/dialects/experimental/math.py
Labels: testing

#1878 interpreter: don't use wgpu interpreter functions for constant folding
  xdsl/transforms/constant_fold_interp.py
Labels: bug, transformations, interpreter

#1882 dialects: LLVM updates.
  xdsl/dialects/llvm.py
Labels: dialects

#1881 dialects: Switch math to properties.
  xdsl/dialects/experimental/math.py
Labels: dialects

#1870 interactive: add diff to operation count table
  tests/interactive/test_pass_metrics.py
  xdsl/interactive/app.py
  xdsl/interactive/app.tcss
  xdsl/interactive/pass_metrics.py
Labels: tool, interactive

#1877 backend: (riscv) don't dce after lowering arith
  xdsl/backend/riscv/lowering/convert_arith_to_riscv.py
Labels: backend

#1875 backend: (riscv) reserve iter arg from allocation inside of riscv_scf body
  tests/filecheck/projects/riscv-backend-paper/ddot_regalloc.mlir
  xdsl/backend/riscv/register_allocation.py
Labels: bug, backend

#1888 core: Expose InsertPoint class (NFC)
  docs/Toy/toy/rewrites/lower_toy_affine.py
  tests/test_op_builder.py
  xdsl/builder.py
Labels: core

#1889 CI: Fix user name for api key
  .github/workflows/pythonpublish.yml
Labels: CI

#1890 core: Add constructors to `Builder` and `InsertPoint`
  docs/Toy/toy/frontend/ir_gen.py
  docs/Toy/toy/rewrites/lower_toy_affine.py
  tests/test_op_builder.py
  xdsl/builder.py
  xdsl/dialects/irdl/pyrdl_to_irdl.py
Labels: core

#1891 core: Add methods to create blocks with the builder
  tests/test_op_builder.py
  xdsl/builder.py
Labels: core

#1892 core: Add callbacks to the `Builder`
  tests/test_op_builder.py
  xdsl/builder.py
Labels: core

#1909 fix attribute docstring
  xdsl/parser/attribute_parser.py
Labels: documentation

#1913 dialects (pdl): Add better verifiers to `pdl.pattern`
  tests/filecheck/dialects/pdl/verifiers.mlir
  xdsl/dialects/pdl.py
Labels: dialects

#1903 core: Add a worklist for pattern rewriting
  tests/pattern_rewriter/test_pattern_rewriter.py
  tests/pattern_rewriter/test_worklist.py
  xdsl/pattern_rewriter.py
Labels: core

#1915 core: Add ` ` and `\n` directives to assembly format
  tests/test_declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format_parser.py
Labels: core

#1904 core: Add options to `walk` to control traversal order
  tests/test_ir.py
  xdsl/ir/core.py
Labels: core

#1911 core: Register passes lazily
  tests/test_cli.py
  tests/xdsl_opt/test_xdsl_opt.py
  xdsl/interactive/app.py
  xdsl/tools/command_line_tool.py
  xdsl/xdsl_opt_main.py
Labels: core

#1912 transforms: Canonicalize without the MLContext
  xdsl/transforms/canonicalize.py
Labels: transformations

#1914 dialects (onnx): Initial onnx dialect support
  tests/filecheck/dialects/onnx/onnx_invalid.mlir
  tests/filecheck/dialects/onnx/onnx_ops.mlir
  xdsl/dialects/onnx.py
  xdsl/tools/command_line_tool.py
Labels: dialects
