Repository xdslproject/xdsl, pull requests merged in 2023-07, with the labels that each got.

#1195 dialects: (affine) add result_types to For from_region helper
  tests/dialects/test_affine.py
  tests/test_frontend_op_inserter.py
  xdsl/dialects/affine.py
  xdsl/frontend/code_generation.py
Labels: dialects

#1217 interpreter: (cf) add cf interpreter functions and extend arith
  tests/interpreters/test_arith_interpreter.py
  tests/interpreters/test_cf_interpreter.py
  xdsl/interpreter.py
  xdsl/interpreters/arith.py
  xdsl/interpreters/cf.py
Labels: interpreter

#1209 dialects: (affine) use maps in affine.for bounds, and add some helpers
  tests/dialects/test_affine.py
  tests/filecheck/dialects/affine/affine_ops.mlir
  tests/filecheck/dialects/affine/examples.mlir
  tests/filecheck/frontend/dialects/affine.py
  xdsl/dialects/affine.py
  xdsl/dialects/builtin.py
  xdsl/ir/affine/affine_expr.py
  xdsl/ir/affine/affine_map.py
Labels: dialects

#1212 dialects: (riscv) initial arith lowering
  tests/filecheck/backend/riscv/riscv_arith_lowering.mlir
  xdsl/backend/riscv/lowering/riscv_arith_lowering.py
  xdsl/xdsl_opt_main.py
Labels: dialects

#1219 misc: Add coverage generation rules to Makefile
  Makefile
Labels: minor

#1226 interpreter: (scf) add some scf function implementations
  tests/interpreters/test_cf_interpreter.py
  tests/interpreters/test_scf_interpreter.py
  xdsl/interpreter.py
  xdsl/interpreters/scf.py
Labels: interpreter

#1228 documentation: (toy) rename passes that are not dce
  docs/Toy/toy/rewrites/optimise_toy.py
  docs/Toy/toy/rewrites/shape_inference.py
Labels: documentation

#1229 interpreter: (ShapedArray) add some methods to ShapedArray
  tests/interpreters/test_shaped_array.py
  xdsl/interpreters/shaped_array.py
Labels: interpreter

#1223 documentation: (toy) toy cli interprets by default
  docs/Toy/examples/codegen.toy
  docs/Toy/examples/interpret.toy
  docs/Toy/examples/scalar.toy
  docs/Toy/examples/tests/infer_shapes.mlir
  docs/Toy/examples/tests/inline.mlir
  docs/Toy/examples/tests/optimise_toy.mlir
  docs/Toy/toy/__main__.py
  docs/Toy/toy/compiler.py
  docs/Toy/toy/interpreter.py
Labels: documentation

#1230 interpreter: (scf) add scf.if impl
  tests/interpreters/test_scf_interpreter.py
  xdsl/interpreters/scf.py
Labels: interpreter

#1235 dialects: (riscv_func) make riscv_func callable
  tests/filecheck/dialects/riscv_func/lower_riscv_func.mlir
  xdsl/dialects/riscv_func.py
  xdsl/frontend/code_generation.py
  xdsl/transforms/lower_riscv_func.py
Labels: dialects

#1234 misc: remove unused import in notebook
  docs/Toy/Toy_Ch2.ipynb
Labels: minor

#1233 dialects: (affine) add some helpers to AffineMap
  tests/test_affine_builtins.py
  xdsl/ir/affine/affine_map.py
Labels: dialects

#1225 dialects: (scf) Enhance and fix scf.for verification
  tests/dialects/test_scf.py
  tests/filecheck/dialects/scf/for_args_types.mlir
  tests/filecheck/dialects/scf/for_yield.mlir
  xdsl/dialects/scf.py
Labels: dialects

#1236 dialects: (llvm) add constant, return, call intrinsic
  tests/filecheck/mlir-conversion/with-mlir/dialects/llvm/llvm_func.mlir
  xdsl/dialects/llvm.py
Labels: dialects

#1211 core: Extract AttrParser out of Parser
  tests/test_attribute_definition.py
  tests/test_printer.py
  tests/test_pyrdl.py
  xdsl/dialects/builtin.py
  xdsl/dialects/experimental/dmp.py
  xdsl/dialects/experimental/fir.py
  xdsl/dialects/gpu.py
  xdsl/dialects/linalg.py
  xdsl/dialects/llvm.py
  xdsl/dialects/memref.py
  xdsl/dialects/riscv.py
  xdsl/dialects/stencil.py
  xdsl/dialects/test.py
  xdsl/ir/core.py
  xdsl/parser/__init__.py
  xdsl/parser/affine_parser.py
  xdsl/parser/attribute_parser.py
  xdsl/parser/core.py
Labels: core

#1242 tests: Remove redundant verify
  tests/test_attribute_definition.py
Labels: testing, minor

#1245 dialects: Fix LLVM variadic functions
  tests/dialects/test_llvm.py
  xdsl/dialects/llvm.py
Labels: bug, dialects, minor

#1220 dialects/riscv: Add liveness block naive register allocation strategy
  tests/filecheck/backend/riscv/register_allocation_liveness_block_naive.mlir
  tests/filecheck/backend/riscv/register_allocation_liveness_block_naive_limited.mlir
  xdsl/backend/riscv/register_allocation.py
  xdsl/transforms/riscv_register_allocation.py
Labels: dialects

#1251 python: Use f-string
  docs/Toy/toy/frontend/toy_ast.py
  setup.py
  xdsl/_version.py
  xdsl/dialects/experimental/dmp.py
  xdsl/dialects/func.py
  xdsl/ir/core.py
  xdsl/parser/attribute_parser.py
  xdsl/transforms/experimental/dmp/stencil_global_to_local.py
  xdsl/transforms/lower_mpi.py
  xdsl/utils/lexer.py
Labels: enhancement, minor

#1241 core: Honour safe erase in rewriter.earse_op
  tests/test_rewriter.py
  xdsl/pattern_rewriter.py
Labels: bug, minor, core

#1198 core: Add SingleBlockImplicitTerminator trait
  tests/test_builtin_traits.py
  xdsl/irdl.py
  xdsl/traits.py
Labels: core

#1238 core: allow insertion anywhere in the block containing matched operation
  tests/test_pattern_rewriter.py
  xdsl/pattern_rewriter.py
Labels: core

#1237 dialects: (riscv) add option to insert exit syscall for "main"
  tests/filecheck/dialects/riscv_func/lower_riscv_func_main.mlir
  xdsl/transforms/lower_riscv_func.py
Labels: dialects

#1258 interpreter: (riscv_func) add interpreter functions for riscv_func
  tests/interpreters/test_riscv_func_interpreter.py
  xdsl/interpreters/riscv_func.py
Labels: interpreter

#1255 lint setup.py
  setup.py
Labels: minor

#1254 interpreter: (memref) add implementations for some memref operations
  tests/interpreters/test_memref_interpreter.py
  xdsl/interpreters/memref.py
Labels: interpreter

#1253 python: Update type hint
  docs/Toy/toy/frontend/toy_ast.py
  xdsl/_version.py
  xdsl/dialects/builtin.py
  xdsl/dialects/cf.py
  xdsl/dialects/cmath.py
  xdsl/dialects/experimental/math.py
  xdsl/dialects/func.py
  xdsl/dialects/memref.py
  xdsl/printer.py
Labels: enhancement, minor

#1262 core: Allow implicit module addition
  tests/filecheck/parser-printer/implicit_module.mlir
  tests/xdsl_opt/incomplete_program.mlir
  tests/xdsl_opt/incomplete_program_residual.mlir
  tests/xdsl_opt/not_module_with_module.mlir
  tests/xdsl_opt/test_xdsl_opt.py
  xdsl/parser/core.py
  xdsl/xdsl_opt_main.py
Labels: core

#1260 misc: Rename Typ to Type
  docs/Toy/Toy_Ch2.ipynb
  docs/Toy/toy/dialects/toy.py
  docs/Toy/toy/interpreter.py
  tests/dialects/test_arith.py
  tests/dialects/test_gpu.py
  tests/dialects/test_llvm.py
  tests/dialects/test_memref.py
  tests/dialects/test_mpi_lowering.py
  tests/dialects/test_pdl.py
  tests/dialects/test_stencil.py
  tests/interpreters/test_pdl_interpreter.py
  xdsl/dialects/arith.py
  xdsl/dialects/builtin.py
  xdsl/dialects/experimental/dmp.py
  xdsl/dialects/experimental/fir.py
  xdsl/dialects/func.py
  xdsl/dialects/gpu.py
  xdsl/dialects/llvm.py
  xdsl/dialects/memref.py
  xdsl/dialects/mpi.py
  xdsl/dialects/printf.py
  xdsl/dialects/scf.py
  xdsl/dialects/stencil.py
  xdsl/dialects/vector.py
  xdsl/interpreters/memref.py
  xdsl/ir/core.py
  xdsl/irdl.py
  xdsl/pattern_rewriter.py
  xdsl/printer.py
  xdsl/transforms/experimental/convert_stencil_to_ll_mlir.py
  xdsl/transforms/experimental/dmp/scatter_gather.py
  xdsl/transforms/experimental/dmp/stencil_global_to_local.py
  xdsl/transforms/experimental/stencil_shape_inference.py
  xdsl/transforms/lower_mpi.py
  xdsl/transforms/printf_to_llvm.py
Labels: enhancement, minor

#1256 dialects: (riscv) add custom format for lw and sw instructions
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  tests/filecheck/with-riscemu/riscv_emulation.mlir
  tests/interpreters/test_riscv_emulator.py
  xdsl/dialects/riscv.py
Labels: dialects

#1259 transformations: Add `reconcile-unrealized-casts` pass to remove no-op casts
  tests/filecheck/transforms/reconcile_unrealized_casts.mlir
  xdsl/transforms/reconcile_unrealized_casts.py
  xdsl/xdsl_opt_main.py
Labels: transformations

#1224 core: Add composition to AffineMap and AffineExpr
  tests/test_affine_builtins.py
  xdsl/ir/affine/affine_expr.py
  xdsl/ir/affine/affine_map.py
Labels: dialects

#1261 tests: (misc) Replace scf with test dialect dependency in pattern rewriter tests
  tests/test_ir.py
  tests/test_pattern_rewriter.py
  tests/test_rewriter.py
Labels: testing

#1248 dialects: Add SingleBlockImplicitTerminator trait to dialects
  tests/dialects/test_scf.py
  tests/filecheck/dialects/gpu/invalid.mlir
  tests/filecheck/dialects/scf/for_args_number.mlir
  tests/filecheck/dialects/scf/for_yield.mlir
  xdsl/dialects/gpu.py
  xdsl/dialects/scf.py
Labels: dialects

#1263 reqs: add typing-extension dependency
  requirements.txt
  xdsl/interpreters/shaped_array.py
Labels: dependencies

#1272 core: Improve exception
  docs/irdl.ipynb
  xdsl/irdl.py
Labels: core

#1268 dev: Experiment with ruff
  .pre-commit-config.yaml
  docs/Toy/toy/rewrites/inline_toy.py
  pyproject.toml
  requirements-optional.txt
  tests/dialects/test_pdl.py
  tests/dialects/test_printf.py
  tests/interpreters/test_riscv_emulator.py
  tests/test_ir.py
  tests/test_mlctx.py
  tests/test_parser.py
  versioneer.py
  xdsl/frontend/passes/desymref.py
  xdsl/transforms/experimental/dmp/scatter_gather.py
Labels: enhancement, CI

#1266 dialects: (riscv) Refactor register allocaton strategies
  tests/filecheck/backend/riscv/register_allocation_liveness_block_naive_limited.mlir
  xdsl/backend/riscv/register_allocation.py
  xdsl/dialects/riscv.py
Labels: dialects

#1160 dialects: (dmp)A bunch of changes that came up when integrating xDSL directly into devito.
  xdsl/dialects/experimental/dmp.py
  xdsl/transforms/experimental/dmp/decompositions.py
  xdsl/transforms/experimental/dmp/scatter_gather.py
  xdsl/transforms/experimental/dmp/stencil_global_to_local.py
  xdsl/xdsl_opt_main.py
Labels: dialects

#1264 interpreter: add cast mechanism
  tests/test_interpreter.py
  xdsl/interpreter.py
  xdsl/interpreters/builtin.py
Labels: interpreter

#1275 reqs: Improve pip command
  Makefile
Labels: enhancement, CI, minor

#1271 dialect: Fix riscv verify
  tests/dialects/test_riscv.py
  xdsl/dialects/riscv.py
Labels: dialects, testing, minor

#1286 misc: fix imports [NFC]
  tests/dialects/test_scf.py
  tests/dialects/test_vector.py
  xdsl/backend/riscv/lowering/riscv_arith_lowering.py
  xdsl/dialects/arith.py
  xdsl/dialects/builtin.py
  xdsl/dialects/cmath.py
  xdsl/dialects/experimental/fir.py
  xdsl/dialects/memref.py
  xdsl/dialects/snitch_runtime.py
  xdsl/dialects/stencil.py
  xdsl/frontend/symref.py
  xdsl/parser/affine_parser.py
  xdsl/parser/attribute_parser.py
  xdsl/rewriter.py
  xdsl/transforms/experimental/convert_stencil_to_ll_mlir.py
  xdsl/transforms/experimental/dmp/stencil_global_to_local.py
Labels: minor

#1257 core: add MLIROptPass, calling mlir-opt
  tests/filecheck/mlir-conversion/with-mlir/mlir_opt.mlir
  tests/filecheck/mlir-conversion/with-mlir/mlir_opt_fail.mlir
  xdsl/transforms/mlir_opt.py
  xdsl/xdsl_opt_main.py
Labels: core

#1285 interpreter: (affine) add interpreter functions
  tests/interpreters/test_affine_interpreter.py
  xdsl/interpreters/affine.py
Labels: interpreter

#1281 dialects: (riscv) remove Register class
  tests/dialects/test_riscv.py
  tests/interpreters/test_riscv_func_interpreter.py
  xdsl/backend/riscv/lowering/riscv_arith_lowering.py
  xdsl/backend/riscv/register_allocation.py
  xdsl/dialects/riscv.py
  xdsl/dialects/riscv_func.py
  xdsl/dialects/snitch.py
  xdsl/transforms/lower_riscv_func.py
Labels: dialects

#1291 dialects: (riscv) fix error message and outdated doc comments
  xdsl/dialects/riscv.py
Labels: bug, dialects, minor

#1292 tools: Split part of xDSLOpt in a CommandLineTool base class.
  tests/xdsl_opt/test_xdsl_opt.py
  xdsl/tools/command_line_tool.py
  xdsl/tools/irdl_to_pyrdl.py
  xdsl/xdsl_opt_main.py
Labels: xdsl

#1297 core: (parser) Make parsing for function type public
  xdsl/parser/attribute_parser.py
  xdsl/parser/core.py
Labels: enhancement, API, minor, core

#1298 core: (printer) Make printing for operand type public
  xdsl/printer.py
Labels: enhancement, API, minor

#1300 core: (parser) factor out parse_regions
  xdsl/parser/core.py
Labels: core

#1172 dialects: (riscv) label region is multi block
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  tests/filecheck/with-riscemu/riscv_emulation.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#1302 core: (parser) factor out resolve_operands
  xdsl/parser/core.py
Labels: core

#1295 ci: Add PR template, delete codeowners
  .github/CODEOWNERS
  .github/pull_request_template.md
Labels: CI, xdsl

#1276 CI: remove `parse_pyright_version.py` and change to simple sed script
  .github/parse_pyright_version.py
  .github/workflows/ci-pyright-fails.yml
  requirements-optional.txt
Labels: CI

#1288 CI: Add a retry on codecov upload.
  .github/workflows/ci-mlir.yml
Labels: CI

#1308 misc: make pyright only runs on .py files
  Makefile
Labels: minor

#1293 dialect: (riscv) add support for trivial custom IR format
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  tests/filecheck/dialects/riscv_func/lower_riscv_func.mlir
  tests/filecheck/dialects/riscv_func/lower_riscv_func_main.mlir
  xdsl/dialects/riscv.py
Labels: enhancement, dialects, minor

#1317 tests: (minor) Remove helper class and adjust test dialect import
  tests/test_ir.py
Labels: testing

#1310 core: Rename _OpT to IRDLOperationInvT (NFC)
  xdsl/irdl.py
Labels: core

#1320 dialects: Add attributes and __init__ to gpu.FuncOp
  tests/dialects/test_gpu.py
  xdsl/dialects/gpu.py
  xdsl/parser/core.py
Labels: dialects

#1306 documentation: (toy) use MLIROptPass to lower affine
  Makefile
  docs/Toy/examples/tests/with-mlir/interpret.toy
  docs/Toy/examples/tests/with-mlir/lit.local.cfg
  docs/Toy/toy/__main__.py
  docs/Toy/toy/compiler.py
Labels: documentation

#1319 core: Fix bug in method, and improve documentation
  tests/test_parser.py
  xdsl/parser/base_parser.py
Labels: core

#1321 dialects: Fix wrong attribute type used for gpu.known_X_size.
  tests/filecheck/dialects/gpu/ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/gpu/ops.mlir
  xdsl/dialects/gpu.py
Labels: bug, dialects

#1325 Interpreter: index type arguments in mlir translate to wgsl
  tests/interpreters/test_wgsl_printer.py
  xdsl/interpreters/experimental/wgsl_printer.py
Labels: interpreter

#1324 Interpreter: Use unsigned integer when calculate array index
  tests/interpreters/test_wgsl_printer.py
  xdsl/interpreters/experimental/wgsl_printer.py
Labels: interpreter

#1322 Interpreter: translate gpu.known_size to wgsl
  tests/interpreters/test_wgsl_printer.py
  xdsl/interpreters/experimental/wgsl_printer.py
Labels: interpreter

#1313 core: Add declarative assembly format specification to IRDL
  tests/test_declarative_assembly_format.py
  xdsl/irdl/__init__.py
  xdsl/irdl/declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format_parser.py
  xdsl/irdl/irdl.py
Labels: core

#1330 Implement is_optional_symbol for MLIR compliance.
  tests/test_traits.py
  xdsl/dialects/builtin.py
  xdsl/interpreter.py
  xdsl/traits.py
Labels: API

#1331 dialects: Add missing Symbol traits.
  xdsl/dialects/experimental/fir.py
  xdsl/dialects/gpu.py
  xdsl/dialects/irdl/irdl.py
  xdsl/dialects/llvm.py
  xdsl/dialects/memref.py
  xdsl/dialects/pdl.py
Labels: dialects

#1329 misc: more detailed error message in pass from spec
  tests/test_pass_from_spec.py
  xdsl/passes.py
Labels: minor

#1340 interpreter: Use `sym_name` when translating a `gpu.func` to WGSL.
  tests/interpreters/test_wgsl_printer.py
  xdsl/interpreters/experimental/wgsl_printer.py
Labels: interpreter

#1318 dialect: (riscv) initial custom syntax
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  tests/filecheck/dialects/riscv_func/lower_riscv_func.mlir
  tests/filecheck/dialects/riscv_func/lower_riscv_func_main.mlir
  xdsl/dialects/riscv.py
Labels: enhancement, dialects, testing

#1333 dialects: Migrate func dialect to use init from get methods
  tests/dialects/test_func.py
  xdsl/dialects/func.py
  xdsl/transforms/lower_mpi.py
  xdsl/transforms/lower_snitch_runtime.py
Labels: enhancement, good first issue, dialects

#1345 dialect: (arith) fix TruncFOp.get
  xdsl/dialects/arith.py
Labels: bug, dialects, minor

#1335 core: Add `clone` to `Region` class
  tests/test_ir.py
  xdsl/ir/core.py
Labels: API, core

#1314 core: Add punctuation directive to the assembly format
  tests/test_declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format_parser.py
Labels: core

#1349 dialect: Deprecating `.get` in llvm dialect
  tests/dialects/test_llvm.py
  xdsl/dialects/llvm.py
  xdsl/transforms/lower_mpi.py
  xdsl/transforms/printf_to_llvm.py
Labels: dialects, API, minor

#1342 documentation: (toy) add toy accelerator dialect
  docs/Toy/examples/interpret.toy
  docs/Toy/examples/tests/accelerate_toy.mlir
  docs/Toy/examples/tests/with-mlir/interpret.toy
  docs/Toy/toy/__main__.py
  docs/Toy/toy/compiler.py
  docs/Toy/toy/dialects/toy_accelerator.py
  docs/Toy/toy/emulator/toy_accelerator_functions.py
  docs/Toy/toy/rewrites/lower_to_toy_accelerator.py
  docs/Toy/toy/rewrites/lower_toy_affine.py
Labels: documentation

#1339 dialects: (riscv) fix multi-block riscv func lowering
  xdsl/transforms/lower_riscv_func.py
Labels: dialects

#1341 interpreter: add implementations for signed/unsigned comparisons
  tests/interpreters/test_comparisons.py
  xdsl/interpreters/comparisons.py
Labels: interpreter

#1338 API: Implement and use the SymbolTable Trait
  tests/filecheck/parser-printer/builtin_attrs.mlir
  tests/test_traits.py
  xdsl/dialects/builtin.py
  xdsl/dialects/gpu.py
  xdsl/dialects/irdl/irdl.py
  xdsl/ir/core.py
  xdsl/traits.py
Labels: API

#1350 dialects: (riscv-scf) Add riscv_scf.for and yield ops
  tests/filecheck/dialects/riscv_scf/ops.mlir
  xdsl/dialects/riscv_scf.py
  xdsl/tools/command_line_tool.py
Labels: dialects

#1343 dialect: (riscv) put attribute before region
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  tests/filecheck/dialects/riscv_func/lower_riscv_func.mlir
  tests/filecheck/dialects/riscv_func/lower_riscv_func_main.mlir
  xdsl/dialects/riscv.py
Labels: dialects, testing, minor

#1323 API: Add reserved attribute names functionality to the printer.
  xdsl/dialects/func.py
  xdsl/printer.py
Labels: API

#1336 API: Merge exception cases in SymbolOpInterface.get_sym_attr_name.
  xdsl/traits.py
Labels: API

#1360 dialect: (riscv) fix redundant space for empty operands
  xdsl/dialects/riscv.py
Labels: dialects, minor

#1346 interpreter: Initial WGPU interpreter.
  .github/workflows/ci-core.yml
  .github/workflows/ci-mlir.yml
  requirements-optional.txt
  tests/interpreters/test_wgpu.py
  xdsl/dialects/gpu.py
  xdsl/interpreters/experimental/wgpu.py
Labels: interpreter

#1361 misc: ignore wgpu interpreter file
  pyproject.toml
Labels: minor

#1358 dialects: Adding integer width arith ops
  tests/dialects/test_arith.py
  xdsl/dialects/arith.py
Labels: dialects

#1367 core: Fix cornercase fail in `isa`
  docs/irdl.ipynb
  tests/test_is_satisfying_hint.py
  xdsl/dialects/builtin.py
Labels: bug, core

#1363 dialect: (riscv) Custom print attributes
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: enhancement, dialects, testing, minor

#1315 core: Add keyword to the declarative assembly format
  tests/test_declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format_parser.py
Labels: core

#1366 transformations: Add TypeConversionPattern
  tests/test_pattern_rewriter.py
  xdsl/ir/core.py
  xdsl/pattern_rewriter.py
Labels: transformations

#1364 dialects: Updating arith to init
  docs/database_example.ipynb
  docs/xdsl-introduction.ipynb
  tests/dialects/test_arith.py
  tests/interpreters/test_arith_interpreter.py
  tests/interpreters/test_cf_interpreter.py
  xdsl/dialects/arith.py
  xdsl/frontend/dialects/arith.py
  xdsl/transforms/experimental/Apply1DMPIToStencil.py
  xdsl/transforms/experimental/dmp/stencil_global_to_local.py
  xdsl/transforms/lower_mpi.py
  xdsl/transforms/printf_to_llvm.py
Labels: dialects

#1365 documentation: (toy) add initial lowering to riscv
  docs/Toy/examples/tests/with-mlir/interpret.toy
  docs/Toy/toy/__main__.py
  docs/Toy/toy/compiler.py
  docs/Toy/toy/rewrites/setup_riscv_pass.py
  docs/Toy/toy/tests/test_add_sections.py
Labels: documentation

#1362 interpreter: (riscv) add interpreter functions
  tests/interpreters/test_riscv_interpreter.py
  xdsl/interpreters/riscv.py
Labels: interpreter
