Repository xdslproject/xdsl, pull requests merged in 2023-08, with the labels that each got.

#1370 dialects: (riscv) add `AssemblySectionOp` and split `DirectiveOp`
  tests/backend/riscv/test_regalloc.py
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#1379 documentation: (toy) add toy accelerator interpreter functions
  docs/Toy/toy/__main__.py
  docs/Toy/toy/compiler.py
  docs/Toy/toy/emulator/toy_accelerator_instruction_functions.py
  docs/Toy/toy/rewrites/helpers.py
  docs/Toy/toy/rewrites/lower_to_toy_accelerator.py
  docs/Toy/toy/rewrites/lower_toy_accelerator_to_riscv.py
Labels: documentation

#1371 dialect: (riscv) Throw parser error if immediate is not given
  tests/dialects/test_riscv.py
  xdsl/dialects/riscv.py
Labels: bug, dialects, minor

#1380 dialects: (stencil) Correct bounds verifier error message
  xdsl/transforms/experimental/convert_stencil_to_ll_mlir.py
Labels: dialects

#1150 interpreter: add xdsl-run
  setup.py
  tests/filecheck/lit.cfg
  tests/filecheck/runner/example.mlir
  tests/filecheck/runner/factorial.mlir
  tests/filecheck/runner/with-wgpu/global_id_inc.mlir
  tests/filecheck/runner/with-wgpu/lit.local.cfg
  xdsl/tools/command_line_tool.py
  xdsl/tools/xdsl_run.py
Labels: interpreter

#1385 transforms: (dmp) Add canonicalization for dmp
  tests/filecheck/dialects/dmp/canonicalize.mlir
  tests/filecheck/dialects/dmp/ops.mlir
  xdsl/dialects/experimental/dmp.py
  xdsl/tools/command_line_tool.py
  xdsl/transforms/canonicalize_dmp.py
Labels: transformations

#1382 dialects: (riscv) add `func` to `riscv_func` lowering
  tests/backend/riscv/test_func_to_riscv_func.py
  tests/filecheck/backend/riscv/riscv_func_to_riscv_func.mlir
  xdsl/backend/riscv/lowering/lower_func_riscv_func.py
  xdsl/tools/command_line_tool.py
Labels: dialects

#1372 dialect: (riscv) Add custom printing for RdImmJumpOperation
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  tests/filecheck/dialects/riscv_func/lower_riscv_func.mlir
  xdsl/dialects/riscv.py
Labels: enhancement, dialects, testing, minor

#1381 interpreter: (riscv) add riscv_scf interpreter functions
  tests/interpreters/test_riscv_scf_interpreter.py
  xdsl/dialects/riscv_scf.py
  xdsl/interpreters/riscv.py
  xdsl/interpreters/riscv_scf.py
Labels: interpreter

#1387 documentation: (toy) add lowering from `memref` to toy accelerator pass
  docs/Toy/toy/__main__.py
  docs/Toy/toy/compiler.py
  docs/Toy/toy/rewrites/lower_memref_riscv.py
  docs/Toy/toy/tests/test_lower_memref_riscv.py
Labels: documentation

#1388 ci: (ruff) add F rule
  docs/Toy/toy/dialects/toy_accelerator.py
  pyproject.toml
  tests/filecheck/frontend/dialects/builtin.py
  tests/filecheck/frontend/dialects/invalid.py
  tests/test_pyrdl.py
  xdsl/dialects/cf.py
  xdsl/dialects/gpu.py
  xdsl/dialects/llvm.py
  xdsl/dialects/memref.py
  xdsl/dialects/stencil.py
  xdsl/frontend/code_generation.py
  xdsl/frontend/python_code_check.py
  xdsl/frontend/type_conversion.py
  xdsl/interpreters/experimental/wgpu.py
  xdsl/interpreters/riscv.py
  xdsl/parser/attribute_parser.py
Labels: enhancement, CI, minor

#1396 ci: run Toy with-mlir tests on CI
  .github/workflows/ci-mlir.yml
  docs/Toy/toy/__main__.py
  docs/Toy/toy/rewrites/lower_memref_riscv.py
  docs/Toy/toy/tests/test_lower_memref_riscv.py
  xdsl/interpreters/riscv.py
Labels: documentation, CI

#1384 documentation: (toy) add lower printf to toy accelerator pass
  docs/Toy/toy/__main__.py
  docs/Toy/toy/compiler.py
  docs/Toy/toy/rewrites/lower_printf_riscv.py
  docs/Toy/toy/tests/test_lower_printf.py
Labels: documentation

#1393 dialect: (riscv) Add custom syntax to RdImmIntegerOperation and LiOp
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  tests/filecheck/dialects/riscv_func/lower_riscv_func.mlir
  tests/filecheck/dialects/riscv_func/lower_riscv_func_main.mlir
  tests/filecheck/dialects/riscv_scf/ops.mlir
  xdsl/dialects/riscv.py
Labels: enhancement, dialects, testing, minor

#1400 misc: disable type ignore
  .github/workflows/update_xdsl_pyodide_build.py
  pyproject.toml
  tests/dialects/test_mpi_lowering.py
  tests/filecheck/frontend/dialects/affine.py
  tests/filecheck/frontend/dialects/arith.py
  tests/filecheck/frontend/dialects/scf.py
  tests/test_declarative_assembly_format.py
  tests/test_frontend_type_conversion.py
  tests/test_operation_builder.py
  tests/test_operation_definition.py
  tests/test_pass_lexer.py
  tests/test_traits.py
  xdsl/_version.py
  xdsl/dialects/builtin.py
  xdsl/frontend/context.py
  xdsl/frontend/dialects/builtin.py
  xdsl/frontend/op_resolver.py
  xdsl/frontend/type_conversion.py
  xdsl/ir/core.py
  xdsl/irdl/irdl.py
  xdsl/parser/core.py
  xdsl/printer.py
  xdsl/rewriting/composable_rewriting/immutable_ir/immutable_ir.py
  xdsl/transforms/lower_mpi.py
  xdsl/utils/hints.py
  xdsl/utils/test_value.py
Labels: CI

#1383 transformations: Add tile-sizes flag to convert-stencil-to-ll-mlir.
  tests/filecheck/transforms/convert-stencil-to-ll-mlir-tiled.mlir
  xdsl/transforms/experimental/convert_stencil_to_ll_mlir.py
Labels: transformations

#1405 transforms: (dmp) Fix small mistake in decomp swaps generation
  xdsl/transforms/experimental/dmp/decompositions.py
Labels: transformations

#1399 core: print error on operation with mismatched types, not next one
  tests/filecheck/parser-printer/operation_signature.mlir
  xdsl/parser/core.py
Labels: core

#1401 documentation: (toy) lower func to riscv func in Toy
  docs/Toy/toy/compiler.py
Labels: documentation

#1410 ci: Add mlir-cpu-runner to mlir-build step
  .github/workflows/ci-mlir.yml
Labels: testing, CI

#1412 Add backend to release-drafter.yml
  .github/release-drafter.yml
Labels: CI

#1394 dialect: (riscv) Add custom syntax to RdRsImmIntegerOperation
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  tests/filecheck/dialects/riscv_scf/ops.mlir
  xdsl/dialects/riscv.py
Labels: enhancement, dialects, testing, minor

#1413 dialect: (riscv) Custom syntax for RsRsOffIntegerOperation
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: enhancement, dialects, testing, minor

#1414 dialect: (riscv) Custom syntax for RsRsImmIntegerOperation
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: enhancement, dialects, testing, minor

#1419 documentation: (toy) use xdsl helpers instead of toy
  docs/Toy/toy/rewrites/helpers.py
  docs/Toy/toy/rewrites/lower_memref_riscv.py
  docs/Toy/toy/rewrites/lower_toy_accelerator_to_riscv.py
Labels: documentation

#1395 dialect: (riscv) Optimise redundant riscv.mv
  tests/filecheck/backend/riscv/optimisation_riscv.mlir
  xdsl/backend/riscv/lowering/optimisation_riscv.py
  xdsl/tools/command_line_tool.py
Labels: minor

#1403 documentation: (toy) lower arith
  docs/Toy/toy/__main__.py
  docs/Toy/toy/compiler.py
  docs/Toy/toy/rewrites/arith_float_to_int.py
Labels: documentation

#1409 dialects: (stencil) Add access pattern analysis
  tests/dialects/test_stencil.py
  xdsl/dialects/stencil.py
Labels: dialects

#1426 documentation: (toy) add register allocation to Toy (no loops)
  docs/Toy/examples/tests/with-mlir/interpret.toy
  docs/Toy/toy/__main__.py
  docs/Toy/toy/compiler.py
Labels: documentation

#1417 dialects: (riscv) add custom assembly format for `flw` and `fsw` instructions
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#1424 dialects: (riscv_scf) add verifier to `ForOp`
  xdsl/dialects/riscv_scf.py
Labels: dialects, minor

#1431 riscv: make CSRRWI immediate mandatory
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  xdsl/dialects/riscv.py
Labels: backend

#1429 documentation: (toy) lower all the way to assembly and emulate in riscemu (no loops)
  docs/Toy/toy/emulator/toy_accelerator_instructions.py
Labels: documentation

#1432 dialect: (riscv) Custom syntax for DirectiveOp
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: enhancement, dialects, testing, minor

#1433 dialect: (riscv) Custom syntax for RsRsImmFloatOperation and RdRsImmFloatOperation
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: enhancement, dialects, testing, minor

#1436 dialect: (riscv) Custom syntax for LabelOp
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  tests/filecheck/dialects/riscv_func/lower_riscv_func.mlir
  tests/filecheck/dialects/riscv_func/lower_riscv_func_main.mlir
  xdsl/dialects/riscv.py
Labels: enhancement, dialects, testing, minor

#1437 backend: (riscv) add infinite register allocation for for loops
  docs/Toy/examples/tests/with-mlir/interpret.toy
  xdsl/backend/riscv/register_allocation.py
Labels: backend

#1416 tests: (riscv) Check custom syntax gives plausible parsing result
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: bug, dialects, testing, minor

#1438 core: (trait) Polish HasParent trait
  tests/test_builtin_traits.py
  xdsl/dialects/irdl/irdl.py
  xdsl/traits.py
Labels: minor, core

#1425 ci: Add ruff rule UP from pyupgrade
  pyproject.toml
Labels: enhancement, CI

#1442 ci: (ruff) Add rule UP034
  pyproject.toml
  xdsl/dialects/riscv.py
Labels: bug, enhancement, CI, minor

#1445 ci: (ruff) Add rule UP038
  docs/Toy/toy/interpreter.py
  docs/Toy/toy/rewrites/lower_to_toy_accelerator.py
  pyproject.toml
  xdsl/dialects/llvm.py
  xdsl/irdl/irdl.py
  xdsl/transforms/experimental/dmp/stencil_global_to_local.py
  xdsl/utils/hints.py
Labels: enhancement, CI, minor

#1443 ci: (ruff) Add rule UP027
  docs/Toy/toy/emulator/toy_accelerator_instructions.py
  pyproject.toml
Labels: enhancement, CI, minor

#1444 ci: (ruff) Add rule UP007
  docs/Toy/toy/interpreter.py
  docs/Toy/toy/rewrites/lower_to_toy_accelerator.py
  pyproject.toml
  xdsl/dialects/llvm.py
  xdsl/frontend/dialects/arith.py
  xdsl/irdl/irdl.py
  xdsl/transforms/experimental/dmp/stencil_global_to_local.py
  xdsl/utils/hints.py
Labels: enhancement, CI, minor

#1446 ci: (riscv) Add rule UP006
  docs/Toy/toy/frontend/lexer.py
  docs/Toy/toy/frontend/parser.py
  pyproject.toml
  tests/dialects/test_vector.py
  tests/test_frontend_type_conversion.py
  xdsl/frontend/code_generation.py
  xdsl/frontend/op_inserter.py
  xdsl/frontend/op_resolver.py
  xdsl/frontend/type_conversion.py
  xdsl/transforms/experimental/Apply1DMPIToStencil.py
  xdsl/transforms/lower_snitch.py
  xdsl/xdsl_opt_main.py
Labels: enhancement, CI, minor

#1449 misc: fix irdl notebook parser param
  docs/irdl.ipynb
Labels: bug, documentation

#1447 ci: (ruff) Add rule UP032
  pyproject.toml
  xdsl/dialects/func.py
  xdsl/dialects/memref.py
  xdsl/ir/core.py
  xdsl/parser/attribute_parser.py
  xdsl/parser/core.py
  xdsl/transforms/lower_mpi.py
  xdsl/utils/lexer.py
Labels: enhancement, CI, minor

#1355 dialects: (riscv) Add lowering from register-allocated rvscf to riscv labels
  tests/filecheck/backend/rvscf_lowering_labels.mlir
  tests/filecheck/with-riscemu/rvscf_lowering_emu.mlir
  xdsl/backend/riscv/riscv_scf_to_asm.py
  xdsl/tools/command_line_tool.py
Labels: dialects, backend

#1455 misc: import from collections instead of typing
  xdsl/backend/riscv/riscv_scf_to_asm.py
Labels: bug, CI

#1456 testing: (rsicv) add integer test to for loop lowering
  tests/filecheck/backend/rvscf_lowering_labels.mlir
  xdsl/dialects/riscv_scf.py
Labels: testing, backend

#1457 backend: (riscv) fix riscv_scf lowering
  docs/Toy/examples/tests/with-mlir/interpret.toy
  docs/Toy/toy/compiler.py
  tests/filecheck/backend/rvscf_lowering_labels.mlir
  xdsl/backend/riscv/riscv_scf_to_asm.py
Labels: backend

#1461 misc: (make) make without arguments no longer deletes `venv`
  Makefile
Labels: minor

#1464 backend: (riscv) unify GetRegister ops
  xdsl/dialects/riscv.py
  xdsl/transforms/lower_riscv_func.py
Labels: backend

#1451 interpreter: (memref) add interpreter function for global memref
  tests/interpreters/test_memref_interpreter.py
  xdsl/interpreters/memref.py
Labels: interpreter

#980 dialects: Add the basic concept of compilation targets
  tests/riscv/test_abi_spec.py
  xdsl/backend/riscv/targets.py
Labels: backend

#1467 core: unify some attribute printing/parsing methods
  xdsl/dialects/func.py
  xdsl/dialects/riscv.py
  xdsl/parser/core.py
  xdsl/printer.py
Labels: core

#1466 ci: (ruff) Add rule PT for pytest
  pyproject.toml
  tests/test_parser_error.py
Labels: CI, minor

#1458 backend: (riscv) fix scf to riscv_scf lowering, add matmul test
  docs/Toy/examples/tests/with-mlir/interpret.toy
  docs/Toy/examples/tests/with-mlir/matmul.mlir
  docs/Toy/toy/compiler.py
  tests/filecheck/backend/rvscf_lowering_labels.mlir
  tests/filecheck/backend/rvscf_scf_lowering.mlir
  xdsl/backend/riscv/lowering/scf_to_riscv_scf.py
  xdsl/backend/riscv/riscv_scf_to_asm.py
Labels: bug, backend

#1460 backend: (riscv) add register allocation for loop-carried scf_for vars
  docs/Toy/examples/tests/with-mlir/interpret.toy
  docs/Toy/toy/compiler.py
  tests/filecheck/backend/riscv/riscv_register_allocation_jregs.mlir
  tests/filecheck/backend/rvscf_lowering_labels.mlir
  xdsl/backend/riscv/register_allocation.py
  xdsl/backend/riscv/riscv_scf_to_asm.py
Labels: backend

#1450 dialects: (arith) deprecate Constant.from_attr and .from_float_and_width
  docs/irdl.ipynb
  docs/mlir_interoperation.ipynb
  docs/tutorial.ipynb
  tests/dialects/test_arith.py
  tests/dialects/test_builtin.py
  tests/dialects/test_func.py
  tests/dialects/test_linalg.py
  tests/dialects/test_memref.py
  tests/test_frontend_op_resolver.py
  tests/test_ir.py
  tests/test_pattern_rewriter.py
  xdsl/dialects/arith.py
  xdsl/transforms/experimental/Apply1DMPIToStencil.py
Labels: dialects

#1477 tests: (riscv, memref) use f32 in memref to riscv lowering test
  docs/Toy/toy/tests/test_lower_memref_riscv.py
Labels: testing, backend

#1476 interpreter: (pdl) add result op implementation
  tests/interpreters/test_pdl_interpreter.py
  xdsl/dialects/pdl.py
  xdsl/interpreters/experimental/pdl.py
Labels: interpreter

#1316 core: Add operands in declarative assembly format
  tests/test_declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format_parser.py
Labels: core

#1481 dialects: (func) add custom syntax to func.call
  tests/filecheck/dialects/func/func_ops.mlir
  tests/filecheck/dialects/snitch_runtime/lower_snrt_to_func.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/func/func_ops.mlir
  xdsl/dialects/func.py
Labels: dialects

#1415 core: add canonicalization pattern and use in Toy
  docs/Toy/toy/compiler.py
  docs/Toy/toy/dialects/toy.py
  docs/Toy/toy/rewrites/optimise_toy.py
  xdsl/dialects/builtin.py
  xdsl/ir/core.py
  xdsl/traits.py
  xdsl/transforms/canonicalize/canonicalize_pass.py
Labels: core

#1463 backend: (riscv) move convert_float_to_int to own helpers file in utils
  tests/utils/test_bitwise_casts.py
  xdsl/backend/riscv/lowering/riscv_arith_lowering.py
  xdsl/utils/bitwise_casts.py
Labels: backend

#1486 backend: (riscv) use canonicalization to optimize riscv
  docs/Toy/toy/compiler.py
  tests/filecheck/backend/riscv/optimisation_riscv.mlir
  xdsl/backend/riscv/lowering/optimisation_riscv.py
  xdsl/dialects/riscv.py
  xdsl/tools/command_line_tool.py
  xdsl/transforms/canonicalize.py
Labels: backend

#1478 backend: (riscv) unify naming in backend.riscv.lowering
  docs/Toy/toy/compiler.py
  tests/backend/riscv/test_func_to_riscv_func.py
  tests/filecheck/backend/riscv/riscv_arith_lowering.mlir
  tests/filecheck/backend/riscv/riscv_func_to_riscv_func.mlir
  tests/filecheck/backend/rvscf_scf_lowering.mlir
  xdsl/backend/riscv/lowering/convert_arith_to_riscv.py
  xdsl/backend/riscv/lowering/convert_func_to_riscv_func.py
  xdsl/backend/riscv/lowering/convert_scf_to_riscv_scf.py
  xdsl/backend/riscv/lowering/optimise_riscv.py
  xdsl/dialects/riscv.py
  xdsl/tools/command_line_tool.py
Labels: backend

#1487 misc: remove some deprecated methods in xDSL
  xdsl/dialects/arith.py
  xdsl/dialects/func.py
  xdsl/dialects/llvm.py
  xdsl/dialects/scf.py
  xdsl/ir/core.py
  xdsl/printer.py
  xdsl/transforms/experimental/Apply1DMPIToStencil.py
  xdsl/transforms/printf_to_llvm.py
Labels: xdsl, minor

#1488 core: Add properties to Operation
  tests/filecheck/parser-printer/operation_with_properties.mlir
  xdsl/dialects/builtin.py
  xdsl/ir/core.py
  xdsl/parser/core.py
  xdsl/printer.py
Labels: core

#1489 core: Move Operation create/build/init parameters to named arguments
  docs/tutorial.ipynb
  tests/backend/riscv/test_utils.py
  tests/filecheck/parser-printer/operation_with_properties.mlir
  tests/test_traits.py
  xdsl/backend/riscv/lowering/utils.py
  xdsl/dialects/builtin.py
  xdsl/dialects/gpu.py
  xdsl/dialects/memref.py
  xdsl/ir/core.py
  xdsl/irdl/irdl.py
  xdsl/parser/core.py
  xdsl/printer.py
  xdsl/transforms/printf_to_putchar.py
Labels: core

#1485 dialects: (riscv_func) add custom syntax to mirror func
  tests/filecheck/backend/riscv/riscv_func_to_riscv_func.mlir
  tests/filecheck/backend/rvscf_lowering_labels.mlir
  tests/filecheck/dialects/riscv_func/lower_riscv_func.mlir
  tests/filecheck/dialects/riscv_func/lower_riscv_func_main.mlir
  tests/filecheck/dialects/riscv_func/riscv_func_ops.mlir
  tests/interpreters/test_riscv_func_interpreter.py
  xdsl/backend/riscv/lowering/convert_func_to_riscv_func.py
  xdsl/dialects/func.py
  xdsl/dialects/riscv_func.py
  xdsl/dialects/utils.py
  xdsl/interpreters/riscv_func.py
  xdsl/transforms/lower_riscv_func.py
Labels: dialects, backend

#1491 testing: expose and use a predefined command in lit for xDSL roundtrips.
  tests/filecheck/dialects/arith/arith_attrs.mlir
  tests/filecheck/dialects/arith/arith_ops.mlir
  tests/filecheck/dialects/builtin/attrs.mlir
  tests/filecheck/dialects/builtin/module.mlir
  tests/filecheck/dialects/builtin/unrealized_conv_cast.mlir
  tests/filecheck/dialects/cf/cf_ops.mlir
  tests/filecheck/dialects/cmath/cmath_ops.mlir
  tests/filecheck/dialects/dmp/ops.mlir
  tests/filecheck/dialects/func/func_ops.mlir
  tests/filecheck/dialects/gpu/ops.mlir
  tests/filecheck/dialects/irdl/cmath.irdl.mlir
  tests/filecheck/dialects/irdl/cyclic-types.irdl.mlir
  tests/filecheck/dialects/irdl/test-type.irdl.mlir
  tests/filecheck/dialects/irdl/testd.irdl.mlir
  tests/filecheck/dialects/llvm/array.mlir
  tests/filecheck/dialects/llvm/example.mlir
  tests/filecheck/dialects/llvm/global.mlir
  tests/filecheck/dialects/llvm/pointers.mlir
  tests/filecheck/dialects/memref/memref_ops.mlir
  tests/filecheck/dialects/pdl/custom-format-empty-rewriter-with-root-op.mlir
  tests/filecheck/dialects/pdl/custom-format-empty-rewriter.mlir
  tests/filecheck/dialects/pdl/custom-format-external-rewriter-with-arg.mlir
  tests/filecheck/dialects/pdl/custom-format-external-rewriter.mlir
  tests/filecheck/dialects/pdl/custom-format-inline-rewriter.mlir
  tests/filecheck/dialects/pdl/mlir-tests.mlir
  tests/filecheck/dialects/printf/invalid.mlir
  tests/filecheck/dialects/printf/printf_basics.mlir
  tests/filecheck/dialects/printf/printf_to_llvm.mlir
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  tests/filecheck/dialects/riscv_scf/ops.mlir
  tests/filecheck/dialects/scf/reduce.mlir
  tests/filecheck/dialects/scf/scf_ops.mlir
  tests/filecheck/dialects/snitch/snitch_ops.mlir
  tests/filecheck/dialects/snitch_runtime/snitch_runtime_ops.mlir
  tests/filecheck/dialects/stencil/stencil_ops.mlir
  tests/filecheck/dialects/vector/vector_ops.mlir
  tests/filecheck/lit.cfg
Labels: testing

#1494 testing: Fix GENERIC-NEXT filechecks.
  tests/filecheck/dialects/pdl/custom-format-empty-rewriter-with-root-op.mlir
  tests/filecheck/dialects/pdl/custom-format-empty-rewriter.mlir
  tests/filecheck/dialects/pdl/custom-format-external-rewriter-with-arg.mlir
  tests/filecheck/dialects/pdl/custom-format-external-rewriter.mlir
  tests/filecheck/dialects/pdl/custom-format-inline-rewriter.mlir
  tests/filecheck/dialects/riscv/riscv_ops.mlir
Labels: testing

#1496 dialects: Fix printer function of pdl.replace
  tests/filecheck/dialects/pdl/mlir-tests.mlir
  xdsl/dialects/pdl.py
Labels: dialects

#1495 backend: (riscv) make RdRsOperation generic
  tests/backend/riscv/test_regalloc.py
  tests/interpreters/test_riscv_interpreter.py
  xdsl/backend/riscv/lowering/convert_arith_to_riscv.py
  xdsl/backend/riscv/lowering/convert_scf_to_riscv_scf.py
  xdsl/dialects/riscv.py
  xdsl/transforms/lower_riscv_func.py
Labels: backend

#1470 ci: (ruff) add rule PT017
  pyproject.toml
  tests/test_printer.py
Labels: CI, minor

#1498 dialects: (riscv) add fmvop
  tests/filecheck/backend/riscv/optimisation_riscv.mlir
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/backend/riscv/lowering/optimise_riscv.py
  xdsl/dialects/riscv.py
Labels: backend

#1501 misc: add links to ruff documentation in pyproject
  pyproject.toml
Labels: CI, minor

#1502 tests: (riscv) migrate most riscv filecheck ops to custom syntax [NFC]
  tests/filecheck/backend/riscv/register_allocation_liveness_block_naive.mlir
  tests/filecheck/backend/riscv/register_allocation_liveness_block_naive_limited.mlir
  tests/filecheck/backend/riscv/riscv_arith_lowering.mlir
  tests/filecheck/backend/riscv/riscv_register_allocation_block_naive.mlir
  tests/filecheck/backend/riscv/riscv_register_allocation_jregs.mlir
  tests/filecheck/backend/rvscf_lowering_labels.mlir
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  tests/filecheck/dialects/riscv_func/lower_riscv_func.mlir
  tests/filecheck/dialects/snitch/snitch_to_riscv_lowering.mlir
  tests/filecheck/with-riscemu/riscv_emulation.mlir
  tests/filecheck/with-riscemu/rvscf_lowering_emu.mlir
Labels: testing, backend

#1503 backend: (riscv) handle float arguments in func lowering
  tests/backend/riscv/test_func_to_riscv_func.py
  tests/filecheck/backend/riscv/convert_func_to_riscv_func.mlir
  xdsl/backend/riscv/lowering/utils.py
Labels: backend

#1500 backend: (riscv) allocate registers in function bodies only
  tests/backend/riscv/test_regalloc.py
  tests/filecheck/backend/riscv/register_allocation_liveness_block_naive.mlir
  tests/filecheck/backend/riscv/register_allocation_liveness_block_naive_limited.mlir
  tests/filecheck/backend/riscv/riscv_register_allocation_block_naive.mlir
  tests/filecheck/backend/riscv/riscv_register_allocation_jregs.mlir
  tests/interpreters/test_riscv_emulator.py
  xdsl/backend/riscv/register_allocation.py
Labels: backend

#1507 transforms: (riscv) partial lowering of memref to riscv
  docs/Toy/toy/compiler.py
  docs/Toy/toy/rewrites/lower_memref_riscv.py
  docs/Toy/toy/tests/test_lower_memref_riscv.py
  tests/filecheck/backend/riscv/memref_to_riscv.mlir
  xdsl/backend/riscv/lowering/convert_memref_to_riscv.py
  xdsl/tools/command_line_tool.py
Labels: transformations, backend

#1508 backend: (riscv) add optimisations for memref store/load
  tests/filecheck/backend/riscv/memref_to_riscv_opt.mlir
  tests/filecheck/backend/riscv/optimisation_riscv.mlir
  xdsl/backend/riscv/lowering/optimise_riscv.py
  xdsl/dialects/riscv.py
Labels: backend

#1510 documentation: (toy) add optimisation steps to Toy
  docs/Toy/toy/__main__.py
  docs/Toy/toy/compiler.py
  tests/interpreters/test_riscv_interpreter.py
  xdsl/interpreters/riscv.py
Labels: documentation, backend

#1514 backend: (riscv) add riscv-reduce-register-pressure pass
  docs/Toy/toy/compiler.py
  tests/filecheck/backend/riscv_reduce_register_pressure.mlir
  tests/interpreters/test_riscv_interpreter.py
  xdsl/backend/riscv/lowering/reduce_register_pressure.py
  xdsl/interpreters/riscv.py
  xdsl/tools/command_line_tool.py
Labels: backend

#1511 backend: (riscv) Clean up abi and arch specifications
  tests/riscv/test_abi_spec.py
  xdsl/backend/riscv/targets.py
Labels: backend

#1506 backend: (riscv) add RegisterQueue to manage available registers
  tests/backend/riscv/test_register_queue.py
  xdsl/backend/riscv/register_queue.py
  xdsl/dialects/riscv.py
Labels: backend
