Repository xdslproject/xdsl, pull requests merged in 2023-03, with the labels that each got.

#488 dialects: Add AllReduceOp & YieldOp to GPU.
  tests/dialects/test_gpu.py
  tests/filecheck/dialects/gpu/all_reduce_both.mlir
  tests/filecheck/dialects/gpu/all_reduce_neither.mlir
  tests/filecheck/dialects/gpu/all_reduce_types.mlir
  tests/filecheck/dialects/gpu/example.mlir
  tests/filecheck/dialects/gpu/yield_terminate.mlir
  tests/filecheck/dialects/gpu/yield_types.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/gpu/example.mlir
  xdsl/dialects/gpu.py
Labels: dialects

#467 core: Improve AllOf to collect failure data of all constraints
  tests/test_pyrdl.py
  xdsl/irdl.py
Labels: enhancement, xdsl

#483 dialects: Add mlir conversion test for memref ops
  tests/filecheck/dialects/memref/memref_ops.xdsl
  tests/filecheck/mlir-conversion/with-mlir/dialects/memref/memref_ops_mlir_conversion.xdsl
Labels: testing

#494 misc: call parse_module when parsing module
  tests/test_pattern_rewriter.py
Labels: minor

#490 dialects: Add LaunchOp and TerminatorOp to GPU.
  tests/dialects/test_gpu.py
  tests/filecheck/dialects/gpu/all_reduce_body_types.mlir
  tests/filecheck/dialects/gpu/example.mlir
  tests/filecheck/dialects/gpu/launch_args.mlir
  tests/filecheck/dialects/gpu/launch_empty.mlir
  tests/filecheck/dialects/gpu/terminator_launch.mlir
  tests/filecheck/dialects/gpu/terminator_terminate.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/gpu/example.mlir
  xdsl/dialects/gpu.py
Labels: dialects

#458 dialects: Add FastMathFlagsAttr to the Arith dialect.
  tests/filecheck/arith_ops.xdsl
  tests/filecheck/mlir-conversion/with-mlir/dialects/arith/arith_attrs.mlir
  xdsl/dialects/arith.py
Labels: dialects

#497 dialects: Add memref.subview and memref.cast
  tests/dialects/test_memref.py
  tests/filecheck/dialects/memref/memref_ops.xdsl
  tests/filecheck/mlir-conversion/with-mlir/dialects/memref/memref_ops_mlir_conversion.xdsl
  xdsl/dialects/memref.py
Labels: dialects

#454 dialects: Deprecate many constructors in favor of __init__
  docs/Toy/toy/dialect.py
  docs/database_example.ipynb
  docs/irdl.ipynb
  docs/tutorial.ipynb
  docs/xdsl-introduction.ipynb
  tests/dialects/test_affine.py
  tests/dialects/test_builtin.py
  tests/dialects/test_gpu.py
  tests/dialects/test_irdl.py
  tests/dialects/test_memref.py
  tests/dialects/test_vector.py
  tests/test_operation_definition.py
  tests/test_parser.py
  tests/test_printer.py
  xdsl/dialects/arith.py
  xdsl/dialects/builtin.py
  xdsl/dialects/cf.py
  xdsl/dialects/func.py
  xdsl/dialects/gpu.py
  xdsl/dialects/irdl.py
  xdsl/dialects/llvm.py
  xdsl/dialects/memref.py
  xdsl/dialects/mpi.py
  xdsl/dialects/scf.py
  xdsl/frontend/dialects/builtin.py
  xdsl/frontend/symref.py
  xdsl/parser.py
  xdsl/utils/deprecation.py
Labels: dialects, API

#501 tests: Collect tests only from the `test/` directory
  .github/workflows/ci-core.yml
  .github/workflows/ci-mlir.yml
  .github/workflows/ci-notebooks.yml
  setup.cfg
  tests/xdsl_opt/test_xdsl_opt.py
  xdsl/xdsl_opt_main.py
Labels: testing

#504 core: Remove more left-overs from the Python Bindings
  xdsl/__init__.py
Labels: core

#496 misc: add type annotations to build function
  xdsl/dialects/affine.py
  xdsl/dialects/func.py
  xdsl/dialects/gpu.py
  xdsl/dialects/memref.py
  xdsl/ir.py
  xdsl/irdl.py
Labels: enhancement

#498 dialects: Enable validate on func.FuncOp for external functions
  tests/filecheck/func_ops.xdsl
  xdsl/dialects/func.py
Labels: bug, minor

#507 parser: Fix parsing of multiple regions
  tests/filecheck/mlir-conversion/with-mlir/dialects/scf/if.mlir
  tests/test_parser.py
  xdsl/parser.py
Labels: bug, minor, core

#481 mpi: Add a lowering from MPI to llvm+func+builtin
  tests/dialects/test_mpi.py
  tests/dialects/test_mpi_lowering.py
  tests/filecheck/mlir-conversion/with-mlir/dialects/mpi/mpi-hello-world.mlir
  tests/xdsl_opt/test_xdsl_opt.py
  xdsl/dialects/mpi.py
  xdsl/transforms/__init__.py
  xdsl/transforms/lower_mpi.py
  xdsl/xdsl_opt_main.py
Labels: dialects

#509 misc: make ArrayAttr covariant by using tuple instead of list
  docs/irdl.ipynb
  tests/test_attribute_definition.py
  tests/test_mlir_printer.py
  tests/test_pyrdl.py
  xdsl/dialects/arith.py
  xdsl/dialects/builtin.py
  xdsl/dialects/func.py
  xdsl/ir.py
  xdsl/irdl.py
  xdsl/printer.py
Labels: core

#510 misc: add method to parse dictionary attr MLIR style to BaseParser
  xdsl/dialects/builtin.py
  xdsl/parser.py
Labels: minor

#512 dialects: Allow UnrankedMemrefType on relevant existing memref ops.
  tests/dialects/test_memref.py
  xdsl/dialects/memref.py
Labels: dialects, minor

#517 mpi: move `send` and `recv` to consume `llvm.ptr` instead of a `memref`
  tests/dialects/test_mpi.py
  tests/dialects/test_mpi_lowering.py
  tests/filecheck/dialects/mpi/memref_compat.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/mpi/mpi-hello-world.mlir
  xdsl/dialects/mpi.py
  xdsl/transforms/lower_mpi.py
Labels: dialects

#520 misc: minor changes to parser
  xdsl/parser.py
Labels: minor

#513 dialects: Add HostRegisterOp to GPU
  tests/dialects/test_gpu.py
  tests/filecheck/dialects/gpu/example.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/gpu/example.mlir
  xdsl/dialects/gpu.py
Labels: dialects, minor

#502 core: Add `GenericData` to `isa` type checks
  tests/test_is_satisfying_hint.py
  xdsl/utils/hints.py
Labels: core

#431 xDSL/builtin: Add Verifier annotations for vector type and rank check
  tests/dialects/test_builtin.py
  tests/dialects/test_vector.py
  tests/filecheck/dialects/vector/vector_createmask_verify_mask_type.xdsl
  tests/filecheck/dialects/vector/vector_maskedload_mask_rank_check.xdsl
  tests/filecheck/dialects/vector/vector_maskedload_mask_type_checking.xdsl
  tests/filecheck/dialects/vector/vector_maskedload_res_rank_check.xdsl
  tests/filecheck/dialects/vector/vector_maskedstore_mask_rank_check.xdsl
  tests/filecheck/dialects/vector/vector_maskedstore_mask_type_checking.xdsl
  tests/filecheck/dialects/vector/vector_maskedstore_storevec_rank_check.xdsl
  xdsl/dialects/builtin.py
  xdsl/dialects/vector.py
Labels: enhancement, dialects

#522 misc: lint vector.py
  pyright-ci.json
  xdsl/dialects/vector.py
  xdsl/utils/hints.py
Labels: minor

#511 misc: lint builtin.py
  pyright-ci.json
  tests/dialects/test_builtin.py
  xdsl/dialects/builtin.py
Labels: minor

#518 misc: Improve messages
  xdsl/dialects/arith.py
  xdsl/dialects/experimental/stencil.py
  xdsl/irdl.py
  xdsl/utils/deprecation.py
Labels: minor

#527 mpi: add all info generated by mpi-info.c
  xdsl/transforms/lower_mpi.py
Labels: dialects, minor

#524 misc: lint parser.py
  pyright-ci.json
  xdsl/dialects/builtin.py
  xdsl/dialects/memref.py
  xdsl/ir.py
  xdsl/parser.py
  xdsl/utils/exceptions.py
  xdsl/utils/lexer.py
Labels: minor

#530 MPI: Move `isend` and `irecv` to pointers
  tests/dialects/test_mpi.py
  tests/dialects/test_mpi_lowering.py
  tests/filecheck/mlir-conversion/with-mlir/dialects/mpi/mpi-hello-world-async.mlir
  xdsl/dialects/mpi.py
  xdsl/transforms/lower_mpi.py
Labels: dialects

#538 misc: Add `__init__.py` to dialects/experimental folder
  xdsl/dialects/experimental/__init__.py
Labels: minor

#499 dialects: Add filecheck tests for stencil dialect and init rewriting
  tests/dialects/test_scf.py
  tests/filecheck/dialects/stencil/copy.mlir
  tests/filecheck/dialects/stencil/hdiff.mlir
  tests/filecheck/dialects/stencil/laplace.mlir
  tests/filecheck/dialects/stencil/test_funcop_lowering.mlir
  tests/xdsl_opt/test_xdsl_opt.py
  xdsl/dialects/experimental/stencil.py
  xdsl/transforms/experimental/ConvertStencilToLLMLIR.py
  xdsl/xdsl_opt_main.py
Labels: dialects

#537 dialects: Implement scf.parallel
  tests/dialects/test_scf.py
  tests/filecheck/dialects/scf/parallel_bounds.mlir
  tests/filecheck/dialects/scf/parallel_iv.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/scf/parallel.mlir
  xdsl/dialects/scf.py
Labels: dialects, minor

#525 dialects: Clean up type vars for Attribute types
  xdsl/dialects/builtin.py
  xdsl/ir.py
Labels: core

#533 core: Change ssa val `__repr__`
  xdsl/ir.py
Labels: core

#539 arith: Add arith `fptosi` and `sitofp` operations
  tests/dialects/test_arith.py
  xdsl/dialects/arith.py
Labels: dialects

#544 dialects: Add memref.Cast.get.
  tests/dialects/test_memref.py
  xdsl/dialects/memref.py
Labels: dialects, minor

#542 core: remove "verify" method override in irdl_param_attr_definition
  xdsl/dialects/builtin.py
  xdsl/ir.py
  xdsl/irdl.py
Labels: core

#545 dialects: Add a stencil.CastOp -> memref.Cast lowering.
  tests/filecheck/dialects/stencil/test_castop_lowering.mlir
  xdsl/dialects/experimental/stencil.py
  xdsl/transforms/experimental/ConvertStencilToLLMLIR.py
Labels: dialects, minor

#547 docs: A few typo fixes, plus some comments
  docs/xdsl-introduction.ipynb
Labels: documentation

#546 llvm: Add llvm.store operation
  tests/dialects/test_llvm.py
  tests/filecheck/mlir-conversion/with-mlir/dialects/llvm/llvm_pointer_ops.mlir
  xdsl/dialects/llvm.py
Labels: dialects, minor

#550 misc: lint irdl.py
  pyright-ci.json
  xdsl/irdl.py
Labels: minor

#549 dialects: Add stencil.LoadOp -> memref lowering.
  tests/filecheck/dialects/stencil/test_loadop_lowering.mlir
  xdsl/transforms/experimental/ConvertStencilToLLMLIR.py
Labels: dialects, minor

#548 minor: don't backtrack when trying to parse characters
  xdsl/parser.py
Labels: minor

#552 dialects: add PDL dialect
  tests/dialects/test_pdl.py
  tests/filecheck/dialects/pdl/mlir-tests/apply_rewrite_with_no_results.mlir
  tests/filecheck/dialects/pdl/mlir-tests/attribute_with_dict.mlir
  tests/filecheck/dialects/pdl/mlir-tests/attribute_with_loc.mlir
  tests/filecheck/dialects/pdl/mlir-tests/infer_type_from_operation_replace.mlir
  tests/filecheck/dialects/pdl/mlir-tests/infer_type_from_type_used_in_match_0.mlir
  tests/filecheck/dialects/pdl/mlir-tests/infer_type_from_type_used_in_match_1.mlir
  tests/filecheck/dialects/pdl/mlir-tests/infer_type_from_type_used_in_match_2.mlir
  tests/filecheck/dialects/pdl/mlir-tests/infer_type_from_type_used_in_match_3.mlir
  tests/filecheck/dialects/pdl/mlir-tests/operations.mlir
  tests/filecheck/dialects/pdl/mlir-tests/rewrite_multi_root_forced.mlir
  tests/filecheck/dialects/pdl/mlir-tests/rewrite_multi_root_optimal.mlir
  tests/filecheck/dialects/pdl/mlir-tests/rewrite_with_args.mlir
  xdsl/dialects/memref.py
  xdsl/dialects/pdl.py
  xdsl/ir.py
  xdsl/irdl.py
  xdsl/xdsl_opt_main.py
Labels: dialects

#558 misc: Use absolute import for parser
  xdsl/utils/exceptions.py
Labels: minor

#334 xDSL: add immutable core IR structures
  requirements.txt
  tests/rewriting/composable_rewriting/immutable_ir/test_immutable_ir.py
  tests/test_immutable_list.py
  xdsl/rewriting/composable_rewriting/immutable_ir/immutable_ir.py
  xdsl/utils/exceptions.py
  xdsl/utils/immutable_list.py
Labels: xdsl

#562 llvm: Add `ptr.is_typed()` method to check if pointer is typed
  tests/dialects/test_llvm.py
  xdsl/dialects/llvm.py
Labels: dialects, minor

#556 dialects: Add a stencil.ApplyOp to scf.ParallelOp lowering.
  tests/filecheck/dialects/stencil/test_apply_lowering.mlir
  xdsl/dialects/experimental/stencil.py
  xdsl/transforms/experimental/ConvertStencilToLLMLIR.py
Labels: dialects, minor

#565 dialects: Add a stencil.AccesOp -> memref.Load lowering.
  tests/filecheck/dialects/stencil/test_access_lowering.mlir
  tests/filecheck/dialects/stencil/test_apply_lowering.mlir
  tests/filecheck/dialects/stencil/test_loadop_lowering.mlir
  xdsl/dialects/memref.py
  xdsl/transforms/experimental/ConvertStencilToLLMLIR.py
Labels: dialects, minor

#564 misc: Pass SSAValue or IRNode for structural equality checking
  xdsl/ir.py
Labels: minor

#568 printer: Fix printing of named block arguments
  tests/test_printer.py
  xdsl/printer.py
Labels: bug, minor

#566 dialects: Add stencil lowerings and first lowered example.
  tests/filecheck/dialects/stencil/hdiff.mlir
  tests/filecheck/dialects/stencil/test_access_lowering.mlir
  tests/filecheck/dialects/stencil/test_apply_lowering.mlir
  tests/filecheck/dialects/stencil/test_loadop_lowering.mlir
  tests/filecheck/dialects/stencil/test_store_lowering.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/stencil/hdiff.mlir
  xdsl/dialects/experimental/stencil.py
  xdsl/dialects/memref.py
  xdsl/dialects/scf.py
  xdsl/transforms/experimental/ConvertStencilToLLMLIR.py
Labels: dialects

#573 dialects: Make stencil work in 1,2,3D.
  tests/filecheck/dialects/stencil/laplace.mlir
  xdsl/dialects/experimental/stencil.py
  xdsl/transforms/experimental/ConvertStencilToLLMLIR.py
Labels: dialects, minor

#569 misc: lint ir.py
  pyright-ci.json
  xdsl/ir.py
Labels: minor

#570 misc: lint xdsl
  .github/workflows/ci-pyright-fails.yml
  .github/workflows/update_xdsl_pyodide_build.py
  pyproject.toml
  pyright-ci.json
  xdsl/dialects/builtin.py
  xdsl/irdl_mlir_printer.py
Labels: CI

#543 core: Make `break_on` in the `Lexer` private
  xdsl/parser.py
Labels: core

#575 docs: sync toy dialect from workshop repo
  docs/Toy/toy/dialect.py
  docs/Toy/toy/parser.py
  docs/Toy/toy/tests/test_toy.py
  pyproject.toml
Labels: documentation

#577 dialects: Add a stencil.ApplyOp to gpu.LaunchOp lowering.
  docs/database_example.ipynb
  docs/irdl.ipynb
  docs/mlir_interoperation.ipynb
  docs/tutorial.ipynb
  docs/xdsl-introduction.ipynb
  tests/dialects/test_cf.py
  tests/filecheck/irdl_missing_operand.xdsl
  tests/xdsl_opt/test_xdsl_opt.py
  xdsl/dialects/cf.py
  xdsl/dialects/gpu.py
  xdsl/transforms/experimental/ConvertStencilToLLMLIR.py
  xdsl/xdsl_opt_main.py
Labels: dialects, minor

#581 dialects: Add basic shape inference to stencil.
  tests/filecheck/dialects/stencil/copy.mlir
  tests/filecheck/dialects/stencil/hdiff_out_of_bound.mlir
  tests/filecheck/dialects/stencil/laplace.mlir
  tests/filecheck/dialects/stencil/test_access_lowering.mlir
  tests/filecheck/dialects/stencil/test_store_lowering.mlir
  xdsl/dialects/experimental/stencil.py
  xdsl/transforms/experimental/ConvertStencilToLLMLIR.py
Labels: dialects, minor

#591 llvm: PtrToIntOp operation
  tests/dialects/test_llvm.py
  xdsl/dialects/llvm.py
Labels: dialects, minor

#593 math: Add a math dialect and register it to xdsl-opt
  xdsl/dialects/experimental/math.py
  xdsl/xdsl_opt_main.py
Labels: dialects, minor

#594 dialects: Add stencil.ExternalLoadOp lowering
  xdsl/transforms/experimental/ConvertStencilToLLMLIR.py
  xdsl/transforms/experimental/StencilShapeInference.py
Labels: dialects

#592 dialects: refactor stencil lowerings
  docs/mlir_interoperation.ipynb
  tests/filecheck/dialects/stencil/hdiff.mlir
  tests/filecheck/dialects/stencil/hdiff_gpu.mlir
  tests/filecheck/dialects/stencil/hdiff_out_of_bound.mlir
  tests/filecheck/dialects/stencil/test_store_lowering.mlir
  tests/xdsl_opt/test_xdsl_opt.py
  xdsl/transforms/experimental/ConvertStencilToLLMLIR.py
  xdsl/xdsl_opt_main.py
Labels: dialects

#597 stencil: Correct in-bound checks during shape inference
  xdsl/dialects/experimental/stencil.py
  xdsl/transforms/experimental/ConvertStencilToLLMLIR.py
Labels: bug, dialects, minor

#582 core: Add support for multiple variadic regions
  tests/test_operation_builder.py
  tests/test_operation_definition.py
  xdsl/irdl.py
Labels: core

#599 core: Allow to set attributes using their fields
  tests/test_operation_definition.py
  xdsl/irdl.py
Labels: core

#600 dialect: ExtFOp and TruncFOp in arith dialect
  tests/dialects/test_arith.py
  tests/filecheck/arith_ops.xdsl
  tests/filecheck/mlir-conversion/with-mlir/dialects/arith/arith_fp_conv.mlir
  xdsl/dialects/arith.py
Labels: dialects, minor

#578 core: Add traits
  tests/test_traits.py
  xdsl/ir.py
  xdsl/irdl.py
Labels: core

#601 core: IntegerType is an MLIRType
  xdsl/dialects/builtin.py
Labels: dialects, minor

#598 mpi: Add collectives
  tests/dialects/test_mpi_lowering.py
  xdsl/dialects/mpi.py
  xdsl/transforms/lower_mpi.py
Labels: dialects

#396 frontend: Add basic desymref
  docs/mlir_interoperation.ipynb
  tests/filecheck/frontend/passes/desymref.xdsl
  tests/test_rewriter.py
  tests/xdsl_opt/test_xdsl_opt.py
  xdsl/frontend/passes/__init__.py
  xdsl/frontend/passes/desymref.py
  xdsl/frontend/program.py
  xdsl/rewriter.py
  xdsl/xdsl_opt_main.py
Labels: frontend

#590 mpi: Move to preallocated request objects + collectives
  tests/dialects/test_mpi.py
  tests/dialects/test_mpi_lowering.py
  tests/filecheck/mlir-conversion/with-mlir/dialects/mpi/mpi-hello-world-async.mlir
  xdsl/dialects/mpi.py
  xdsl/transforms/lower_mpi.py
Labels: dialects

#612 dialects: Add gpu.AllocOp
  tests/dialects/test_gpu.py
  tests/filecheck/dialects/gpu/alloc_wrong_dynamic_size.mlir
  tests/filecheck/dialects/gpu/ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/gpu/ops.mlir
  xdsl/dialects/gpu.py
Labels: dialects

#613 dialects: Add gpu.DeallocOp
  tests/dialects/test_gpu.py
  tests/filecheck/dialects/gpu/ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/gpu/ops.mlir
  xdsl/dialects/gpu.py
Labels: dialects, minor

#616 core: Move unregistered operation logic to MLContext
  tests/test_mlctx.py
  xdsl/dialects/builtin.py
  xdsl/ir.py
  xdsl/parser.py
Labels: core

#620 dialects: Stencil dialect minor enhancement
  xdsl/dialects/experimental/stencil.py
  xdsl/transforms/experimental/ConvertStencilToLLMLIR.py
Labels: dialects, minor

#619 dialects: LLVM array type
  tests/dialects/test_llvm.py
  tests/filecheck/dialects/llvm/array.mlir
  tests/filecheck/mlir-conversion/llvm_test.xdsl
  xdsl/dialects/llvm.py
Labels: dialects, minor

#623 misc: annotate raise_error with NoReturn
  xdsl/parser.py
Labels: minor

#624 misc: specify paths for pyright
  pyproject.toml
Labels: CI, minor

#617 core: add OpBuilder
  docs/Toy/toy/ir_gen.py
  docs/Toy/toy/tests/test_ir_gen.py
  tests/dialects/test_op_builder.py
  xdsl/builder.py
  xdsl/ir.py
Labels: core

#615 bench: Add benchmark for the MLIR parser
  bench/parser/bench_lexer.py
  bench/parser/bench_parser.py
Labels: bench

#621 dialects: Unrealized conversion cast operation
  tests/dialects/test_builtin.py
  tests/filecheck/dialects/builtin/unrealized_conv_cast.xdsl
  tests/filecheck/mlir-conversion/with-mlir/dialects/builtin/unrealized_conversion_cast.mlir
  xdsl/dialects/builtin.py
Labels: dialects, minor

#628 CI: fix pyodide-build version.
  .github/workflows/jupyterlite.yml
Labels: CI

#604 core: PDL interpreter
  tests/interpreters/test_pdl_interpreter.py
  xdsl/dialects/pdl.py
  xdsl/interpreters/experimental/pdl.py
Labels: core

#629 ci: update pyright to 1.1.300 in CI
  .github/workflows/ci-pyright-fails.yml
  .github/workflows/ci-pyright.yml
  docs/Toy/toy/ir_gen.py
  xdsl/dialects/cmath.py
  xdsl/irdl.py
Labels: CI

#631 ci: lint core tests
  pyproject.toml
  tests/test_ir.py
  tests/test_operation_builder.py
  tests/test_parser.py
  tests/test_parser_error.py
  tests/test_pattern_rewriter.py
  tests/test_printer.py
  tests/test_rewriter.py
  tests/test_ssa_value.py
Labels: CI
