Repository xdslproject/xdsl, pull requests merged in 2024-05, with the labels that each got.

#2435 transformations: (onnx) fix lower onnx.Relu lowering
  tests/filecheck/transforms/convert_onnx_to_linalg.mlir
  xdsl/transforms/convert_onnx_to_linalg.py
Labels: transformations

#2510 dialects: (x86) PR8 - MR Operations
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#2518 dialects: (x86): RI Operations adjustment
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#2519 dialects: (x86) PR9 - MI Operations
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#2488 dialects: (onnx) integrate onnx.Transpose in front-end
  tests/frontend/onnx/test_build_ir.py
  xdsl/frontend/onnx/ir_builder.py
Labels: frontend

#2515 dependencies: (onnx) use versioned onnx instead of weekly
  .github/workflows/ci-mlir.yml
  pyproject.toml
  requirements.txt
Labels: dependencies

#2525 misc: add total and last week download counts
  README.md
Labels: documentation

#2527 dialects: Implement llvm.mlir.zero
  tests/filecheck/dialects/llvm/example.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/llvm/global.mlir
  xdsl/dialects/llvm.py
Labels: dialects

#2528 transformations: Switch MPI lowering to use llvm.mlir.zero
  tests/dialects/test_mpi_lowering.py
  xdsl/transforms/lower_mpi.py
Labels: transformations

#2524 dialects: (x86) PR10 - RRI Operations
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#2529 dialects: (x86) PR11 - RMI Operations
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#2530 dialects: (x86) PR12 - IDivOP (register version)
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#2531 dialects: (x86) PR13 - M Operations
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#2533 dialects: (linalg) add linalg.sub
  tests/filecheck/mlir-conversion/with-mlir/dialects/linalg/ops.mlir
  xdsl/dialects/linalg.py
Labels: dialects

#2534 transformations: add onnx.Sub to linalg lowering
  tests/filecheck/transforms/convert_onnx_to_linalg.mlir
  xdsl/transforms/convert_onnx_to_linalg.py
Labels: transformations

#2537 dialects: (x86) - mem access helper
  xdsl/dialects/x86/ops.py
Labels: dialects

#2538 dialects: (x86) PR14 - Labels and Directives
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#2517 dialects: Implement helpers on stencil attributes and simplify shape inference.
  tests/dialects/test_stencil.py
  xdsl/dialects/stencil.py
  xdsl/transforms/experimental/dmp/stencil_global_to_local.py
  xdsl/transforms/experimental/stencil_shape_inference.py
Labels: enhancement, dialects, transformations

#2532 transformations: add malloc to riscv function call lowering
  tests/filecheck/backend/riscv/memref_to_riscv.mlir
  xdsl/backend/riscv/lowering/convert_memref_to_riscv.py
Labels: transformations

#2540 transformations: (riscv_scf) add a pass to fuse perfectly nested loops
  tests/filecheck/dialects/riscv_scf/loop_fusion.mlir
  xdsl/tools/command_line_tool.py
  xdsl/transforms/riscv_scf_loop_fusion.py
Labels: transformations

#2535 core: add argument and result types getters to CallableOpInterface
  docs/Toy/toy/dialects/toy.py
  tests/dialects/test_func.py
  tests/dialects/test_riscv_func.py
  xdsl/dialects/func.py
  xdsl/dialects/riscv_func.py
  xdsl/traits.py
Labels: core

#2542 transformations: Implement and test `memref-to-gpu`.
  tests/filecheck/transforms/gpu-allocs.mlir
  xdsl/tools/command_line_tool.py
  xdsl/transforms/gpu_allocs.py
Labels: minor, transformations

#2543 transformations: handle scalar arguments to generic ops when lowering
  tests/filecheck/transforms/convert_linalg_to_loops.mlir
  tests/filecheck/transforms/convert_memref_stream_to_loops.mlir
  xdsl/transforms/convert_linalg_to_loops.py
  xdsl/transforms/convert_memref_stream_to_loops.py
  xdsl/transforms/loop_nest_lowering_utils.py
  xdsl/transforms/memref_streamify.py
Labels: transformations

#2539 dialects: (x86) PR15 - S Operations
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#2489 dialects: (onnx) add onnx.Squeeze
  tests/filecheck/dialects/onnx/onnx_invalid.mlir
  tests/filecheck/dialects/onnx/onnx_ops.mlir
  xdsl/dialects/onnx.py
Labels: dialects

#2545 core: Fix xDSL printing multiple values with the same name.
  tests/filecheck/backend/csl/print_csl.mlir
  tests/filecheck/backend/riscv/riscv_register_allocation.mlir
  tests/filecheck/dialects/air/air_ops.mlir
  tests/filecheck/dialects/arith/canonicalize.mlir
  tests/filecheck/dialects/onnx/onnx_ops.mlir
  tests/filecheck/dialects/snitch_runtime/snitch_runtime_ops.mlir
  tests/filecheck/transforms/convert-stencil-to-ll-mlir.mlir
  tests/filecheck/transforms/convert_onnx_to_linalg.mlir
  tests/filecheck/transforms/memref_streamify.mlir
  tests/filecheck/transforms/stencil-storage-materialization.mlir
  tests/test_printer.py
  xdsl/ir/core.py
Labels: enhancement, core

#2522 transformation: stencil shape inference fixes
  tests/filecheck/dialects/stencil/oec-kernels/fvtp2d_qi.mlir
  xdsl/dialects/stencil.py
  xdsl/transforms/experimental/stencil_shape_inference.py
Labels: enhancement, transformations

#2526 transformations: stencil conversion fixes and improvements
  tests/filecheck/dialects/stencil/oec-kernels/fvtp2d_qi.mlir
  tests/filecheck/transforms/convert-stencil-to-ll-mlir.mlir
  xdsl/dialects/stencil.py
  xdsl/transforms/experimental/convert_stencil_to_ll_mlir.py
  xdsl/transforms/experimental/hls_convert_stencil_to_ll_mlir.py
  xdsl/transforms/experimental/stencil_storage_materialization.py
Labels: enhancement, transformations

#2551 core: Strip multi-digit suffixes in name_hint, not only single-digit.
  tests/test_ssa_value.py
  xdsl/ir/core.py
Labels: bug, minor, core

#2552 dialects: (x86) PR16 - Conditional Jumps
  tests/dialects/test_x86.py
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
  xdsl/dialects/x86/register.py
Labels: dialects

#2557 interactive: check for missing required fields before updating pipeline
  tests/test_pass_from_spec.py
  xdsl/interactive/app.py
  xdsl/passes.py
Labels: interactive

#2558 dialects: (x86) PR17 - m_idiv and single operand imul
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#2559 transforms: (convert-snrt-to-riscv) Add smaller number of ops
  tests/filecheck/backend/riscv/func_and_arith_to_riscv_asm_flow.mlir
  tests/filecheck/dialects/snitch_runtime/snitch_runtime_ops.mlir
  tests/filecheck/transforms/convert-snrt-to-riscv.mlir
  xdsl/dialects/snitch_runtime.py
  xdsl/transforms/convert_snrt_to_riscv.py
Labels: transformations

#2554 installation: Add nix flake
  .gitignore
  flake.lock
  flake.nix
Labels: installation, minor, misc

#2548 dialects: (memref_stream) add StridePattern
  tests/filecheck/dialects/memref_stream/ops.mlir
  tests/filecheck/projects/riscv-backend-paper/bottom_up.mlir
  tests/filecheck/transforms/convert_memref_stream_to_loops.mlir
  tests/filecheck/transforms/convert_memref_stream_to_snitch.mlir
  tests/filecheck/transforms/memref_streamify.mlir
  xdsl/dialects/memref_stream.py
  xdsl/dialects/snitch_stream.py
  xdsl/interpreters/tensor.py
  xdsl/transforms/convert_memref_stream_to_snitch_stream.py
  xdsl/transforms/memref_streamify.py
Labels: dialects

#2547 testing: update matmul bottom-up test
  tests/filecheck/projects/riscv-backend-paper/bottom_up.mlir
Labels: testing

#2560 dialects: (x86) PR18 - m_pop + added rsp dataflow to push
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#2570 dialects: (x86) PR19 - move assembly helpers to separate class
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/assembly.py
  xdsl/dialects/x86/attributes.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#2572 core: Block inlining API improvements
  tests/pattern_rewriter/test_pattern_rewriter.py
  tests/test_rewriter.py
  xdsl/pattern_rewriter.py
  xdsl/rewriter.py
Labels: enhancement, core

#2563 core: fix line numbers in split input mode.
  tests/filecheck/parser-printer/parse_error.mlir
  xdsl/tools/command_line_tool.py
  xdsl/utils/lexer.py
  xdsl/xdsl_opt_main.py
Labels: enhancement, core

#2573 dialects: (x86) PR20 - remaining x86Lite instructions + cleanup (season finale)
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#2569 misc: print offending op in IsolatedFromAbove trait verification error
  tests/test_builtin_traits.py
  xdsl/traits.py
Labels: misc

#2516 transformations: implement stencil-tensorize-z-dimension
  tests/filecheck/transforms/stencil-tensorize-z-dimension.mlir
  xdsl/dialects/linalg.py
  xdsl/dialects/stencil.py
  xdsl/tools/command_line_tool.py
  xdsl/transforms/experimental/stencil_tensorize_z_dimension.py
  xdsl/utils/hints.py
Labels: transformations

#2428 transformations: (convert-snrt-to-riscv) Add lowerings for even more info ops
  tests/filecheck/transforms/convert-snrt-to-riscv.mlir
  xdsl/transforms/convert_snrt_to_riscv.py
Labels: transformations

#2561 transformations: (riscv) handle f64 lowering in int to float conversion
  tests/filecheck/backend/csl/print_csl.mlir
  tests/filecheck/backend/riscv/convert_arith_to_riscv.mlir
  xdsl/backend/riscv/lowering/convert_arith_to_riscv.py
  xdsl/dialects/arith.py
Labels: transformations

#2562 testing: use arith in bottom-up tests
  tests/filecheck/projects/riscv-backend-paper/bottom_up.mlir
Labels: testing

#2564 testing: remove dense test kernel from bottom-up tests
  tests/filecheck/projects/riscv-backend-paper/bottom_up.mlir
Labels: testing

#2565 testing: no more inout parameters in bottom-up test
  tests/filecheck/projects/riscv-backend-paper/bottom_up.mlir
Labels: testing

#2568 backend: (riscv) move results of lowered riscv_scf.for loops
  tests/filecheck/backend/rvscf_scf_lowering.mlir
  xdsl/backend/riscv/lowering/convert_scf_to_riscv_scf.py
Labels: backend

#2571 interpreter: (riscv) add fmv.d implementation
  tests/interpreters/test_riscv_interpreter.py
  xdsl/interpreters/riscv.py
Labels: interpreter

#2574 backend: (snitch) insert fmv ops when necessary when lowering streams
  tests/filecheck/transforms/convert_memref_stream_to_snitch.mlir
  xdsl/backend/riscv/lowering/utils.py
  xdsl/transforms/convert_memref_stream_to_snitch_stream.py
Labels: backend

#2575 core: Refactor irdl_op_definition
  xdsl/irdl/irdl.py
Labels: core

#2579 testing: (snitch) bottom-up tests have no riscv
  tests/filecheck/projects/riscv-backend-paper/bottom_up.mlir
Labels: testing

#2583 backend: (riscv) use fcvt.d.w for integer-valued float constants
  docs/Toy/toy/emulator/toy_accelerator_instructions.py
  tests/filecheck/backend/riscv/convert_arith_to_riscv.mlir
  tests/filecheck/projects/riscv-backend-paper/bottom_up.mlir
  xdsl/backend/riscv/lowering/convert_arith_to_riscv.py
Labels: backend

#2546 misc: TestLowerSnitchStreamToAsm inherits from PipelinePass [NFC]
  xdsl/passes.py
  xdsl/transforms/test_lower_snitch_stream_to_asm.py
Labels: minor, misc

#2591 dialects: (csl) Add csl dialect ops
  tests/filecheck/dialects/csl/ops.mlir
  xdsl/dialects/csl.py
  xdsl/tools/command_line_tool.py
Labels: dialects

#2589 transformations: fix memref_streamify non idempotency and wrong maps for outs
  tests/filecheck/transforms/memref_streamify.mlir
  xdsl/transforms/memref_streamify.py
Labels: transformations

#2594 dialects: (csl) Added basic types
  tests/filecheck/dialects/csl/ops.mlir
  xdsl/dialects/csl.py
Labels: dialects

#2597 dialects: (hw) Add hw.module.extern
  tests/filecheck/dialects/hw/hw_module.mlir
  xdsl/dialects/hw.py
Labels: enhancement, dialects

#2590 testing: represent kernels with no reduction in linalg.generic on memrefs
  tests/filecheck/projects/riscv-backend-paper/bottom_up.mlir
Labels: testing

#2536 interpreter: use function type when parsing xdsl-run arguments
  tests/interpreters/test_builtin_interpreter.py
  tests/interpreters/test_riscv_interpreter.py
  tests/test_interpreter.py
  xdsl/interpreter.py
  xdsl/interpreters/builtin.py
  xdsl/interpreters/riscv.py
  xdsl/tools/xdsl_run.py
Labels: interpreter

#2603 dialects: (csl) Added call op and tasks
  tests/filecheck/backend/csl/print_csl.mlir
  tests/filecheck/dialects/csl/ops.mlir
  xdsl/dialects/csl.py
Labels: dialects

#2612 dialects: (csl) Adding Constructors for `comptime_struct` and `color`, as well as some `layout` functions.
  tests/filecheck/dialects/csl/ops.mlir
  xdsl/dialects/csl.py
Labels: dialects

#2610 backend: (csl) Add printing some scf and memref features
  tests/filecheck/backend/csl/print_csl.mlir
  xdsl/backend/csl/print_csl.py
Labels: backend

#2622 documentation: superscript i
  GETTING_STARTED.md
Labels: documentation

#2632 dialects: arith.constant is Pure (no side effects)
  tests/filecheck/dialects/scf/canonicalize.mlir
  tests/filecheck/transforms/arith-add-immediate-zero.mlir
  xdsl/dialects/arith.py
  xdsl/transforms/constant_fold_interp.py
Labels: dialects, transformations

#2638 Fix typing-extensions version
  pyproject.toml
Labels: dependencies

#2637 docs: Change link to pr title formatting
  .github/pull_request_template.md
Labels: documentation

#2616 dialects: (csl) Added operations to manage symbols
  tests/filecheck/dialects/csl/ops.mlir
  xdsl/dialects/csl.py
Labels: dialects

#2623 dialects: stencil: Add canonicalization patterns and related traits.
  tests/filecheck/dialects/stencil/canonicalize.mlir
  xdsl/dialects/stencil.py
  xdsl/transforms/canonicalization_patterns/stencil.py
Labels: dialects

#2639 core: Implement and test __eq__ and __hash__ on OpOperands.
  tests/test_ir.py
  xdsl/ir/core.py
Labels: core

#2631 transformations: Implement generic CSE.
  tests/filecheck/transforms/cse.mlir
  xdsl/dialects/affine.py
  xdsl/dialects/test.py
  xdsl/tools/command_line_tool.py
  xdsl/transforms/common_subexpression_elimination.py
  xdsl/transforms/dead_code_elimination.py
Labels: transformations

#2640 core: Implement a simplified MemoryEffect interface.
  tests/filecheck/transforms/cse.mlir
  xdsl/dialects/scf.py
  xdsl/dialects/tensor.py
  xdsl/traits.py
  xdsl/transforms/common_subexpression_elimination.py
  xdsl/transforms/dead_code_elimination.py
Labels: core

#2642 transformations: CSE: Refactor for reuse-friendliness
  xdsl/transforms/common_subexpression_elimination.py
Labels: transformations

#2641 dialects: Update arith, math, scf and stencil side-effect traits.
  tests/filecheck/transforms/cse.mlir
  xdsl/dialects/arith.py
  xdsl/dialects/experimental/math.py
  xdsl/dialects/scf.py
  xdsl/dialects/stencil.py
Labels: dialects

#2586 dialects: (x86) - AVX registers + some instructions (bonus PR!)
  tests/dialects/test_x86.py
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/assembly.py
  xdsl/dialects/x86/ops.py
  xdsl/dialects/x86/register.py
Labels: dialects

#2595 transformations: Stencil shape inference fixes
  tests/filecheck/dialects/stencil/oec-kernels/fvtp2d_qi.mlir
  tests/filecheck/transforms/stencil-shape-inference.mlir
  xdsl/dialects/stencil.py
  xdsl/transforms/experimental/stencil_shape_inference.py
Labels: minor, transformations

#2645 dialects: stencil: more canonicalization
  tests/filecheck/dialects/stencil/canonicalize.mlir
  xdsl/dialects/stencil.py
  xdsl/transforms/canonicalization_patterns/stencil.py
Labels: dialects

#2619 backend: (riscv) Allocate ub and step before loop, and lb after
  tests/filecheck/backend/riscv/riscv_register_allocation.mlir
  tests/filecheck/projects/riscv-backend-paper/bottom_up.mlir
  xdsl/backend/riscv/register_allocation.py
Labels: bug, backend

#2620 backend: (riscv) Don't make unreserved registers available
  tests/backend/riscv/test_register_queue.py
  tests/filecheck/backend/riscv/riscv_register_allocation.mlir
  xdsl/backend/riscv/register_queue.py
Labels: bug, backend

#2621 backend: (riscv) reduce register pressure for stream configuration
  tests/filecheck/dialects/snitch_stream/convert_snitch_stream_to_snitch.mlir
  tests/filecheck/projects/riscv-backend-paper/bottom_up.mlir
  xdsl/backend/riscv/lowering/convert_snitch_stream_to_snitch.py
Labels: backend

#2649 interactive: some minor typing fixes in xdsl-gui
  xdsl/interactive/app.py
Labels: interactive

#2580 rewriting: Add convert-ml-program-to-memref
  tests/filecheck/transforms/convert_ml_program_to_memref.mlir
  tests/interpreters/test_memref_interpreter.py
  xdsl/dialects/memref.py
  xdsl/tools/command_line_tool.py
  xdsl/transforms/convert_ml_program_to_memref.py
Labels: rewriting

#2655 core: preserve name hints when replacing ops with multiple results
  tests/filecheck/dialects/stencil/canonicalize.mlir
  xdsl/pattern_rewriter.py
Labels: core

#2656 transformations: fold scf loops instead of riscv_scf
  tests/filecheck/dialects/riscv_scf/loop_flatten.mlir
  tests/filecheck/dialects/scf/loop_flatten.mlir
  tests/filecheck/projects/riscv-backend-paper/bottom_up.mlir
  xdsl/tools/command_line_tool.py
  xdsl/transforms/scf_for_loop_flatten.py
Labels: transformations

#2659 core: make AttrConstraint frozen
  docs/irdl.ipynb
  tests/irdl/test_attr_constraint.py
  tests/irdl/test_attribute_definition.py
  tests/irdl/test_declarative_assembly_format.py
  tests/test_pyrdl.py
  xdsl/dialects/builtin.py
  xdsl/irdl/irdl.py
Labels: core

#2389 transforms: Add function-constant-pinning pass to specialize functions
  tests/filecheck/transforms/function-constant-pinning.mlir
  xdsl/tools/command_line_tool.py
  xdsl/transforms/experimental/function_constant_pinning.py
Labels: transformations

#2667 tests: Fix broken filecheck
  tests/filecheck/transforms/function-constant-pinning.mlir
Labels: testing

#2479 dialects: (onnx) Add onnx.Sigmoid
  tests/filecheck/dialects/onnx/onnx_invalid.mlir
  tests/filecheck/dialects/onnx/onnx_ops.mlir
  xdsl/dialects/onnx.py
Labels: dialects

#2670 dialects: [arith] Add extended multiplication operations
  tests/dialects/test_arith.py
  tests/filecheck/dialects/arith/arith_ops.mlir
  xdsl/dialects/arith.py
Labels: dialects

#2654 misc: Implement and test dynamic IRDL dialect registering.
  tests/dialects/test_irdl.py
  tests/filecheck/dialects/irdl/cmath_irdl_loading.py
  tests/test_interpreter.py
  xdsl/dialects/irdl/irdl.py
  xdsl/interpreter.py
  xdsl/interpreters/irdl.py
  xdsl/irdl/irdl.py
Labels: interpreter, misc

#2668 dialects: (riscv) mark assembly region as isolated from above
  tests/filecheck/backend/riscv/convert_func_to_riscv_func.mlir
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#2665 dialects: (memref_stream) use memref_stream iterator type, not linalg
  tests/filecheck/dialects/memref_stream/ops.mlir
  xdsl/dialects/memref_stream.py
  xdsl/transforms/convert_linalg_to_memref_stream.py
Labels: dialects

#2669 dialects: (riscv_func) mark riscv_func.func as isolated from above
  tests/filecheck/dialects/riscv_cf/assembly_emission.mlir
  tests/filecheck/dialects/riscv_cf/canonicalize.mlir
  tests/filecheck/dialects/riscv_func/riscv_func_ops.mlir
  tests/filecheck/dialects/riscv_snitch/ops.mlir
  tests/filecheck/with-riscemu/riscv_emulation.mlir
  xdsl/dialects/riscv_func.py
Labels: dialects

#2657 transformations: scf-for-loop-folding handle iter args
  tests/filecheck/dialects/scf/loop_flatten.mlir
  xdsl/transforms/scf_for_loop_flatten.py
Labels: transformations

#2647 backend: (csl) printing for functions, tasks and layout related things
  tests/filecheck/backend/csl/print_csl.mlir
  xdsl/backend/csl/print_csl.py
Labels: backend

#2658 testing: unflatten the loops with iteration arguments in bottom-up tests
  tests/filecheck/projects/riscv-backend-paper/bottom_up.mlir
Labels: testing

#2664 core: add `inline_block_at_location` to `PatternRewriter`
  xdsl/pattern_rewriter.py
Labels: core
