Repository xdslproject/xdsl, pull requests merged in 2024-04, with the labels that each got.

#2410 dialects: (riscv_snitch) Add Xdma extension operations
  tests/filecheck/dialects/riscv_snitch/assembly_emission.mlir
  tests/filecheck/dialects/riscv_snitch/ops.mlir
  xdsl/dialects/riscv_snitch.py
Labels: dialects

#2411 transformations: Add convert-snrt-to-riscv-asm pass to lower snrt ops to RISC-V dialect
  tests/filecheck/dialects/snitch_runtime/snitch_runtime_ops.mlir
  tests/filecheck/transforms/convert-snrt-to-riscv-asm.mlir
  xdsl/dialects/snitch_runtime.py
  xdsl/tools/command_line_tool.py
  xdsl/transforms/snrt_to_riscv_asm.py
Labels: transformations

#2401 docs: a getting started guide for new contributors
  GETTING_STARTED.md
  README.md
Labels: documentation

#2404 dialects: (seq) Add CompRegOp
  tests/filecheck/dialects/seq/seq_ops.mlir
  xdsl/dialects/seq.py
Labels: enhancement, dialects

#2418 frontend: (onnx) Unify type builders again
  pyproject.toml
  tests/frontend/onnx/test_elem_type.py
  tests/frontend/onnx/test_type.py
  xdsl/frontend/onnx/elem_type.py
  xdsl/frontend/onnx/shape_type.py
  xdsl/frontend/onnx/type.py
Labels: frontend

#2417 transformations: Refine and enhance lowering Snitch runtime DMA operations to RISC-V
  tests/filecheck/dialects/snitch_runtime/snitch_runtime_ops.mlir
  tests/filecheck/transforms/convert-snrt-to-riscv-asm.mlir
  xdsl/dialects/snitch_runtime.py
  xdsl/transforms/snrt_to_riscv_asm.py
Labels: transformations

#2382 transformations: (onnx) lower onnx.MaxPoolSingleOut to linalg
  tests/filecheck/transforms/convert_onnx_to_linalg.mlir
  xdsl/transforms/convert_onnx_to_linalg.py
Labels: transformations

#2403 dialects: (builtin) Fix bound computation crash for i0
  tests/filecheck/dialects/builtin/attrs.mlir
  xdsl/dialects/builtin.py
Labels: bug, dialects

#2422 transformations: (convert-snrt-to-riscv) Add lowering for 2d dma calls
  tests/filecheck/backend/riscv/func_and_arith_to_riscv_asm_flow.mlir
  tests/filecheck/dialects/snitch_runtime/snitch_runtime_ops.mlir
  tests/filecheck/transforms/convert-snrt-to-riscv-asm.mlir
  tests/filecheck/transforms/convert-snrt-to-riscv.mlir
  xdsl/dialects/snitch_runtime.py
  xdsl/tools/command_line_tool.py
  xdsl/transforms/convert_snrt_to_riscv.py
  xdsl/transforms/snrt_to_riscv_asm.py
Labels: transformations

#2415 docs: onboarding papercuts
  README.md
Labels: documentation

#2396 transformations: (onnx) lower onnx.Conv to linalg
  tests/filecheck/transforms/convert_onnx_to_linalg.mlir
  xdsl/transforms/convert_onnx_to_linalg.py
Labels: transformations

#2425 interpreter: (linalg) Add linalg.PoolingNchwMaxOp and linalg.Conv2DNchwFchwOp interpreter functions
  tests/interpreters/test_linalg_interpreter.py
  xdsl/interpreters/linalg.py
Labels: interpreter

#2433 dialects: (linalg) add linalg.broadcast
  tests/filecheck/mlir-conversion/with-mlir/dialects/linalg/invalid_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/linalg/ops.mlir
  xdsl/dialects/linalg.py
Labels: dialects

#2430 dialects: Add accfg dialect operations
  tests/dialects/test_accfg.py
  tests/filecheck/dialects/accfg/accfg_ops.mlir
  xdsl/dialects/accfg.py
  xdsl/tools/command_line_tool.py
Labels: dialects, hackathon

#2445 core: More informative rewrite errors.
  tests/pattern_rewriter/test_pattern_rewriter.py
  xdsl/pattern_rewriter.py
Labels: core, transformations

#2444 transformations: Improve and test stencil.index's lowering.
  tests/filecheck/transforms/convert-stencil-to-ll-mlir.mlir
  xdsl/dialects/stencil.py
  xdsl/transforms/experimental/convert_stencil_to_ll_mlir.py
Labels: transformations

#2448 core: Fix optional operand declarative printing.
  xdsl/irdl/declarative_assembly_format.py
Labels: minor, core

#2344 backend: (csl) Add a print to csl backend
  tests/filecheck/backend/csl/print_csl.mlir
  xdsl/backend/csl/__init__.py
  xdsl/backend/csl/print_csl.py
  xdsl/xdsl_opt_main.py
Labels: backend

#2447 transformations: implement `stencil.store_result` lowering.
  tests/filecheck/transforms/convert-stencil-to-ll-mlir.mlir
  xdsl/transforms/experimental/convert_stencil_to_ll_mlir.py
Labels: transformations

#2380 dialects: Implement `stencil.dyn_access`, test it (and `stencil.index`)
  tests/dialects/test_stencil.py
  tests/filecheck/dialects/stencil/stencil_ops.mlir
  tests/filecheck/transforms/stencil-shape-inference.mlir
  tests/filecheck/transforms/stencil-unroll.mlir
  xdsl/dialects/stencil.py
  xdsl/transforms/experimental/stencil_shape_inference.py
  xdsl/transforms/stencil_unroll.py
Labels: dialects, transformations

#2419 misc: (Makefile) Remove trailing slash from venv target
  Makefile
Labels: misc

#2450 dialects: (seq) Finish `seq.compreg` optionals
  tests/filecheck/dialects/seq/seq_invalid.mlir
  tests/filecheck/dialects/seq/seq_ops.mlir
  xdsl/dialects/seq.py
Labels: dialects

#2460 dialects: (comb) Fix lowBit case in extract op
  tests/filecheck/dialects/comb/comb_ops.mlir
  xdsl/dialects/comb.py
Labels: bug, dialects

#2458 dialects: (comb) Fix bugs in variadic operations
  tests/dialects/test_comb.py
  xdsl/dialects/comb.py
Labels: bug, dialects

#2459 dialects: (comb) Accept non-integer types in mux
  tests/filecheck/dialects/comb/comb_ops.mlir
  xdsl/dialects/comb.py
Labels: bug, dialects

#2464 frontend (onnx): implementation graph visiting
  tests/frontend/onnx/test_build_ir.py
  xdsl/frontend/onnx/ir_builder.py
Labels: frontend

#2461 dialects: (seq) Add ConstClockOp
  tests/filecheck/dialects/seq/seq_invalid.mlir
  tests/filecheck/dialects/seq/seq_ops.mlir
  xdsl/dialects/seq.py
Labels: enhancement, dialects

#2398 dialects: (x86) PR5_1 - single operand instructions - one source
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#2440 ci: Update codecov action version
  .github/workflows/ci-mlir.yml
Labels: CI

#2471 testing: fix pyright failures when onnx is not installed
  pyproject.toml
Labels: testing

#2469 frontend: (onnx) integration matmul op in onnx frontend
  tests/frontend/onnx/test_build_ir.py
  xdsl/frontend/onnx/ir_builder.py
Labels: frontend

#2472 dialects: (llvm) Fix elem_type bug in GEPOp builder
  tests/dialects/test_llvm.py
  xdsl/dialects/llvm.py
Labels: bug, dialects

#2457 transformations: lower `stencil.combine`, refactor `stencil.buffer`
  tests/filecheck/transforms/convert-stencil-to-ll-mlir.mlir
  tests/filecheck/transforms/stencil-storage-materialization.mlir
  xdsl/transforms/experimental/convert_stencil_to_ll_mlir.py
  xdsl/transforms/experimental/stencil_storage_materialization.py
Labels: dialects, transformations

#2364 interactive : remove bug that happens when argument screen is cleared and entered
  xdsl/interactive/add_arguments_screen.py
  xdsl/interactive/app.py
Labels: tool, interactive

#2282 interactive: don't include the child in the root to child list
  tests/interactive/test_app.py
  xdsl/interactive/app.py
Labels: bug, interactive

#2475 core: Fix OptionallyParsableDirective.
  tests/irdl/test_declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format_parser.py
Labels: bug, minor, core

#2455 dialects: (x86) PR5_2 - single operand instructions - one destination
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#2474 core: Implement MessageConstraint
  tests/dialects/test_builtin.py
  tests/filecheck/dialects/func/func_invalid.mlir
  tests/irdl/test_attribute_definition.py
  xdsl/dialects/builtin.py
  xdsl/irdl/irdl.py
Labels: enhancement, minor, core

#2485 dialects: (x86) PR5_3 - single operand instructions - source and destination
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#2476 dialects: (fir) Update to the MLIR hash version of FIR that we use
  xdsl/dialects/experimental/fir.py
Labels: dialects

#2487 dialects: (x86) - Reformats and changes in naming convention
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/dialects/x86/ops.py
Labels: dialects

#2480 core: Implement unqualified attributes in declarative syntax.
  tests/filecheck/dialects/seq/seq_ops.mlir
  tests/irdl/test_declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format_parser.py
Labels: enhancement, core

#2481 core: Remove redundant output from IRDLOperation's verification error.
  .gitignore
  docs/irdl.ipynb
  tests/filecheck/dialects/onnx/onnx_invalid.mlir
  tests/filecheck/dialects/scf/parallel_multiple_blocks.mlir
  tests/filecheck/dialects/tensor/invalid_ops.mlir
  tests/test_ir.py
  xdsl/irdl/irdl.py
Labels: enhancement, minor, core

#2493 core: Implement TypedAttribute, leverage in declarative assembly format.
  tests/irdl/test_attribute_definition.py
  tests/irdl/test_declarative_assembly_format.py
  xdsl/dialects/builtin.py
  xdsl/ir/core.py
  xdsl/irdl/declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format_parser.py
  xdsl/irdl/irdl.py
  xdsl/printer.py
Labels: enhancement, core

#2486 dialects: (hw) Add hw.instance operation
  tests/dialects/test_hw.py
  tests/filecheck/dialects/hw/hw_instance.mlir
  tests/filecheck/dialects/hw/invalid_instance.mlir
  xdsl/dialects/hw.py
Labels: enhancement, dialects

#2498 dialects: (hw) Revert HWModuleOp's usage of InnerRefNamespaceTrait
  xdsl/dialects/hw.py
Labels: bug, dialects

#2490 dialects: (x86) PR6 - RM Operations
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#2497 ci: use a separate workflow for codecov upload
  .github/workflows/ci-codecov.yml
  .github/workflows/ci-mlir.yml
Labels: CI

#2491 dialects: (HLFIR) Addition of the HLFIR dialect
  xdsl/dialects/experimental/hlfir.py
  xdsl/tools/command_line_tool.py
Labels: dialects

#2503 Revert "ci: use a separate workflow for codecov upload"
  .github/workflows/ci-codecov.yml
  .github/workflows/ci-mlir.yml
Labels: CI

#2492 core: Handling true and false literals in DenseBaseAttr
  tests/filecheck/dialects/builtin/dense_array_invalid_dims.mlir
  tests/test_parser.py
  tests/test_printer.py
  xdsl/parser/attribute_parser.py
  xdsl/parser/base_parser.py
  xdsl/printer.py
Labels: core

#2508 dialects: (hw) Add visibility keyword to hw.module
  tests/filecheck/dialects/hw/hw_module.mlir
  xdsl/dialects/hw.py
Labels: enhancement, dialects

#2500 dialects: stencil IRDL update.
  tests/dialects/test_stencil.py
  tests/filecheck/dialects/stencil/invalid.mlir
  tests/filecheck/dialects/stencil/stencil_ops.mlir
  tests/filecheck/transforms/convert-stencil-to-ll-mlir.mlir
  tests/filecheck/transforms/stencil-shape-inference.mlir
  tests/filecheck/transforms/stencil-storage-materialization.mlir
  tests/filecheck/transforms/stencil-unroll.mlir
  xdsl/dialects/stencil.py
  xdsl/transforms/experimental/convert_stencil_to_ll_mlir.py
  xdsl/transforms/stencil_unroll.py
Labels: enhancement, dialects

#2509 dialects: Simplify stencil's offset mapping implementation
  tests/filecheck/dialects/stencil/stencil_ops.mlir
  tests/filecheck/transforms/convert-stencil-to-ll-mlir.mlir
  xdsl/dialects/stencil.py
  xdsl/transforms/experimental/convert_stencil_to_ll_mlir.py
Labels: enhancement, dialects

#2501 dialects: Implement stencil custom syntax
  tests/dialects/test_stencil.py
  tests/filecheck/dialects/stencil/invalid.mlir
  tests/filecheck/dialects/stencil/stencil_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/stencil/hdiff.mlir
  tests/filecheck/transforms/convert-stencil-to-ll-mlir.mlir
  tests/filecheck/transforms/stencil-shape-inference.mlir
  tests/filecheck/transforms/stencil-storage-materialization.mlir
  tests/filecheck/transforms/stencil-unroll.mlir
  xdsl/dialects/stencil.py
  xdsl/irdl/irdl.py
Labels: enhancement, dialects

#2502 dialects: (x86) PR7 - RI Operations
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#2513 dialects: Factor out sym_visibility parsing in all dialects
  xdsl/dialects/ml_program.py
  xdsl/dialects/riscv_func.py
Labels: enhancement, dialects

#2512 dialects: (hw) Fix printing of module visibility
  xdsl/dialects/hw.py
Labels: bug, dialects

#2514 core: Implement HasAncestor.
  tests/filecheck/dialects/stencil/invalid.mlir
  tests/test_traits.py
  xdsl/dialects/stencil.py
  xdsl/traits.py
Labels: minor, core
