Repository xdslproject/xdsl, pull requests merged in 2024-01, with the labels that each got.

#1923 interpreter: (riscv_scf) add interpreter function for while op
  tests/interpreters/test_riscv_scf_interpreter.py
  xdsl/interpreters/riscv.py
  xdsl/interpreters/riscv_scf.py
Labels: interpreter

#1929 testing: (snitch) remove block names in test
  tests/filecheck/dialects/riscv/frep_verification.mlir
Labels: testing

#1930 dialects: (arith) make binary ops pure
  tests/filecheck/dialects/arith/canonicalize.mlir
  xdsl/dialects/arith.py
Labels: dialects

#1933 interpreter: (riscv) add interpreter impls for addi and fcvt.d.w
  tests/interpreters/test_riscv_interpreter.py
  xdsl/interpreters/riscv.py
Labels: interpreter

#1936 core: add method for splitting block before a given operation
  tests/test_ir.py
  xdsl/ir/core.py
Labels: core

#1924 dialects: (scf) add custom syntax for scf.condition
  tests/filecheck/dialects/scf/scf_ops.mlir
  xdsl/dialects/scf.py
Labels: dialects

#1926 core: add helper for function type printing
  tests/test_printer.py
  xdsl/printer.py
Labels: core

#1927 dialects: (scf) add custom syntax for scf while
  tests/filecheck/dialects/scf/scf_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/scf/while_custom.mlir
  xdsl/dialects/scf.py
Labels: dialects

#1939 dialects: (onnx) add onnx.Relu
  tests/filecheck/dialects/onnx/onnx_ops.mlir
  xdsl/dialects/onnx.py
Labels: dialects

#1944 core: add arg_types param to Block.split_before
  tests/test_ir.py
  xdsl/ir/core.py
Labels: core

#1932 interpreter: (linalg) allow scalar params for linalg generic
  tests/interpreters/test_linalg_interpreter.py
  xdsl/interpreters/linalg.py
Labels: interpreter

#1934 dialects: (riscv_scf) add custom syntax to riscv_scf.while
  tests/filecheck/dialects/riscv_scf/ops.mlir
  tests/filecheck/dialects/riscv_scf/verification.mlir
  xdsl/dialects/riscv_scf.py
Labels: dialects

#1942 misc: (Toy) add toy run action for VSCode
  .vscode/launch.json
Labels: misc

#1943 core: Add region inlining helpers to rewriter (before/after/at_start/at_end)
  tests/pattern_rewriter/test_pattern_rewriter.py
  tests/test_rewriter.py
  xdsl/pattern_rewriter.py
  xdsl/rewriter.py
Labels: core

#1956 interpeter: (riscv_cf) add interpreter functions
  tests/interpreters/test_riscv_cf_interpreter.py
  xdsl/interpreters/riscv_cf.py
Labels: interpreter

#1957 interpreter: (riscv_cf) add one more interpreter test
  tests/interpreters/test_riscv_cf_interpreter.py
Labels: interpreter

#1962 interpreter: add symbol parameter to xdsl-run
  tests/filecheck/runner/runner_args.mlir
  xdsl/tools/xdsl_run.py
Labels: interpreter

#1954 core: (printer) use the same code to print op attrs, properties, and DictionaryAttr
  tests/filecheck/parser-printer/builtin_attrs.mlir
  tests/test_printer.py
  xdsl/dialects/builtin.py
  xdsl/printer.py
Labels: core

#1955 dialects: (func) add support for arg_attrs in func.func
  tests/filecheck/dialects/func/func_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/func/func_ops.mlir
  xdsl/dialects/func.py
  xdsl/dialects/riscv_func.py
  xdsl/dialects/utils.py
Labels: dialects

#1945 dialects: (onnx) add onnx.Gemm
  tests/filecheck/dialects/onnx/onnx_invalid.mlir
  tests/filecheck/dialects/onnx/onnx_ops.mlir
  xdsl/dialects/onnx.py
Labels: dialects

#1917 core: Add support for lazily loading dialects
  tests/filecheck/parser-printer/value_tuple.mlir
  tests/filecheck/parser-printer/value_tuple_access_oob.mlir
  tests/filecheck/parser-printer/value_tuple_wrong_number.mlir
  tests/interactive/test_pass_metrics.py
  tests/test_cli.py
  tests/test_mlcontext.py
  xdsl/dialects/snitch_stream.py
  xdsl/interactive/app.py
  xdsl/ir/core.py
  xdsl/tools/command_line_tool.py
  xdsl/tools/irdl_to_pyrdl.py
  xdsl/xdsl_opt_main.py
Labels: core

#1967 misc: sort passes dict literal alphabetically [NFC]
  xdsl/tools/command_line_tool.py
Labels: minor, misc

#1966 dialects: (onnx) lint onnx.py
  tests/filecheck/dialects/onnx/onnx_invalid.mlir
  xdsl/dialects/onnx.py
Labels: dialects

#1969 dialects: (onnx) sort onnx ops alphabetically
  xdsl/dialects/onnx.py
Labels: dialects

#1970 dialects: (riscv_snitch) add get_stream, read, write ops
  tests/filecheck/dialects/riscv_snitch/assembly_emission.mlir
  tests/filecheck/dialects/riscv_snitch/ops.mlir
  xdsl/dialects/riscv_snitch.py
Labels: dialects, backend

#1959 documentation: (toy) use riscv_cf in Toy
  docs/Toy/examples/interpret.toy
  docs/Toy/toy/__main__.py
  docs/Toy/toy/compiler.py
  docs/Toy/toy/emulator/toy_accelerator_instruction_functions.py
Labels: documentation

#1980 testing: (riscv) add test for riscemu emulation when lowering to riscv_cf
  tests/filecheck/with-riscemu/rvscf_lowering_emu.mlir
Labels: testing, minor

#1979 dialects: Implement affine.parallel
  tests/filecheck/dialects/affine/affine_ops.mlir
  tests/filecheck/dialects/affine/invalid.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/affine/affine_ops.mlir
  xdsl/dialects/affine.py
Labels: dialects

#1972 core: Add parsing of aliases
  tests/filecheck/parser-printer/aliases.mlir
  xdsl/parser/attribute_parser.py
  xdsl/parser/core.py
Labels: core

#1977 backend: (snitch) read and write to streams in frep body
  tests/filecheck/dialects/snitch_stream/convert_snitch_stream_to_snitch.mlir
  xdsl/backend/riscv/lowering/convert_snitch_stream_to_snitch.py
  xdsl/dialects/riscv_snitch.py
Labels: backend

#1984 core: Move to assertions for modification permission checks
  xdsl/pattern_rewriter.py
Labels: core

#1983 dialects: Add constant unitattr to global
  tests/filecheck/dialects/memref/memref_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/memref/memref_ops_mlir_conversion.mlir
  xdsl/dialects/memref.py
Labels: dialects

#1968 dialects: (onnx) factor out broadcastability helper in onnx dialect
  tests/dialects/onnx/test_broadcast.py
  xdsl/dialects/onnx.py
Labels: dialects

#1985 interpreter: (riscv_snitch) add riscv_snitch functions
  tests/interpreters/__init__.py
  tests/interpreters/test_riscv_snitch_interpreter.py
  xdsl/interpreters/__init__.py
  xdsl/interpreters/riscv_snitch.py
Labels: interpreter

#1974 core: Support hex denseAttr parsing for integers, f32, f64
  tests/filecheck/parser-printer/builtin_attrs.mlir
  tests/filecheck/parser-printer/invalid_dense_attr.mlir
  xdsl/parser/attribute_parser.py
Labels: enhancement, core

#1987 dialects: Add result arguments to func.func
  tests/filecheck/dialects/func/func_ops_generic.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/func/func_ops_generic.mlir
  xdsl/dialects/func.py
Labels: dialects

#1986 dialects: (snitch_stream) replace snitch_stream generic with streaming region
  tests/filecheck/dialects/snitch_stream/convert_snitch_stream_to_snitch.mlir
  tests/filecheck/dialects/snitch_stream/ops.mlir
  tests/filecheck/projects/riscv-backend-paper/add_snitch_stream.mlir
  tests/filecheck/projects/riscv-backend-paper/relu_snitch_stream.mlir
  tests/filecheck/transforms/snitch_register_allocation.mlir
  tests/interpreters/test_snitch_stream_interpreter.py
  xdsl/backend/riscv/lowering/convert_snitch_stream_to_snitch.py
  xdsl/dialects/snitch_stream.py
  xdsl/interpreters/snitch_stream.py
  xdsl/tools/command_line_tool.py
  xdsl/transforms/snitch_register_allocation.py
Labels: dialects, backend

#1908 core: use worklist in pattern matching algorithm
  docs/Toy/toy/rewrites/setup_riscv_pass.py
  tests/pattern_rewriter/test_pattern_rewriter.py
  xdsl/pattern_rewriter.py
Labels: core

#1910 core: Simplify the pattern rewriter
  xdsl/pattern_rewriter.py
Labels: core

#1991 interpreter: (riscv_debug) add implementation for riscv_debug.printf
  tests/filecheck/projects/riscv-backend-paper/add_snitch_stream.mlir
  tests/filecheck/projects/riscv-backend-paper/relu_snitch_stream.mlir
  tests/interpreters/test_riscv_debug_interpreter.py
  xdsl/interpreters/__init__.py
  xdsl/interpreters/riscv_debug.py
Labels: interpreter

#1951 dialects: (onnx) add onnx.Reshape
  tests/filecheck/dialects/onnx/onnx_invalid.mlir
  tests/filecheck/dialects/onnx/onnx_ops.mlir
  xdsl/dialects/onnx.py
Labels: dialects

#1990 dialects: (riscv_debug) add RISCV_Debug dialect with printf op
  tests/filecheck/dialects/riscv_debug/riscv_debug_ops.mlir
  tests/filecheck/with-riscemu/riscv_emulation.mlir
  xdsl/dialects/riscv_debug.py
  xdsl/interpreters/riscv_emulator.py
  xdsl/tools/command_line_tool.py
Labels: dialects

#1998 interpreter: (riscv_debug) add implementation for riscv_debug.printf
  tests/filecheck/projects/riscv-backend-paper/add_snitch_stream.mlir
  tests/filecheck/projects/riscv-backend-paper/relu_snitch_stream.mlir
  tests/interpreters/test_riscv_debug_interpreter.py
  xdsl/interpreters/__init__.py
  xdsl/interpreters/riscv_debug.py
Labels: interpreter

#1992 backend: (riscv) add a pass to lower print_format to riscv_debug.printf
  tests/filecheck/backend/riscv/print_format_to_riscv_debug.mlir
  xdsl/backend/riscv/lowering/convert_print_format_to_riscv_debug.py
  xdsl/tools/command_line_tool.py
Labels: backend

#1993 documentation: (Toy) lower toy.print to print_format and printf
  docs/Toy/toy/__main__.py
  docs/Toy/toy/compiler.py
  docs/Toy/toy/emulator/toy_accelerator_instruction_functions.py
  docs/Toy/toy/emulator/toy_accelerator_instructions.py
  docs/Toy/toy/rewrites/lower_toy_affine.py
  docs/Toy/toy/tests/test_lower_printf.py
  tests/interpreters/test_riscv_debug_interpreter.py
  tests/interpreters/test_riscv_emulator.py
  xdsl/interpreters/riscv_debug.py
  xdsl/interpreters/riscv_emulator.py
  xdsl/xdsl_opt_main.py
Labels: documentation

#2000 misc: lint notebooks
  docs/Toy/Toy_Ch0.ipynb
  docs/Toy/Toy_Ch3.ipynb
  docs/irdl.ipynb
Labels: misc

#1999 documentation: (toy) remove unused printf lowering
  docs/Toy/toy/rewrites/lower_printf_riscv.py
Labels: documentation

#2013 core: Make assembly format use attr-dict for properties
  tests/test_declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format.py
  xdsl/irdl/irdl.py
  xdsl/parser/core.py
Labels: core

#2012 dialects: (onnx) add onnx.Abs
  tests/filecheck/dialects/onnx/onnx_invalid.mlir
  tests/filecheck/dialects/onnx/onnx_ops.mlir
  xdsl/dialects/onnx.py
Labels: dialects

#2005 core: Add support for nested inferrence in IRDL
  tests/test_declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format_parser.py
  xdsl/irdl/irdl.py
Labels: core

#2018 Add pass to set `fastmath` flags of FP binary operations from `arith`
  tests/filecheck/transforms/arith-add-fastmath.mlir
  xdsl/tools/command_line_tool.py
  xdsl/transforms/arith_add_fastmath.py
Labels: enhancement, transformations

#2011 core: Support variadic operands and results in declarative assembly format.
  tests/test_declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format_parser.py
Labels: core

#2002 documentation: (Toy) add instruction on how to jit Toy using lli
  docs/Toy/Toy_Ch0.ipynb
Labels: documentation

#2022 dialects: Import MemRefType from builtin.
  tests/dialects/test_builtin.py
  tests/dialects/test_memref.py
  tests/dialects/test_stencil.py
  tests/dialects/test_vector.py
  tests/interpreters/test_linalg_interpreter.py
  xdsl/dialects/mpi.py
  xdsl/dialects/vector.py
  xdsl/interpreters/experimental/wgsl_printer.py
  xdsl/parser/attribute_parser.py
  xdsl/transforms/experimental/convert_stencil_to_ll_mlir.py
  xdsl/transforms/experimental/hls_convert_stencil_to_ll_mlir.py
  xdsl/transforms/lower_mpi.py
Labels: dialects, testing

#2016 dialects: (builtin) add `NoneType`
  tests/filecheck/dialects/builtin/attrs.mlir
  tests/filecheck/dialects/builtin/unrealized_conv_cast.mlir
  xdsl/dialects/builtin.py
  xdsl/parser/attribute_parser.py
  xdsl/printer.py
Labels: dialects, core

#2023 dialects: Switch memref accesses to assembly format
  xdsl/dialects/memref.py
Labels: dialects

#2019 bug: fix AffineMap.inverse_permutation
  tests/dialects/test_linalg.py
  tests/test_affine_builtins.py
  xdsl/dialects/linalg.py
  xdsl/ir/affine/affine_map.py
Labels: bug

#2024 dialects: Define nontemporal properties on memref accesses.
  tests/filecheck/dialects/memref/memref_ops.mlir
  xdsl/dialects/builtin.py
  xdsl/dialects/memref.py
Labels: dialects, core

#2020 interpreter: (linalg) add support for reduction iterators for generic
  tests/interpreters/test_linalg_interpreter.py
  xdsl/dialects/linalg.py
  xdsl/interpreters/linalg.py
Labels: interpreter

#2028 core: Add attribute variables to the declarative assembly format.
  tests/test_declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format_parser.py
Labels: core

#2021 testing: add tests for some kernels in the snitch backend paper
  tests/filecheck/projects/riscv-backend-paper/add.mlir
  tests/filecheck/projects/riscv-backend-paper/conv.mlir
  tests/filecheck/projects/riscv-backend-paper/matmul.mlir
  tests/filecheck/projects/riscv-backend-paper/relu.mlir
Labels: testing

#2030 core: (affine) add `used_dims` helper to AffineExpr
  tests/test_affine_builtins.py
  xdsl/ir/affine/affine_expr.py
Labels: core

#2025 core: (affine) add compress_dims
  tests/test_affine_builtins.py
  xdsl/ir/affine/affine_map.py
Labels: core

#2029 interpreter: (affine) add interpreter impl for affine.apply
  tests/interpreters/test_affine_interpreter.py
  xdsl/dialects/affine.py
  xdsl/interpreters/affine.py
Labels: interpreter

#2033 backend: (riscv) add automatic conversion of riscv_scf.for loop to ri…
  tests/filecheck/backend/riscv/convert_riscv_scf_for_to_frep.mlir
  xdsl/dialects/riscv_snitch.py
  xdsl/tools/command_line_tool.py
  xdsl/transforms/convert_riscv_scf_for_to_frep.py
Labels: backend

#1961 dialects: (onnx) add onnx.Conv
  tests/filecheck/dialects/onnx/onnx_invalid.mlir
  tests/filecheck/dialects/onnx/onnx_ops.mlir
  xdsl/dialects/onnx.py
Labels: dialects

#2045 interactive : command line additions
  xdsl/interactive/app.py
Labels: tool

#2052 interactive: changes to label/query
  xdsl/interactive/app.py
Labels: tool, interactive

#2050 interactive: add further terminal features
  xdsl/interactive/app.py
  xdsl/passes.py
  xdsl/xdsl_opt_main.py
Labels: tool, interactive

#2048 dialects: (riscv_scv) Add reverse order for (rof) op
  tests/filecheck/dialects/riscv_scf/ops.mlir
  xdsl/dialects/riscv_scf.py
Labels: dialects

#2054 core: make ParametrizedAttribute parameters a tuple
  docs/irdl.ipynb
  tests/test_attribute_definition.py
  xdsl/ir/core.py
Labels: bug, core

#2057 transforms: (riscv) Add pattern to convert move of immediate value to immediate instantiation
  tests/filecheck/backend/riscv/canonicalize.mlir
  xdsl/dialects/riscv.py
  xdsl/transforms/canonicalization_patterns/riscv.py
Labels: transformations

#2055 dialects: (riscv) remove SImm and replace with annotated IntegerAttr
  tests/dialects/test_riscv.py
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#2037 dialects: (onnx) add onnx.Constant
  tests/filecheck/dialects/onnx/onnx_invalid.mlir
  tests/filecheck/dialects/onnx/onnx_ops.mlir
  xdsl/dialects/onnx.py
Labels: dialects
