Repository xdslproject/xdsl, pull requests merged in 2024-03, with the labels that each got.

#2245 testing: unify all our kernels to one test file
  tests/filecheck/projects/riscv-backend-paper/bottom_up.mlir
  tests/filecheck/projects/riscv-backend-paper/conv_target.mlir
  tests/filecheck/projects/riscv-backend-paper/ddot_target.mlir
  tests/filecheck/projects/riscv-backend-paper/dense_target.mlir
  tests/filecheck/projects/riscv-backend-paper/dsum_target.mlir
  tests/filecheck/projects/riscv-backend-paper/fill_target.mlir
  tests/filecheck/projects/riscv-backend-paper/matmul_target.mlir
  tests/filecheck/projects/riscv-backend-paper/max_pool_target.mlir
  tests/filecheck/projects/riscv-backend-paper/relu_target.mlir
  tests/filecheck/projects/riscv-backend-paper/sum_pool_target.mlir
Labels: testing

#2261 dialects: reformat onnx.Constant to align with MNIST models one
  tests/filecheck/dialects/onnx/onnx_invalid.mlir
  tests/filecheck/dialects/onnx/onnx_ops.mlir
  xdsl/dialects/onnx.py
Labels: bug, dialects

#2263 transformations: (riscv-scf-loop-range-folding) add riscv.add support
  tests/filecheck/dialects/riscv_scf/loop_range_folding.mlir
  xdsl/transforms/riscv_scf_loop_range_folding.py
Labels: transformations

#2254 core: make ModulePass frozen
  tests/test_parse_spec_format.py
  tests/test_pass_from_spec.py
  tests/test_pass_to_arg_and_types_str.py
  tests/test_pass_to_spec.py
  xdsl/interactive/passes.py
  xdsl/interactive/rewrites.py
  xdsl/passes.py
  xdsl/transforms/arith_add_fastmath.py
  xdsl/transforms/convert_onnx_to_linalg.py
  xdsl/transforms/convert_scf_to_openmp.py
  xdsl/transforms/experimental/convert_stencil_to_ll_mlir.py
  xdsl/transforms/experimental/dmp/decompositions.py
  xdsl/transforms/experimental/dmp/stencil_global_to_local.py
  xdsl/transforms/experimental/hls_convert_stencil_to_ll_mlir.py
  xdsl/transforms/experimental/lower_hls.py
  xdsl/transforms/experimental/replace_incompatible_fpga.py
  xdsl/transforms/individual_rewrite.py
  xdsl/transforms/loop_hoist_memref.py
  xdsl/transforms/lower_mpi.py
  xdsl/transforms/lower_riscv_func.py
  xdsl/transforms/lower_snitch.py
  xdsl/transforms/memref_streamify.py
  xdsl/transforms/mlir_opt.py
  xdsl/transforms/riscv_cse.py
  xdsl/transforms/riscv_register_allocation.py
  xdsl/transforms/scf_parallel_loop_tiling.py
  xdsl/transforms/snitch_register_allocation.py
  xdsl/transforms/stencil_unroll.py
  xdsl/transforms/test_lower_linalg_to_snitch.py
  xdsl/utils/parse_pipeline.py
  xdsl/xdsl_opt_main.py
Labels: core

#2231 interpreter: add value_for_attribute to interpreter
  tests/interpreters/test_builtin_interpreter.py
  xdsl/interpreter.py
  xdsl/interpreters/builtin.py
Labels: interpreter

#2278 dialects: (linalg) add linalg.mul
  tests/filecheck/mlir-conversion/with-mlir/dialects/linalg/ops.mlir
  xdsl/dialects/linalg.py
Labels: dialects

#2229 interpreter: add args arg to xdsl-run for entry point function arguments
  tests/filecheck/projects/riscv-backend-paper/fill.mlir
  tests/filecheck/runner/riscv_scf.mlir
  xdsl/tools/xdsl_run.py
Labels: interpreter

#2270 testing: manually simplify stride patterns in bottom-up test
  tests/filecheck/projects/riscv-backend-paper/bottom_up.mlir
Labels: testing

#2259 interactive: don't print =none for None value
  tests/test_pass_to_arg_and_types_str.py
  xdsl/passes.py
Labels: interactive

#2276 dialects: (snitch_stream) simplify bounds of size 1 in stride pattern
  tests/filecheck/transforms/convert_memref_stream_to_snitch.mlir
  tests/interpreters/test_snitch_stream_interpreter.py
  xdsl/dialects/snitch_stream.py
Labels: dialects

#2280 (dialects): add linalg.tranpose
  tests/filecheck/mlir-conversion/with-mlir/dialects/linalg/invalid_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/linalg/ops.mlir
  xdsl/dialects/linalg.py
Labels: dialects

#2277 transformations: add imperfect loop nest support in memref_stream.streaming_region
  tests/filecheck/transforms/convert_memref_stream_to_snitch.mlir
  xdsl/transforms/convert_memref_stream_to_snitch_stream.py
Labels: transformations

#2289 ci: use old pytest
  requirements.txt
Labels: CI

#2288 ci: update actions from node 16 to node 20
  .github/workflows/ci-core.yml
  .github/workflows/ci-mlir.yml
  .github/workflows/ci-notebooks.yml
  .github/workflows/ci-pyright-fails.yml
  .github/workflows/code-formatting.yml
  .github/workflows/jupyterlite.yml
  .github/workflows/pythonpublish.yml
Labels: CI

#2283 interpreter: remove deallocated property on RawPtr
  xdsl/interpreters/ptr.py
  xdsl/interpreters/riscv_libc.py
Labels: interpreter

#2266 testing: raise bottom-up test from snitch_stream to memref_stream
  tests/filecheck/projects/riscv-backend-paper/bottom_up.mlir
Labels: testing

#2295 testing: change filecheck default timeout to 10s
  Makefile
Labels: testing

#2284 interpreter: prettify result printing
  tests/filecheck/projects/riscv-backend-paper/fill.mlir
  tests/filecheck/runner/riscv_scf.mlir
  tests/filecheck/runner/runner_args.mlir
  xdsl/tools/xdsl_run.py
Labels: interpreter

#2297 testing: use arguments in matmul kernel test
  tests/filecheck/projects/riscv-backend-paper/matmul.mlir
Labels: testing

#2293 transformations: (mlir-opt) Add option to specify mlir-opt binary in args
  tests/filecheck/mlir-conversion/with-mlir/mlir_opt.mlir
  tests/filecheck/mlir-conversion/with-mlir/mlir_opt_fail.mlir
  xdsl/transforms/mlir_opt.py
Labels: transformations

#2304 pip prod(deps): update pytest requirement from <8.1 to <8.2
  requirements.txt
Labels: dependencies

#2303 interactive: fix bug - do not allow users to be able to select root node to be added to the pass pipeline
  xdsl/interactive/app.py
Labels: tool, interactive

#2306 dialects: Implement `bufferization.alloc_tensor` and `bufferization.to_tensor`
  tests/dialects/test_bufferization.py
  tests/filecheck/mlir-conversion/with-mlir/dialects/bufferization/ops.mlir
  xdsl/dialects/bufferization.py
  xdsl/tools/command_line_tool.py
Labels: dialects

#2302 core: Make SSAValue hashable
  xdsl/ir/core.py
  xdsl/parser/core.py
  xdsl/utils/test_value.py
Labels: core

#2313 core: declarative format variable fix
  tests/irdl/test_declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format.py
Labels: minor, core

#2251 dialects: (hw) Add `InnerSymAttr` attributes to HW dialect.
  tests/dialects/test_hw.py
  tests/filecheck/dialects/hw/hw_ops.mlir
  tests/filecheck/dialects/hw/invalid.mlir
  xdsl/dialects/hw.py
Labels: dialects

#2317 dialects (hw): Fix Formatting
  xdsl/dialects/hw.py
Labels: dialects

#2312 dialects: (llvm) Fix constructor for llvm.InlineAsmOp
  tests/dialects/test_llvm.py
  xdsl/dialects/llvm.py
  xdsl/pattern_rewriter.py
Labels: dialects

#2311 core: use InsertPoint for block inlining
  tests/test_rewriter.py
  xdsl/rewriter.py
Labels: core

#2309 transformations: fix memref stream conversion
  tests/filecheck/dialects/memref_stream/ops.mlir
  tests/filecheck/projects/riscv-backend-paper/source.mlir
  tests/filecheck/transforms/convert_linalg_to_memref_stream.mlir
  tests/filecheck/transforms/convert_memref_stream_to_loops.mlir
  tests/filecheck/transforms/memref_streamify.mlir
  xdsl/transforms/convert_linalg_to_memref_stream.py
  xdsl/transforms/loop_nest_lowering_utils.py
Labels: bug, transformations

#2290 interpreter: (memref_stream) add interpreter implementation for memref_stream
  tests/filecheck/projects/riscv-backend-paper/add.mlir
  tests/interpreters/test_memref_stream_interpreter.py
  xdsl/interpreters/__init__.py
  xdsl/interpreters/memref_stream.py
Labels: interpreter

#2294 dialects: (snitch_stream) make snitch_stream parameters go outwards-in
  tests/filecheck/dialects/snitch_stream/convert_snitch_stream_to_snitch.mlir
  tests/filecheck/transforms/convert_memref_stream_to_snitch.mlir
  tests/interpreters/test_snitch_stream_interpreter.py
  xdsl/backend/riscv/lowering/convert_snitch_stream_to_snitch.py
  xdsl/dialects/snitch_stream.py
  xdsl/transforms/convert_memref_stream_to_snitch_stream.py
Labels: dialects

#2318 core: (pattern_rewriter) Revert accidental change
  xdsl/pattern_rewriter.py
Labels: core

#2321 dialects: (riscv) add index to registers
  tests/dialects/test_riscv.py
  xdsl/dialects/riscv.py
Labels: dialects

#2308 core: add insert_op_at_location to PatternRewriter
  xdsl/pattern_rewriter.py
  xdsl/rewriter.py
Labels: core

#2323 bug: (onnx) fix onnx.Gemm
  tests/filecheck/dialects/onnx/onnx_ops.mlir
  xdsl/dialects/onnx.py
Labels: bug, dialects

#2234 dialects: (air) Add air dialect
  tests/filecheck/dialects/air/air_ops.mlir
  xdsl/dialects/experimental/air.py
  xdsl/tools/command_line_tool.py
Labels: dialects

#2331 core: rewrite_op returns whether an action was performed
  docs/database_example.ipynb
  tests/pattern_rewriter/test_pattern_rewriter.py
  xdsl/pattern_rewriter.py
Labels: core

#2298 dialects: (gpu) Adding `gpu.wait` op
  tests/dialects/test_gpu.py
  tests/filecheck/dialects/gpu/ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/gpu/ops.mlir
  xdsl/dialects/gpu.py
Labels: dialects

#2338 interpreter: (onnx) add elementwise onnx ops and onnx.relu
  .github/workflows/ci-pyright-fails.yml
  pyproject.toml
  tests/interpreters/test_onnx_interpreter.py
  xdsl/interpreters/__init__.py
  xdsl/interpreters/onnx.py
  xdsl/tools/xdsl_run.py
  xdsl/transforms/constant_fold_interp.py
Labels: interpreter

#2333 dialects: (x86) PR1 - Registers
  tests/dialects/test_x86.py
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/backend/register_type.py
  xdsl/dialects/riscv.py
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/register.py
  xdsl/tools/command_line_tool.py
Labels: dialects

#2350 interpreter: (onnx) args should be casted to ShapedArray[float] not ShapedArray[int]
  xdsl/interpreters/onnx.py
Labels: bug, interpreter

#2348 interpreter: (ml_program) Add ml_program operations to target MNIST ONNX model
  tests/interpreters/test_ml_program_interpreter.py
  xdsl/interpreters/__init__.py
  xdsl/interpreters/ml_program.py
Labels: interpreter

#2335 dialects: (comb) Fix icmp parser/printer discrepancy and 2-state semantics modelling
  tests/filecheck/dialects/comb/comb_ops.mlir
  xdsl/dialects/comb.py
Labels: dialects

#2357 interpreter: (tensor) Add tensor operations for ONNX model MNIST targeting
  tests/interpreters/test_tensor_interpreter.py
  xdsl/interpreters/__init__.py
  xdsl/interpreters/tensor.py
Labels: interpreter

#2285 interpreter: add xtype, a typed memory format string
  docs/Toy/toy/emulator/toy_accelerator_instruction_functions.py
  docs/Toy/toy/emulator/toy_accelerator_instructions.py
  tests/interpreters/test_riscv_interpreter.py
  tests/interpreters/test_snitch_stream_interpreter.py
  xdsl/backend/riscv/lowering/convert_memref_to_riscv.py
  xdsl/interpreters/ptr.py
  xdsl/interpreters/riscv.py
  xdsl/interpreters/riscv_libc.py
  xdsl/interpreters/snitch_stream.py
Labels: interpreter

#2286 interpreter: pass interpreter instance to impl_attr
  xdsl/interpreter.py
  xdsl/interpreters/builtin.py
Labels: interpreter

#2287 interpreter: replace list data representation in shaped array with bytebuffer
  docs/Toy/toy/interpreter.py
  tests/filecheck/runner/with-wgpu/global_id_inc.mlir
  tests/interpreters/test_affine_interpreter.py
  tests/interpreters/test_builtin_interpreter.py
  tests/interpreters/test_linalg_interpreter.py
  tests/interpreters/test_memref_interpreter.py
  tests/interpreters/test_memref_stream_interpreter.py
  tests/interpreters/test_ml_program_interpreter.py
  tests/interpreters/test_onnx_interpreter.py
  tests/interpreters/test_shaped_array.py
  tests/interpreters/test_tensor_interpreter.py
  xdsl/interpreters/builtin.py
  xdsl/interpreters/memref.py
  xdsl/interpreters/ml_program.py
  xdsl/interpreters/onnx.py
  xdsl/interpreters/ptr.py
  xdsl/interpreters/shaped_array.py
  xdsl/interpreters/tensor.py
Labels: interpreter

#2365 core: Fix bug in pattern rewriter when ErasedSSAValue is present
  tests/pattern_rewriter/test_pattern_rewriter.py
  xdsl/pattern_rewriter.py
Labels: core

#2363 dialects: (linalg) allow for empty results in linalg.fill custom format
  tests/filecheck/mlir-conversion/with-mlir/dialects/linalg/ops.mlir
  xdsl/dialects/linalg.py
Labels: bug, dialects

#2320 transformations: (onnx) lower onnx.Gemm to linalg
  tests/filecheck/transforms/convert_onnx_to_linalg.mlir
  xdsl/dialects/onnx.py
  xdsl/transforms/convert_onnx_to_linalg.py
Labels: transformations

#2362 interpreter: (interpreter) Add check to see if operand count matches input count in `run_op `
  tests/test_interpreter.py
  xdsl/interpreter.py
  xdsl/interpreters/onnx.py
Labels: interpreter

#2372 dialects: (comb) Fix replicate op
  tests/filecheck/dialects/comb/comb_ops.mlir
  xdsl/dialects/comb.py
Labels: bug, dialects

#2351 dialects: (x86) PR2 - Operations: add
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#2374 rewriting: Fix TypeConversionPattern recursive support for DictionaryAttr
  tests/pattern_rewriter/test_pattern_rewriter.py
  xdsl/pattern_rewriter.py
Labels: bug, rewriting

#2370 core: Make print_ssa_value return chosen name
  tests/test_printer.py
  xdsl/printer.py
Labels: enhancement, core

#2369 core: Fix printing of non-identifier symbols
  tests/test_printer.py
  xdsl/printer.py
  xdsl/utils/lexer.py
Labels: bug, core

#2376 transformations: (reconcile-unrealized-casts) Make cast reconciliation available as a pattern
  xdsl/transforms/reconcile_unrealized_casts.py
Labels: enhancement, transformations

#2371 core: Make location parsing public
  tests/test_parser.py
  xdsl/parser/attribute_parser.py
  xdsl/parser/core.py
Labels: enhancement, core

#2375 dialects: (x86) PR3 - Assembly emission
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
  xdsl/xdsl_opt_main.py
Labels: dialects

#2378 transformations: (reconcile-unrealized-casts) Disable warnings in pattern by default
  xdsl/transforms/reconcile_unrealized_casts.py
Labels: enhancement, transformations

#2385 transformations: (test-lower-snitch-stream-to-asm) rename file [NFC]
  tests/interactive/test_app.py
  xdsl/tools/command_line_tool.py
  xdsl/transforms/test_lower_snitch_stream_to_asm.py
Labels: transformations

#2386 transformations: (test-lower-snitch-stream-to-asm) remove riscv-cse
  xdsl/transforms/test_lower_snitch_stream_to_asm.py
Labels: transformations

#2388 dialects: (linalg) add linalg.pooling_nchw_max
  tests/filecheck/mlir-conversion/with-mlir/dialects/linalg/ops.mlir
  xdsl/dialects/linalg.py
Labels: dialects

#2235 dialects: Fix affine.ParallelOp boundsGroup checks.
  tests/filecheck/dialects/affine/invalid.mlir
  xdsl/dialects/affine.py
Labels: dialects, minor

#2379 dialects: (x86) PR4 - two-register-operand instructions
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#2355 interpreter: (linalg) Add linalg operations for ONNX model MNIST targeting
  tests/interpreters/test_linalg_interpreter.py
  xdsl/interpreters/linalg.py
Labels: interpreter

#2392 dialects: (linalg) add attributes to linalg.pooling_nchw_max and base class for pooling ops
  xdsl/dialects/linalg.py
Labels: dialects

#2400 dialects: (linalg) add linalg.conv_2d_nchw_fchw
  tests/filecheck/mlir-conversion/with-mlir/dialects/linalg/ops.mlir
  xdsl/dialects/linalg.py
Labels: dialects

#2366 dialects: (hw) Add `hw.module` and `hw.output` operations
  tests/filecheck/dialects/hw/hw_module.mlir
  tests/filecheck/dialects/hw/hw_ops.mlir
  tests/filecheck/dialects/hw/invalid.mlir
  xdsl/dialects/hw.py
Labels: dialects
