Repository xdslproject/xdsl, pull requests merged in 2024-10, with the labels that each got.

#3229 transformations: New stencil-shape-minimize pass
  tests/filecheck/transforms/stencil-shape-minimize.mlir
  xdsl/tools/command_line_tool.py
  xdsl/transforms/stencil_shape_minimize.py
Labels: transformations

#3230 dialects: (riscv) canonicalization pattern added (x|0=x)
  GETTING_STARTED.md
  tests/filecheck/backend/riscv/canonicalize.mlir
  xdsl/dialects/riscv.py
  xdsl/transforms/canonicalization_patterns/riscv.py
Labels: dialects

#3228 dialects: (cf) Assert canonicalization pattern
  tests/filecheck/dialects/cf/canonicalize.mlir
  xdsl/dialects/cf.py
  xdsl/transforms/canonicalization_patterns/cf.py
Labels: dialects, testing, transformations

#3227 misc: re-run notebooks with newer version of marimo
  docs/marimo/linalg_snitch.py
  docs/marimo/mlir/onnx_demo.py
Labels: minor, misc

#3034 interpreter: use interpreter default bitwidth in run main
  xdsl/tools/xdsl_run.py
Labels: interpreter

#3234 dialects: (cf) branch canonicalization.
  tests/filecheck/dialects/cf/canonicalize.mlir
  xdsl/dialects/cf.py
  xdsl/transforms/canonicalization_patterns/cf.py
Labels: dialects, testing, transformations

#3236 transformations: (memref-to-dsd) Handle csl variables
  tests/filecheck/transforms/memref-to-dsd.mlir
  xdsl/dialects/csl/csl.py
  xdsl/transforms/memref_to_dsd.py
Labels: minor, hackathon, transformations

#3115 dialects: (stim) Add first annotation op
  tests/dialects/stim/test_stim_printer_parser.py
  tests/filecheck/dialects/stim/stim_ops.mlir
  xdsl/dialects/stim/__init__.py
  xdsl/dialects/stim/ops.py
  xdsl/dialects/stim/stim_printer_parser.py
Labels: dialects

#3237 transformations: (lower-csl-stencil) Promote args before outlining
  tests/filecheck/transforms/lower-csl-stencil.mlir
  xdsl/transforms/lower_csl_stencil.py
Labels: bug, hackathon, transformations

#3210 tool: tblgen-to-py script
  pyproject.toml
  tests/tblgen_to_py/test.json
  tests/tblgen_to_py/test.py
  tests/tblgen_to_py/test_tblgen.py
  xdsl/tools/tblgen_to_py.py
Labels: enhancement, dialects, tool

#3235 core: Block predecessors
  tests/irdl/test_operation_builder.py
  tests/test_use.py
  xdsl/ir/core.py
  xdsl/printer.py
Labels: testing, core

#3239 core: Fix parsing for hex denseAttrs
  tests/filecheck/parser-printer/builtin_attrs.mlir
  xdsl/parser/attribute_parser.py
Labels: core

#3238 dialects: (dmp) Emit multiple swaps if halo is larger than core size
  tests/dialects/test_dmp.py
  xdsl/dialects/experimental/dmp.py
Labels: dialects, hackathon

#3240 dialects: (cf) br folding
  tests/filecheck/dialects/cf/canonicalize.mlir
  xdsl/dialects/cf.py
  xdsl/transforms/canonicalization_patterns/cf.py
Labels: dialects, testing, transformations

#3241 dialects: (varith) Add varith (variadic arithmetic) dialect
  tests/filecheck/dialects/varith/invalid.mlir
  tests/filecheck/dialects/varith/varith_ops.mlir
  xdsl/dialects/__init__.py
  xdsl/dialects/varith.py
Labels: dialects, hackathon

#3246 dialects: (builtin) add AnyMemRefTypeConstr and AnyTensorTypeConstr
  xdsl/dialects/builtin.py
  xdsl/dialects/csl/csl_stencil.py
  xdsl/dialects/stencil.py
  xdsl/transforms/convert_stencil_to_csl_stencil.py
  xdsl/transforms/csl_stencil_to_csl_wrapper.py
Labels: dialects

#3254 dialects: (stencil) add StencilType constraints
  xdsl/dialects/csl/csl_stencil.py
  xdsl/dialects/experimental/dmp.py
  xdsl/dialects/stencil.py
  xdsl/irdl/constraints.py
  xdsl/transforms/convert_stencil_to_csl_stencil.py
  xdsl/transforms/csl_stencil_to_csl_wrapper.py
  xdsl/transforms/experimental/convert_stencil_to_ll_mlir.py
Labels: dialects

#3242 transformations: Add convert-arith-to-varith pass
  tests/filecheck/transforms/convert-arith-to-varith.mlir
  xdsl/tools/command_line_tool.py
  xdsl/transforms/varith_transformations.py
Labels: hackathon, transformations

#3259 misc: minor linting
  xdsl/dialects/builtin.py
  xdsl/dialects/cf.py
  xdsl/dialects/utils.py
  xdsl/frontend/code_generation.py
Labels: misc

#3253 transforms: (dce) region-level dce
  tests/filecheck/transforms/dce.mlir
  xdsl/ir/post_order.py
  xdsl/transforms/dead_code_elimination.py
Labels: transformations

#3262 misc: miscellaneous linting wrt Pylance
  tests/irdl/test_attribute_definition.py
  xdsl/dialects/builtin.py
  xdsl/dialects/stablehlo.py
  xdsl/interpreters/irdl.py
  xdsl/ir/core.py
  xdsl/irdl/attributes.py
  xdsl/transforms/canonicalization_patterns/csl.py
Labels: misc

#3263 misc: add pyright ignores for places where it's not going to be happy
  tests/test_is_satisfying_hint.py
  xdsl/tools/tblgen_to_py.py
  xdsl/utils/hints.py
Labels: misc

#3218 dialects: (mod_arith) create mod_arith dialect and add initial operation
  tests/filecheck/dialects/mod_arith/mod_arith.mlir
  xdsl/dialects/__init__.py
  xdsl/dialects/mod_arith.py
Labels: dialects

#3270 dialects: (llvm) ArithmeticBinOpBase is always on integers
  tests/dialects/test_llvm.py
  xdsl/dialects/llvm.py
Labels: dialects

#3273 misc: add more .constr helpers and constraints
  tests/irdl/test_declarative_assembly_format.py
  tests/tblgen_to_py/test.py
  xdsl/dialects/builtin.py
  xdsl/dialects/csl/csl.py
  xdsl/dialects/stream.py
  xdsl/tools/tblgen_to_py.py
  xdsl/transforms/csl_stencil_bufferize.py
  xdsl/transforms/lower_csl_wrapper.py
  xdsl/transforms/memref_to_dsd.py
Labels: misc

#3258 bug: Tighten type constraints on DenseArrayBase.create_dense_int_or_index
  tests/dialects/test_builtin.py
  tests/dialects/test_transform.py
  xdsl/dialects/builtin.py
  xdsl/dialects/linalg.py
  xdsl/dialects/llvm.py
  xdsl/dialects/memref.py
  xdsl/dialects/transform.py
  xdsl/transforms/convert_onnx_to_linalg.py
  xdsl/transforms/experimental/hls_convert_stencil_to_ll_mlir.py
Labels: bug

#3267 transforms: (canonicalize) Add full dce
  tests/filecheck/dialects/cf/canonicalize.mlir
  tests/filecheck/dialects/riscv_cf/canonicalize.mlir
  xdsl/pattern_rewriter.py
  xdsl/transforms/canonicalize.py
  xdsl/transforms/dead_code_elimination.py
Labels: core, transformations

#3274 dialects: (arith) split generic binary op definition into specific ones
  tests/dialects/test_arith.py
  tests/dialects/test_math.py
  xdsl/backend/riscv/lowering/convert_arith_to_riscv.py
  xdsl/backend/riscv/lowering/convert_arith_to_riscv_snitch.py
  xdsl/dialects/arith.py
  xdsl/transforms/experimental/stencil_tensorize_z_dimension.py
  xdsl/transforms/varith_transformations.py
Labels: dialects

#3279 transformations: (memref-to-dsd) Support pre-existing GetMemDsd ops
  tests/filecheck/transforms/memref-to-dsd.mlir
  xdsl/transforms/memref_to_dsd.py
Labels: minor, transformations

#3282 transforms: (cf) fix passthrough operands
  tests/filecheck/dialects/cf/canonicalize.mlir
  xdsl/transforms/canonicalization_patterns/cf.py
Labels: bug, transformations

#3280 backend: (csl) Support zero-stride dsd printing
  tests/filecheck/backend/csl/print_csl.mlir
  xdsl/backend/csl/print_csl.py
Labels: minor, backend

#3271 transformations: (lower-csl-stencil) Optimise full-stencil access
  tests/filecheck/transforms/lower-csl-stencil.mlir
  xdsl/transforms/lower_csl_stencil.py
Labels: transformations

#3283 dialects: (cf) cond_br folding
  tests/filecheck/dialects/cf/canonicalize.mlir
  xdsl/dialects/cf.py
  xdsl/transforms/canonicalization_patterns/cf.py
  xdsl/transforms/canonicalization_patterns/scf.py
  xdsl/transforms/canonicalization_patterns/utils.py
Labels: dialects, transformations

#3264 misc: use VarConstraint instead of Annotated[ConstraintVar] in operation definitions
  docs/irdl.ipynb
  tests/irdl/test_declarative_assembly_format.py
  tests/irdl/test_operation_definition.py
  xdsl/dialects/affine.py
  xdsl/dialects/arith.py
  xdsl/dialects/comb.py
  xdsl/dialects/csl/csl.py
  xdsl/dialects/eqsat.py
  xdsl/dialects/llvm.py
  xdsl/dialects/ltl.py
  xdsl/dialects/memref.py
  xdsl/dialects/memref_stream.py
  xdsl/dialects/mod_arith.py
  xdsl/dialects/riscv_snitch.py
  xdsl/dialects/scf.py
  xdsl/dialects/seq.py
  xdsl/dialects/stablehlo.py
  xdsl/dialects/stencil.py
  xdsl/dialects/stream.py
  xdsl/dialects/transform.py
  xdsl/dialects/varith.py
Labels: misc

#3286 misc: remove unnecessary pyright ignore comments [NFC]
  tests/backend/test_jax_executable.py
  tests/dialects/test_riscv_snitch.py
  tests/filecheck/frontend/dialects/affine.py
  tests/irdl/test_declarative_assembly_format.py
  tests/test_parser.py
  tests/test_traits.py
  xdsl/dialects/builtin.py
  xdsl/dialects/stream.py
  xdsl/frontend/dialects/builtin.py
  xdsl/frontend/type_conversion.py
  xdsl/irdl/attributes.py
  xdsl/tools/tblgen_to_py.py
  xdsl/transforms/varith_transformations.py
Labels: minor, misc

#3292 backend: (csl) Array literals
  tests/filecheck/backend/csl/print_csl.mlir
  xdsl/backend/csl/print_csl.py
Labels: minor, backend

#3261 core: Implement RangeVarConstraint
  docs/irdl.ipynb
  tests/irdl/test_operation_definition.py
  xdsl/dialects/bufferization.py
  xdsl/dialects/builtin.py
  xdsl/dialects/irdl/pyrdl_to_irdl.py
  xdsl/dialects/stencil.py
  xdsl/irdl/constraints.py
  xdsl/irdl/operations.py
Labels: core

#3293 dialects: (llvm) Add support for overflow flags
  tests/dialects/test_llvm.py
  tests/filecheck/dialects/llvm/arithmetic.mlir
  xdsl/dialects/llvm.py
Labels: dialects

#3276 dialects: (riscv) add fastmath flag to RdRsRs Float Float Int operations
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#3284 transformations: (cf) cf.cond_br identical successors
  tests/filecheck/dialects/cf/canonicalize.mlir
  xdsl/dialects/cf.py
  xdsl/transforms/canonicalization_patterns/cf.py
Labels: dialects, transformations

#3285 transformations: (cf) cf.cond_br truth propagation
  tests/filecheck/dialects/cf/canonicalize.mlir
  xdsl/dialects/builtin.py
  xdsl/dialects/cf.py
  xdsl/transforms/canonicalization_patterns/cf.py
Labels: dialects, transformations

#3301 dialects: (bufferization) add materialize_in_destination
  tests/filecheck/mlir-conversion/with-mlir/dialects/bufferization/ops.mlir
  xdsl/dialects/bufferization.py
Labels: dialects

#3291 transformations: (cf) switch canonicalization
  tests/filecheck/dialects/cf/canonicalize.mlir
  xdsl/dialects/cf.py
  xdsl/transforms/canonicalization_patterns/cf.py
Labels: dialects, transformations

#3305 core: Add default valued attributes
  tests/irdl/test_declarative_assembly_format.py
  tests/irdl/test_operation_definition.py
  xdsl/irdl/declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format_parser.py
  xdsl/irdl/operations.py
Labels: core

#3313 dialects: (csl) Add ptrcast op
  tests/filecheck/backend/csl/print_csl.mlir
  tests/filecheck/dialects/csl/ops.mlir
  xdsl/backend/csl/print_csl.py
  xdsl/dialects/csl/csl.py
Labels: backend

#3312 transformations: Support devito timers in the csl pipeline
  tests/filecheck/transforms/csl-stencil-to-csl-wrapper.mlir
  xdsl/transforms/csl_stencil_to_csl_wrapper.py
  xdsl/transforms/experimental/stencil_tensorize_z_dimension.py
  xdsl/transforms/stencil_shape_minimize.py
Labels: transformations

#3316 dialects: (csl-stencil) Separate varargs for apply regions
  tests/dialects/test_csl_stencil.py
  tests/filecheck/dialects/csl/csl-stencil-canonicalize.mlir
  tests/filecheck/dialects/csl/csl-stencil-ops.mlir
  tests/filecheck/transforms/convert-stencil-to-csl-stencil.mlir
  tests/filecheck/transforms/csl-stencil-handle-async-flow.mlir
  tests/filecheck/transforms/csl-stencil-materialize-stores.mlir
  tests/filecheck/transforms/csl-stencil-to-csl-wrapper.mlir
  tests/filecheck/transforms/csl_stencil_bufferize.mlir
  tests/filecheck/transforms/lower-csl-stencil.mlir
  tests/filecheck/transforms/lower-csl-wrapper.mlir
  xdsl/dialects/csl/csl_stencil.py
  xdsl/transforms/convert_stencil_to_csl_stencil.py
  xdsl/transforms/csl_stencil_bufferize.py
  xdsl/transforms/csl_stencil_materialize_stores.py
  xdsl/transforms/lower_csl_stencil.py
Labels: dialects

#3317 core: relax some types in range variable solving
  xdsl/irdl/declarative_assembly_format.py
Labels: core

#3303 core: always print unregistered ops
  tests/filecheck/dialects/scf/unregistered.mlir
  xdsl/printer.py
Labels: bug, core

#3323 core: (HasParent) allow no parent for testing
  tests/test_builtin_traits.py
  xdsl/traits.py
Labels: testing, core

#3327 dialects: (arith) fix attribute dictionary printing and parsing
  tests/filecheck/dialects/arith/arith_ops.mlir
  xdsl/dialects/arith.py
Labels: bug, dialects

#3329 transformation: (convert-varith-to-arith) Minor fix to filecheck
  tests/filecheck/transforms/convert-arith-to-varith.mlir
Labels: minor, transformations

#3189 transformations: (eqsat) add pass to convert non-eclass functions to eclass
  tests/filecheck/transforms/eqsat-create-eclasses.mlir
  xdsl/tools/command_line_tool.py
  xdsl/transforms/eqsat_create_eclasses.py
Labels: transformations

#3326 misc: remove type annotations from VarConstraint ClassVars
  docs/irdl.ipynb
  tests/irdl/test_declarative_assembly_format.py
  tests/irdl/test_operation_definition.py
  xdsl/dialects/affine.py
  xdsl/dialects/arith.py
  xdsl/dialects/comb.py
  xdsl/dialects/csl/csl.py
  xdsl/dialects/eqsat.py
  xdsl/dialects/llvm.py
  xdsl/dialects/ltl.py
  xdsl/dialects/memref.py
  xdsl/dialects/memref_stream.py
  xdsl/dialects/mod_arith.py
  xdsl/dialects/riscv_snitch.py
  xdsl/dialects/scf.py
  xdsl/dialects/seq.py
  xdsl/dialects/stablehlo.py
  xdsl/dialects/stream.py
  xdsl/dialects/varith.py
  xdsl/irdl/operations.py
Labels: misc

#3287 api: constr helpers for generic attributes now mostly static methods
  tests/irdl/test_declarative_assembly_format.py
  tests/tblgen_to_py/test.py
  xdsl/dialects/affine.py
  xdsl/dialects/builtin.py
  xdsl/dialects/csl/csl.py
  xdsl/dialects/memref.py
  xdsl/dialects/memref_stream.py
  xdsl/dialects/stream.py
  xdsl/tools/tblgen_to_py.py
  xdsl/transforms/memref_to_dsd.py
Labels: API

#3309 transforms: Add convert-varith-to-arith pass
  tests/filecheck/transforms/convert-varith-to-arith.mlir
  xdsl/tools/command_line_tool.py
  xdsl/transforms/varith_transformations.py
Labels: transformations

#3320 dialects: (csl-stencil) Add coefficients to apply op
  tests/filecheck/transforms/convert-stencil-to-csl-stencil.mlir
  tests/filecheck/transforms/lower-csl-stencil.mlir
  xdsl/dialects/csl/csl.py
  xdsl/dialects/csl/csl_stencil.py
  xdsl/transforms/convert_stencil_to_csl_stencil.py
  xdsl/transforms/csl_stencil_to_csl_wrapper.py
  xdsl/transforms/lower_csl_stencil.py
Labels: dialects, minor

#3330 transformations: (arith-to-varith) Support more cases
  tests/filecheck/transforms/convert-arith-to-varith.mlir
  xdsl/transforms/varith_transformations.py
Labels: minor, transformations

#3277 Arith to riscv lowering fastmath cmpf
  tests/filecheck/backend/riscv/convert_arith_to_riscv.mlir
  xdsl/backend/riscv/lowering/convert_arith_to_riscv.py
Labels: dialects

#3307 transformations: Split varith into neighbour and own data across csl_stencil regions
  tests/filecheck/transforms/convert-stencil-to-csl-stencil.mlir
  xdsl/transforms/convert_stencil_to_csl_stencil.py
  xdsl/transforms/experimental/stencil_tensorize_z_dimension.py
Labels: transformations

#3338 transformations: (memref-to-dsd) Support memref.load ops
  tests/filecheck/transforms/memref-to-dsd.mlir
  xdsl/transforms/memref_to_dsd.py
Labels: minor, transformations

#3337 dialects: (llvm) Add the integer converstion operations
  tests/filecheck/dialects/llvm/arithmetic.mlir
  xdsl/dialects/llvm.py
Labels: enhancement, dialects

#3339 fix: (csl) Print float zero as `0.0`, not `0`
  tests/filecheck/backend/csl/print_csl.mlir
  xdsl/backend/csl/print_csl.py
Labels: minor, backend

#3055 dialects: remove some stencil dead code.
  tests/dialects/test_stencil.py
  xdsl/dialects/stencil.py
  xdsl/transforms/shape_inference_patterns/stencil.py
Labels: dialects, minor

#3324 transformations: (lower-csl-wrapper) Add params_as_consts flag
  tests/filecheck/transforms/lower-csl-wrapper.mlir
  xdsl/transforms/lower_csl_wrapper.py
Labels: minor, transformations

#3347 transformations: New linalg-fuse-multiply-add pass
  tests/filecheck/transforms/linalg-fuse-multiply-add.mlir
  xdsl/tools/command_line_tool.py
  xdsl/transforms/linalg_transformations.py
Labels: transformations

#3345 transformations: (linalg-to-csl) Lower generic to fmac(h|s)
  tests/filecheck/transforms/linalg-to-csl.mlir
  xdsl/transforms/linalg_to_csl.py
Labels: transformations

#3351 dialects: (varith) fix switch parsing
  tests/filecheck/dialects/varith/varith_ops.mlir
  xdsl/dialects/varith.py
Labels: bug, dialects

#3352 dialects: (llvm) Added pretty printing to llvm.mlir.constant
  tests/filecheck/dialects/llvm/arithmetic.mlir
  xdsl/dialects/llvm.py
Labels: dialects

#3358 dialects: (pdl) Filecheck test documenting how to match an MLIR operation without return type
  tests/filecheck/dialects/pdl/pdl_operation.mlir
Labels: dialects

#3355 misc: add a ScopedDict util, similar to LLVM's ScopedHashTable
  docs/Toy/toy/frontend/ir_gen.py
  tests/utils/test_scoped_dict.py
  xdsl/interpreter.py
  xdsl/utils/scoped_dict.py
Labels: misc

#3357 transformations: New varith-fuse-repeated-operands pass
  tests/filecheck/transforms/varith-fuse-repeated-operands.mlir
  xdsl/tools/command_line_tool.py
  xdsl/transforms/varith_transformations.py
Labels: transformations

#3362 transformations: Canonicalizations for arith on float constants
  tests/filecheck/dialects/arith/canonicalize.mlir
  xdsl/dialects/arith.py
  xdsl/transforms/canonicalization_patterns/arith.py
Labels: transformations

#3364 transformations: (canonicalize) Arith const reassociation
  tests/filecheck/dialects/arith/canonicalize.mlir
  xdsl/dialects/arith.py
  xdsl/transforms/canonicalization_patterns/arith.py
Labels: transformations

#3368 dialects: (arith) select canonicalization patterns
  tests/filecheck/dialects/arith/canonicalize.mlir
  xdsl/dialects/arith.py
  xdsl/transforms/canonicalization_patterns/arith.py
Labels: dialects, transformations
