Repository xdslproject/xdsl, pull requests merged in 2024-02, with the labels that each got.

#2058 Add fastmath flags to riscv dialect
  tests/filecheck/backend/riscv/convert_arith_to_riscv.mlir
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  tests/filecheck/dialects/riscv_snitch/ops.mlir
  tests/filecheck/dialects/snitch_stream/ops.mlir
  xdsl/backend/riscv/lowering/convert_arith_to_riscv.py
  xdsl/dialects/riscv.py
Labels: backend

#2036 dialects: Add memref.expand_shape and memref.collapse_shape ops
  tests/filecheck/dialects/memref/invalid_ops.mlir
  tests/filecheck/dialects/memref/memref_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/memref/memref_ops_custom.mlir
  xdsl/dialects/memref.py
Labels: help wanted, dialects

#2069 core: Fix and test empty variadic directives in declarative assembly format.
  tests/test_declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format.py
Labels: core

#2061 core: add replacement arg_values to inline_block_before
  tests/pattern_rewriter/test_pattern_rewriter.py
  tests/test_rewriter.py
  xdsl/pattern_rewriter.py
  xdsl/rewriter.py
Labels: core

#2073 testing: add kernels from our paper with verified assembly
  tests/filecheck/projects/riscv-backend-paper/conv_target.mlir
  tests/filecheck/projects/riscv-backend-paper/ddot_target.mlir
  tests/filecheck/projects/riscv-backend-paper/dense_target.mlir
  tests/filecheck/projects/riscv-backend-paper/dsum_target.mlir
  tests/filecheck/projects/riscv-backend-paper/fill_target.mlir
  tests/filecheck/projects/riscv-backend-paper/matmul_target.mlir
  tests/filecheck/projects/riscv-backend-paper/max_pool_target.mlir
  tests/filecheck/projects/riscv-backend-paper/relu_target.mlir
  tests/filecheck/projects/riscv-backend-paper/sum_pool_target.mlir
  xdsl/tools/command_line_tool.py
  xdsl/transforms/test_lower_linalg_to_snitch.py
Labels: testing

#2074 backend: (riscv) no need to lower riscv func
  xdsl/transforms/test_lower_linalg_to_snitch.py
Labels: backend

#2072 dialects: (onnx) add onnx.MaxPoolSingleOut
  tests/filecheck/dialects/onnx/onnx_invalid.mlir
  tests/filecheck/dialects/onnx/onnx_ops.mlir
  xdsl/dialects/onnx.py
Labels: dialects

#2078 dialects: (onnx) add onnx.EntryPoint
  tests/filecheck/dialects/onnx/onnx_ops.mlir
  xdsl/dialects/onnx.py
Labels: dialects

#2076 backend: (riscv) add a pass to rewrite li 0 to moving from zero register
  tests/filecheck/transforms/riscv_get_zero_register.mlir
  xdsl/tools/command_line_tool.py
  xdsl/transforms/riscv_get_zero_register.py
Labels: backend

#2062 transformations: (scf) add SimplifyTrivialLoops pattern
  tests/filecheck/dialects/scf/canonicalize.mlir
  xdsl/dialects/scf.py
  xdsl/transforms/canonicalization_patterns/scf.py
Labels: transformations

#2083 dialects (riscv_cf): Allow float register types for block argument types
  tests/filecheck/dialects/riscv_cf/ops.mlir
  xdsl/dialects/riscv_cf.py
Labels: dialects, backend

#2053 interactive: add file name to query
  xdsl/interactive/app.py
Labels: tool, interactive

#2084 CI: Fix online notebooks
  .github/workflows/jupyterlite.yml
  .github/workflows/update_xdsl_pyodide_build.py
Labels: CI

#2082 core: Implement Printer property retrocompatibility.
  tests/test_printer.py
  xdsl/printer.py
  xdsl/xdsl_opt_main.py
Labels: core

#2085 transformations (riscv_scf): Change forwarded block args of `riscv_cf.blt` to use `riscv_scf.yield` operands when lowering from `riscv_scf` to `riscv_cf`
  tests/filecheck/backend/convert_riscv_scf_to_riscv_cf.mlir
  tests/filecheck/backend/convert_riscv_scf_to_riscv_cf_with_regalloc.mlir
  xdsl/backend/riscv/lowering/convert_riscv_scf_to_riscv_cf.py
Labels: bug, transformations, backend

#2077 dialects: (riscv) Canonicalize the loading 0 to `li zero, 0`
  tests/filecheck/backend/riscv/canonicalize.mlir
  tests/filecheck/projects/riscv-backend-paper/conv_target.mlir
  tests/filecheck/projects/riscv-backend-paper/dense_target.mlir
  tests/filecheck/projects/riscv-backend-paper/matmul_target.mlir
  tests/filecheck/projects/riscv-backend-paper/max_pool_target.mlir
  tests/filecheck/projects/riscv-backend-paper/sum_pool_target.mlir
  xdsl/dialects/riscv.py
  xdsl/transforms/canonicalization_patterns/riscv.py
  xdsl/transforms/test_lower_linalg_to_snitch.py
Labels: dialects

#2086 interpreter: move comparisons to utils folder
  tests/utils/test_comparisons.py
  xdsl/dialects/riscv_cf.py
  xdsl/interpreters/riscv.py
  xdsl/interpreters/riscv_cf.py
  xdsl/transforms/canonicalization_patterns/riscv_cf.py
  xdsl/utils/comparisons.py
Labels: interpreter

#2092 dialects: (riscv_scf) make riscv_scf.yield implicit
  tests/filecheck/backend/riscv/convert_riscv_scf_for_to_frep.mlir
  tests/filecheck/backend/riscv/riscv_register_allocation.mlir
  tests/filecheck/dialects/riscv_scf/loop_range_folding.mlir
  tests/filecheck/dialects/riscv_scf/ops.mlir
  xdsl/dialects/riscv_scf.py
Labels: dialects

#2099 dialects: (builtin) fix ranges for integers
  tests/test_attribute_definition.py
  tests/test_op_builder.py
  xdsl/dialects/builtin.py
  xdsl/utils/comparisons.py
Labels: dialects

#2101 dialects: (riscv) don't canonicalize getting the zero register to li 0
  tests/dialects/test_riscv.py
  tests/filecheck/backend/riscv/canonicalize.mlir
  xdsl/dialects/riscv.py
  xdsl/transforms/canonicalization_patterns/riscv.py
  xdsl/transforms/canonicalization_patterns/riscv_cf.py
Labels: bug, dialects

#2093 interactive: adding an IndividualRewrite pass
  tests/filecheck/transforms/individual_rewrite.mlir
  tests/interactive/test_app.py
  xdsl/tools/command_line_tool.py
  xdsl/transforms/individual_rewrite.py
Labels: tool, interactive

#2104 dialects: (riscv) canonicalization should move constants not replace with li
  tests/filecheck/backend/convert_riscv_scf_to_riscv_cf_with_regalloc.mlir
  tests/filecheck/backend/riscv/canonicalize.mlir
  tests/filecheck/backend/riscv/riscv_register_allocation.mlir
  tests/filecheck/dialects/riscv_cf/canonicalize.mlir
  xdsl/dialects/riscv.py
  xdsl/transforms/canonicalization_patterns/riscv.py
Labels: bug, dialects

#2105 backend: (riscv) remove useless/buggy passes that used to help with ZERO register allocation
  docs/Toy/toy/compiler.py
  tests/filecheck/backend/riscv_reduce_register_pressure.mlir
  tests/filecheck/transforms/riscv_get_zero_register.mlir
  xdsl/backend/riscv/lowering/reduce_register_pressure.py
  xdsl/tools/command_line_tool.py
  xdsl/transforms/riscv_get_zero_register.py
  xdsl/transforms/test_lower_linalg_to_snitch.py
Labels: backend

#2088 testing: switch to debugpy in vscode launch config
  .vscode/launch.json
Labels: testing

#2102 testing: add a timeout for `make filecheck`
  Makefile
Labels: testing

#2109 interactive: add pass list item that holds the relevant module class
  xdsl/interactive/app.py
  xdsl/interactive/pass_list_item.py
Labels: interactive

#2110 dialects: (stream) add abstract superclass for stream read and write
  xdsl/dialects/riscv_snitch.py
  xdsl/dialects/stream.py
Labels: dialects

#2108 backend: (riscv) automatically detect loops to convert to frep
  tests/filecheck/projects/riscv-backend-paper/conv_target.mlir
  tests/filecheck/projects/riscv-backend-paper/ddot_target.mlir
  tests/filecheck/projects/riscv-backend-paper/dense_target.mlir
  tests/filecheck/projects/riscv-backend-paper/dsum_target.mlir
  tests/filecheck/projects/riscv-backend-paper/fill_target.mlir
  tests/filecheck/projects/riscv-backend-paper/matmul_target.mlir
  tests/filecheck/projects/riscv-backend-paper/max_pool_target.mlir
  tests/filecheck/projects/riscv-backend-paper/relu_target.mlir
  tests/filecheck/projects/riscv-backend-paper/sum_pool_target.mlir
  xdsl/transforms/test_lower_linalg_to_snitch.py
Labels: backend

#2125 dialects / bug : (linalg) linalg.generic constructor does not have a result types argument
  tests/filecheck/mlir-conversion/with-mlir/dialects/linalg/ops.mlir
  xdsl/dialects/linalg.py
Labels: bug, dialects

#2132 frontend: (onnx) re-arrange elem type
  tests/frontend/onnx/test_elem_type.py
  xdsl/frontend/onnx/__init__.py
  xdsl/frontend/onnx/elem_type.py
Labels: frontend

#2129 dialects: (linalg) add linalg.add
  tests/filecheck/mlir-conversion/with-mlir/dialects/linalg/ops.mlir
  xdsl/dialects/linalg.py
Labels: dialects

#2123 core: add custom attr and prop name support to assembly format
  tests/test_declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format_parser.py
Labels: core

#2124 dialects: (memref) add custom syntax to memref.get_global
  tests/filecheck/dialects/memref/memref_ops.mlir
  tests/filecheck/projects/riscv-backend-paper/add.mlir
  xdsl/dialects/memref.py
Labels: dialects

#2134 frontend: (onnx) add get_shape and get_tensor_type
  .github/workflows/ci-mlir.yml
  pyproject.toml
  tests/frontend/onnx/test_tensor_type.py
  xdsl/frontend/onnx/shape_type.py
Labels: frontend

#2111 dialects: (memref_stream) add memref_stream dialect with read and write ops
  tests/filecheck/dialects/memref_stream/ops.mlir
  xdsl/dialects/memref_stream.py
  xdsl/tools/command_line_tool.py
Labels: dialects

#2112 backend: (riscv) add convert-memref-stream-to-snitch pass
  tests/filecheck/transforms/convert_memref_stream_to_snitch.mlir
  xdsl/tools/command_line_tool.py
  xdsl/transforms/convert_memref_stream_to_snitch_stream.py
Labels: backend

#2126 dialects: (snitch_stream) remove stride pattern operand from strided read and write
  tests/filecheck/dialects/snitch_stream/convert_snitch_stream_to_snitch.mlir
  tests/filecheck/dialects/snitch_stream/ops.mlir
  tests/interpreters/test_snitch_stream_interpreter.py
  xdsl/backend/riscv/lowering/convert_snitch_stream_to_snitch.py
  xdsl/dialects/snitch_stream.py
Labels: dialects

#2127 dialects: (snitch_stream) remove StridedReadOp and LowerStridedWriteOp
  tests/filecheck/dialects/snitch_stream/convert_snitch_stream_to_snitch.mlir
  tests/filecheck/dialects/snitch_stream/ops.mlir
  tests/interpreters/test_snitch_stream_interpreter.py
  xdsl/backend/riscv/lowering/convert_snitch_stream_to_snitch.py
  xdsl/dialects/snitch.py
  xdsl/dialects/snitch_stream.py
  xdsl/interpreters/snitch_stream.py
  xdsl/transforms/lower_snitch.py
Labels: dialects

#2136 interactive: change input text so you can see example of a rewrite on gui launch
  xdsl/interactive/app.py
Labels: tool, interactive

#2038 transformations: add lower-linalg-to-loops to xDSL
  tests/filecheck/projects/riscv-backend-paper/add.mlir
  tests/filecheck/projects/riscv-backend-paper/conv.mlir
  tests/filecheck/projects/riscv-backend-paper/matmul.mlir
  tests/filecheck/transforms/convert_linalg_to_loops.mlir
  xdsl/tools/command_line_tool.py
  xdsl/transforms/convert_linalg_to_loops.py
Labels: transformations

#2135 transformations: Hoist pairs of `memref` loads and stores out of an `scf.for` loop
  tests/filecheck/transforms/loop-hoist-memref/loop-nest.mlir
  tests/filecheck/transforms/loop-hoist-memref/single-loop-skipped.mlir
  tests/filecheck/transforms/loop-hoist-memref/single-loop.mlir
  tests/transforms/test_transform_utils.py
  xdsl/tools/command_line_tool.py
  xdsl/transforms/loop_hoist_memref.py
Labels: transformations

#2139 dialects: (snitch_stream) reverse bounds and strides in snitch_stream
  tests/interpreters/test_snitch_stream_interpreter.py
  xdsl/dialects/snitch_stream.py
  xdsl/interpreters/snitch_stream.py
Labels: dialects

#1763 dialects: (aie) Add aie dialect
  xdsl/dialects/experimental/aie.py
  xdsl/tools/command_line_tool.py
Labels: dialects

#2144 dialects: (LLVM) Fix use of attributes dict when dialect specifies prop_def
  xdsl/dialects/llvm.py
Labels: bug, dialects, minor

#2130 interactive: add function that returns all the possible rewrites in a given module (3/4)
  tests/interactive/test_get_all_possible_rewrites.py
  xdsl/interactive/get_all_possible_rewrites.py
Labels: tool, interactive

#2140 transformations: (snitch_strem) factor out stride pattern ops lowering [NFC]
  xdsl/backend/riscv/lowering/convert_snitch_stream_to_snitch.py
Labels: transformations

#2141 dialects: (snitch_stream) add stride pattern attribute
  tests/filecheck/dialects/snitch_stream/ops.mlir
  xdsl/dialects/snitch_stream.py
Labels: dialects

#2143 dialects: (snitch_stream) replace stride pattern op with attribute
  tests/filecheck/dialects/snitch_stream/convert_snitch_stream_to_snitch.mlir
  tests/filecheck/dialects/snitch_stream/ops.mlir
  tests/filecheck/projects/riscv-backend-paper/add_snitch_stream.mlir
  tests/filecheck/projects/riscv-backend-paper/conv_target.mlir
  tests/filecheck/projects/riscv-backend-paper/ddot_target.mlir
  tests/filecheck/projects/riscv-backend-paper/dense_target.mlir
  tests/filecheck/projects/riscv-backend-paper/dsum_target.mlir
  tests/filecheck/projects/riscv-backend-paper/fill_target.mlir
  tests/filecheck/projects/riscv-backend-paper/matmul_target.mlir
  tests/filecheck/projects/riscv-backend-paper/max_pool_target.mlir
  tests/filecheck/projects/riscv-backend-paper/relu_snitch_stream.mlir
  tests/filecheck/projects/riscv-backend-paper/relu_target.mlir
  tests/filecheck/projects/riscv-backend-paper/sum_pool_target.mlir
  tests/filecheck/transforms/snitch_register_allocation.mlir
  tests/interpreters/test_snitch_stream_interpreter.py
  xdsl/backend/riscv/lowering/convert_snitch_stream_to_snitch.py
  xdsl/dialects/snitch_stream.py
  xdsl/interpreters/snitch_stream.py
Labels: dialects

#2133 dialects: (tensor) add tensor.Empty
  tests/filecheck/mlir-conversion/with-mlir/dialects/tensor/ops.mlir
  xdsl/dialects/tensor.py
  xdsl/tools/command_line_tool.py
Labels: dialects

#2152 interactive: add AvailablePass NamedTuple and move code to new file for cleanliness 1/3
  tests/interactive/test_app.py
  xdsl/interactive/app.py
  xdsl/interactive/get_condensed_passes.py
Labels: tool, interactive

#2153 interactive: add attribute to PassListItem + make adjustments to affected functions 2/3
  xdsl/interactive/app.py
  xdsl/interactive/pass_list_item.py
Labels: tool, interactive

#2156 backend: (riscv) correctly handle f64 moves when lowering
  tests/filecheck/backend/riscv/convert_func_to_riscv_func.mlir
  xdsl/backend/riscv/lowering/convert_func_to_riscv_func.py
  xdsl/backend/riscv/lowering/convert_scf_to_riscv_scf.py
  xdsl/backend/riscv/lowering/utils.py
Labels: bug, backend

#2157 testing: raise linalg snitch targets to func.func
  tests/filecheck/projects/riscv-backend-paper/conv_target.mlir
  tests/filecheck/projects/riscv-backend-paper/ddot_target.mlir
  tests/filecheck/projects/riscv-backend-paper/dense_target.mlir
  tests/filecheck/projects/riscv-backend-paper/dsum_target.mlir
  tests/filecheck/projects/riscv-backend-paper/fill_target.mlir
  tests/filecheck/projects/riscv-backend-paper/matmul_target.mlir
  tests/filecheck/projects/riscv-backend-paper/max_pool_target.mlir
  tests/filecheck/projects/riscv-backend-paper/relu_target.mlir
  tests/filecheck/projects/riscv-backend-paper/sum_pool_target.mlir
Labels: testing, backend

#2164 transformations: Make mlir-opt pass take the top-level module attributes into account.
  tests/filecheck/mlir-conversion/with-mlir/mlir_opt.mlir
  xdsl/transforms/mlir_opt.py
Labels: transformations

#2168 backend: (riscv) fix scf to riscv scf lowering
  tests/filecheck/backend/rvscf_scf_lowering.mlir
  xdsl/backend/riscv/lowering/convert_scf_to_riscv_scf.py
Labels: bug, backend

#2147 transformations: (memref_stream) add streaming_region lowering
  tests/filecheck/transforms/convert_memref_stream_to_snitch.mlir
  tests/transforms/test_convert_memref_stream_to_snitch_stream.py
  xdsl/dialects/memref_stream.py
  xdsl/transforms/convert_memref_stream_to_snitch_stream.py
Labels: transformations

#2148 dialects: (memref_stream) add memref_stream.generic
  tests/filecheck/dialects/memref_stream/ops.mlir
  xdsl/dialects/memref_stream.py
  xdsl/transforms/convert_memref_stream_to_snitch_stream.py
Labels: dialects

#2149 transformations: add convert-linalg-to-memref-stream
  tests/filecheck/transforms/convert_linalg_to_memref_stream.mlir
  xdsl/tools/command_line_tool.py
  xdsl/transforms/convert_linalg_to_memref_stream.py
Labels: transformations

#2158 transformation: (convert_onnx_to_linalg) add lowering from onnx.Add to linalg.add
  tests/filecheck/transforms/convert_onnx_to_linalg.mlir
  xdsl/tools/command_line_tool.py
  xdsl/transforms/convert_onnx_to_linalg.py
Labels: transformations

#2150 transformations: add memref-streamify
  tests/filecheck/projects/riscv-backend-paper/source.mlir
  tests/filecheck/transforms/memref_streamify.mlir
  xdsl/tools/command_line_tool.py
  xdsl/transforms/memref_streamify.py
Labels: transformations

#2151 transformations: add lowering from memref_stream generic to loops
  tests/filecheck/transforms/convert_memref_stream_to_loops.mlir
  xdsl/tools/command_line_tool.py
  xdsl/transforms/convert_linalg_to_loops.py
  xdsl/transforms/convert_memref_stream_to_loops.py
  xdsl/transforms/loop_nest_lowering_utils.py
Labels: transformations

#2177 interpreter: (riscv) add impl for riscv.sub
  tests/interpreters/test_riscv_interpreter.py
  xdsl/interpreters/riscv.py
Labels: interpreter

#2178 interpreter: add riscv_scf to xdsl-run
  tests/filecheck/runner/riscv_scf.mlir
  xdsl/interpreters/__init__.py
Labels: interpreter

#2179 installation: include missing stylesheets for gui
  MANIFEST.in
Labels: installation

#2155 interactive: add rewrite functionality to gui tool 3/3
  tests/interactive/test_app.py
  xdsl/interactive/app.py
  xdsl/interactive/get_all_possible_rewrites.py
Labels: tool, interactive

#2183 interpreter: move RawPtr and TypedPtr to own file
  xdsl/interpreters/ptr.py
  xdsl/interpreters/riscv.py
Labels: interpreter

#2187 interactive: moves the rewrite to pass conversion from app.py into get_all_possibl…
  tests/interactive/test_get_all_possible_rewrites.py
  tests/interactive/test_rewrites.py
  xdsl/interactive/app.py
  xdsl/interactive/rewrites.py
Labels: tool, interactive

#2190 interactive: take out pass application mechanism from app and put it into different file
  tests/interactive/test_app.py
  tests/interactive/test_rewrites.py
  xdsl/interactive/app.py
  xdsl/interactive/passes.py
  xdsl/interactive/rewrites.py
Labels: tool, interactive

#2192 interactive: pull out ctx generation into its own function
  xdsl/interactive/app.py
  xdsl/interactive/passes.py
Labels: tool, interactive

#2191 dialects: (memref) add custom syntax to memref.alloc
  tests/filecheck/dialects/gpu/ops.mlir
  tests/filecheck/dialects/memref/memref_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/memref/memref_ops_custom.mlir
  tests/filecheck/transforms/convert-stencil-to-ll-mlir.mlir
  xdsl/dialects/memref.py
Labels: dialects

#2189 dialects: add linalg.fill
  tests/filecheck/mlir-conversion/with-mlir/dialects/linalg/invalid_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/linalg/ops.mlir
  xdsl/dialects/linalg.py
Labels: dialects

#2182 (transformations): lower onnx.Relu to linalg
  tests/filecheck/transforms/convert_onnx_to_linalg.mlir
  xdsl/transforms/convert_onnx_to_linalg.py
Labels: transformations

#2161 core: Allow unregistered citizens in a registered dialects
  tests/filecheck/parser-printer/unregistered_dialect.mlir
  xdsl/ir/core.py
Labels: core

#2163 dialects: Update gpu.launch_func
  xdsl/dialects/gpu.py
Labels: dialects

#2193 transformations: add "generic" parameter to MLIROptPass
  tests/filecheck/mlir-conversion/with-mlir/mlir_opt.mlir
  xdsl/transforms/mlir_opt.py
Labels: transformations

#1780 dialects: (hw) Add InnerSymbolTable and InnerRefNamespace to HW dialect
  tests/dialects/test_hw.py
  xdsl/dialects/hw.py
Labels: dialects

#2159 core: Make IRDL operations and attributes final
  tests/utils/test_final.py
  xdsl/dialects/arith.py
  xdsl/dialects/builtin.py
  xdsl/dialects/llvm.py
  xdsl/dialects/riscv.py
  xdsl/irdl/irdl.py
  xdsl/utils/runtime_final.py
Labels: core

#2165 [RFC] Add [] mlir-opt sugar in our pipeline syntax.
  tests/filecheck/mlir-conversion/with-mlir/mlir_opt.mlir
  tests/filecheck/mlir-conversion/with-mlir/mlir_opt_fail.mlir
  tests/test_parse_spec_format.py
  xdsl/utils/parse_pipeline.py
Labels: enhancement

#2199 transformations: Remove tiling and non-parallel loops from stencil conversion.
  tests/filecheck/mlir-conversion/with-mlir/dialects/stencil/hdiff.mlir
  tests/filecheck/transforms/convert-stencil-to-ll-mlir-tiled.mlir
  tests/filecheck/transforms/convert-stencil-to-ll-mlir.mlir
  xdsl/transforms/experimental/convert_stencil_to_ll_mlir.py
  xdsl/transforms/experimental/hls_convert_stencil_to_ll_mlir.py
Labels: transformations

#2202 transformations: Remove target argument from stencil conversion
  tests/filecheck/dialects/stencil/hdiff_gpu.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/stencil/hdiff.mlir
  tests/filecheck/transforms/convert-stencil-to-ll-mlir.mlir
  xdsl/transforms/experimental/convert_stencil_to_ll_mlir.py
Labels: transformations

#2204 interactive: move buttons to RHS (1)
  xdsl/interactive/app.py
Labels: tool, interactive

#2206 transformations: scf-parallel-loop-tiling fixes.
  tests/filecheck/transforms/scf-parallel-loop-tiling-partial.mlir
  xdsl/transforms/scf_parallel_loop_tiling.py
Labels: transformations

#2212 interactive: add function that gets the available pass list given a module op, pass_pipeline and condense mode (3)
  tests/interactive/test_get_all_available_passes.py
  xdsl/interactive/app.py
  xdsl/interactive/get_all_available_passes.py
Labels: tool

#2175 core: Allow to get the expected base of an IRDL constraint
  tests/irdl/test_attr_constraint.py
  tests/irdl/test_attribute_definition.py
  tests/irdl/test_declarative_assembly_format.py
  tests/irdl/test_operation_builder.py
  tests/irdl/test_operation_definition.py
  xdsl/irdl/irdl.py
Labels: core

#2203 dialects: Add LLVM InlineAsm op
  tests/filecheck/dialects/llvm/inline_asm.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/llvm/inline_asm.mlir
  xdsl/dialects/llvm.py
Labels: enhancement, dialects

#2210 core: add Hasher and HashableModule
  tests/utils/test_hashable_module.py
  tests/utils/test_hasher.py
  xdsl/utils/hashable_module.py
  xdsl/utils/hasher.py
Labels: core

#2221 dialects: Add optional parameter for affine symbolic identity map
  tests/test_affine_builtins.py
  xdsl/ir/affine/affine_map.py
Labels: minor

#2223 dialects: Fix inline_asm unitattrs to not be properties
  xdsl/dialects/llvm.py
Labels: enhancement, dialects

#2217 interactive: make some structural changes that will help tree PR 2
  xdsl/interactive/app.py
Labels: tool, interactive

#2218 interactive: add update_selected_passes_list_view helper function PR 3
  xdsl/interactive/app.py
Labels: tool, interactive

#2219 interactive: make root of tree to change from input to last selected pass PR 4
  xdsl/interactive/app.py
Labels: tool, interactive

#2207 interactive: remove passes that raise errors from condensed list
  tests/interactive/test_app.py
  xdsl/interactive/passes.py
Labels: interactive

#2227 testing: fix broken test in main
  tests/interactive/test_get_all_available_passes.py
Labels: interactive

#2106 core: Add checks on chaining variadics in declarative assembly format.
  tests/irdl/test_declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format_parser.py
Labels: core

#2107 Implement and test optional operand and result variables.
  tests/irdl/test_declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format_parser.py
Labels: core

#2230 interpreter: add index_bitwidth to interpreter
  tests/test_interpreter.py
  xdsl/interpreter.py
  xdsl/tools/xdsl_run.py
Labels: interpreter

#2209 dialects: (ml_program) add ml_program.global and ml_program.global_load_const
  tests/filecheck/mlir-conversion/with-mlir/dialects/ml_program/ops.mlir
  xdsl/dialects/ml_program.py
  xdsl/tools/command_line_tool.py
Labels: dialects

#2216 transformations: (riscv_func) handle external function declarations
  tests/filecheck/backend/riscv/convert_func_to_riscv_func.mlir
  xdsl/backend/riscv/lowering/convert_func_to_riscv_func.py
Labels: transformations

#2220 interactive: add helper function get_root_to_child_pass_list PR 5
  xdsl/interactive/app.py
Labels: tool, interactive

#2184 transformations: add riscv-cse
  tests/filecheck/transforms/riscv_cse.mlir
  xdsl/tools/command_line_tool.py
  xdsl/transforms/riscv_cse.py
  xdsl/transforms/test_lower_linalg_to_snitch.py
Labels: transformations

#2211 transformations: insert function declarations only if called
  tests/filecheck/dialects/printf/printf_to_llvm.mlir
  tests/interactive/test_app.py
  tests/interactive/test_get_all_available_passes.py
  xdsl/transforms/experimental/hls_convert_stencil_to_ll_mlir.py
  xdsl/transforms/printf_to_llvm.py
Labels: transformations

#2225 interactive: add (multi-level tree) traversal functionality
  xdsl/interactive/app.py
Labels: tool, interactive

#2195 (transformations): lower onnx.Constant to linalg
  tests/filecheck/transforms/convert_onnx_to_linalg.mlir
  xdsl/transforms/convert_onnx_to_linalg.py
Labels: transformations

#2214 interactive : add framework to support rewrite patterns that we do not want to be registered in xdsl canoncialization patterns
  tests/filecheck/transforms/arith-individual-rewrite-pattern-AdditionOfSameVariablesToMultiplyByTwo.mlir
  tests/filecheck/transforms/arith-individual-rewrite-patterns-DivisionOfSameVariableToOne.mlir
  xdsl/transforms/individual_rewrite.py
Labels: tool, interactive

#2236 interactive: don't apply selected pass twice
  xdsl/interactive/app.py
Labels: bug, interactive

#2240 (dialects): add tensor.reshape
  tests/filecheck/dialects/tensor/invalid_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/tensor/ops.mlir
  xdsl/dialects/tensor.py
Labels: dialects

#2241 onnx.reshape should check for product not length
  tests/filecheck/dialects/onnx/onnx_ops.mlir
  xdsl/dialects/onnx.py
Labels: bug, dialects

#2238 core: Assembly format spacing fix.
  tests/filecheck/dialects/memref/memref_ops.mlir
  tests/filecheck/dialects/onnx/onnx_ops.mlir
  xdsl/irdl/declarative_assembly_format.py
Labels: minor, core

#2246 (bug): update add op lowering to check for -1 not 1
  xdsl/transforms/convert_onnx_to_linalg.py
Labels: bug, transformations

#2242 (transformations): lower onnx.Reshape to linalg
  tests/filecheck/transforms/convert_onnx_to_linalg.mlir
  xdsl/transforms/convert_onnx_to_linalg.py
Labels: transformations

#2239 core: Implement first cases of assembly format optional groups
  tests/irdl/test_declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format_parser.py
Labels: core

#2247 dialects: (memref) add custom format to memref.dealloc
  tests/filecheck/dialects/memref/memref_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/memref/memref_ops_custom.mlir
  tests/filecheck/transforms/convert-stencil-to-ll-mlir.mlir
  xdsl/dialects/memref.py
Labels: dialects

#2248 core: Spacing fix in EnumAttribute and OpaqueSyntaxAttribute
  xdsl/ir/core.py
  xdsl/printer.py
Labels: minor, core

#2237 testing: rename test-lower-linalg-to-snitch to test-lower-snitch-stream-to-asm
  tests/filecheck/projects/riscv-backend-paper/conv_target.mlir
  tests/filecheck/projects/riscv-backend-paper/ddot_target.mlir
  tests/filecheck/projects/riscv-backend-paper/dense_target.mlir
  tests/filecheck/projects/riscv-backend-paper/dsum_target.mlir
  tests/filecheck/projects/riscv-backend-paper/fill_target.mlir
  tests/filecheck/projects/riscv-backend-paper/matmul_target.mlir
  tests/filecheck/projects/riscv-backend-paper/max_pool_target.mlir
  tests/filecheck/projects/riscv-backend-paper/relu_target.mlir
  tests/filecheck/projects/riscv-backend-paper/sum_pool_target.mlir
  tests/interactive/test_app.py
  xdsl/tools/command_line_tool.py
  xdsl/transforms/test_lower_linalg_to_snitch.py
Labels: testing

#2250 dialects: (memref_stream) allow scalar argument to memref_stream generic
  tests/filecheck/dialects/memref_stream/ops.mlir
  xdsl/dialects/memref_stream.py
Labels: dialects

#2252 dialects: (snitch_stream) add offsets to StridePattern and use in interpreter
  tests/interpreters/test_snitch_stream_interpreter.py
  xdsl/dialects/snitch_stream.py
  xdsl/interpreters/snitch_stream.py
Labels: dialects

#2249 dialects: make linalg.IteratorType an EnumAttribute
  xdsl/dialects/linalg.py
  xdsl/dialects/memref_stream.py
  xdsl/ir/core.py
Labels: dialects, minor

#2257 dialects: (riscv) mul is pure
  tests/filecheck/transforms/riscv_cse.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#2253 transformations: simplify stride patterns when lowering memref_stream
  tests/filecheck/transforms/convert_memref_stream_to_snitch.mlir
  tests/interpreters/test_snitch_stream_interpreter.py
  xdsl/dialects/snitch_stream.py
  xdsl/transforms/convert_memref_stream_to_snitch_stream.py
Labels: transformations

#2258 interactive: don't reuse op already rewritten when getting individual rewrites
  xdsl/interactive/rewrites.py
Labels: interactive
