Repository xdslproject/xdsl, pull requests merged in 2025-06, with the labels that each got.

#4486 misc: enforce use of typing_extensions.TypeVar
  docs/Toy/toy/rewrites/lower_toy_affine.py
  pyproject.toml
  tests/dialects/test_arith.py
  tests/irdl/test_attribute_definition.py
  tests/irdl/test_operation_definition.py
  tests/test_frontend_type_conversion.py
  tests/test_is_satisfying_hint.py
  xdsl/backend/jax_executable.py
  xdsl/backend/register_stack.py
  xdsl/dialects/arith.py
  xdsl/dialects/gpu.py
  xdsl/dialects/pdl.py
  xdsl/dialects/riscv.py
  xdsl/dialects/snitch_runtime.py
  xdsl/dialects/stim/stim_parser.py
  xdsl/dialects/x86/ops.py
  xdsl/frontend/pyast/const.py
  xdsl/frontend/pyast/dialects/arith.py
  xdsl/frontend/pyast/dialects/builtin.py
  xdsl/interpreter.py
  xdsl/interpreters/riscv.py
  xdsl/interpreters/shaped_array.py
  xdsl/interpreters/utils/ptr.py
  xdsl/interpreters/utils/stream.py
  xdsl/irdl/attributes.py
  xdsl/irdl/constraints.py
  xdsl/irdl/declarative_assembly_format.py
  xdsl/irdl/operations.py
  xdsl/parser/base_parser.py
  xdsl/parser/generic_parser.py
  xdsl/passes.py
  xdsl/pattern_rewriter.py
  xdsl/printer.py
  xdsl/traits.py
  xdsl/transforms/common_subexpression_elimination.py
  xdsl/transforms/experimental/convert_stencil_to_ll_mlir.py
  xdsl/transforms/experimental/dmp/stencil_global_to_local.py
  xdsl/transforms/lower_mpi.py
  xdsl/transforms/stencil_bufferize.py
  xdsl/utils/base_printer.py
  xdsl/utils/disjoint_set.py
  xdsl/utils/hints.py
  xdsl/utils/immutable_list.py
  xdsl/utils/lexer.py
  xdsl/utils/runtime_final.py
  xdsl/utils/scoped_dict.py
Labels: misc

#4487 misc: remove unused private TypeVars
  pyproject.toml
  tests/dialects/test_arith.py
  tests/irdl/test_declarative_assembly_format.py
  xdsl/dialects/arith.py
  xdsl/dialects/builtin.py
  xdsl/dialects/gpu.py
  xdsl/interpreters/utils/ptr.py
  xdsl/parser/base_parser.py
  xdsl/parser/generic_parser.py
  xdsl/transforms/experimental/dmp/stencil_global_to_local.py
  xdsl/transforms/lower_mpi.py
Labels: misc

#4447 dialects: (emitc) add emitc array verify and parsing checks
  tests/filecheck/dialects/emitc/emitc_types.mlir
  tests/filecheck/dialects/emitc/emitc_types_invalid.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/emitc/emitc_types.mlir
  xdsl/dialects/emitc.py
Labels: dialects

#3443 core: add TypeVarConstraint, and use in irdl_to_attr_constraint
  docs/marimo/irdl.py
  tests/dialects/test_builtin.py
  tests/irdl/test_attribute_definition.py
  tests/irdl/test_range_constraint.py
  tests/test_pyrdl.py
  xdsl/dialects/bufferization.py
  xdsl/dialects/builtin.py
  xdsl/dialects/pdl_interp.py
  xdsl/irdl/attributes.py
  xdsl/irdl/constraints.py
  xdsl/irdl/operations.py
Labels: core

#4491 dialects: (eqsat) Add eqsat egraph and yield operation
  tests/filecheck/dialects/eqsat/eqsat_ops.mlir
  xdsl/dialects/eqsat.py
Labels: dialects

#4501 transformations: shift right by zero canonicalization for RISCV dialect
  GETTING_STARTED.md
  tests/filecheck/backend/riscv/canonicalize.mlir
  xdsl/dialects/riscv.py
  xdsl/transforms/canonicalization_patterns/riscv.py
Labels: transformations

#4481 core: Add support for qualified attributes in assembly format
  tests/irdl/test_declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format_parser.py
Labels: core

#4482 dialects: Add bitvector attribute and constant operation
  tests/dialects/test_smt.py
  tests/filecheck/dialects/smt/bv_ops.mlir
  xdsl/dialects/smt.py
Labels: dialects

#4500 bench: add readme file to benchmarks directory
  benchmarks/README.md
Labels: bench

#4511 dialects: (emitc) Add additional invalid emitc array type checks
  tests/filecheck/dialects/emitc/emitc_types_invalid.mlir
Labels: dialects

#4514 interpreter: (eqsat) `populate_known_ops`
  tests/interpreters/test_eqsat_pdl_interp_interpreter.py
  xdsl/interpreters/eqsat_pdl_interp.py
Labels: interpreter

#4515 interpreter: (eqsat) Interpret for GetResult(s)Op
  tests/interpreters/test_eqsat_pdl_interp_interpreter.py
  xdsl/interpreters/eqsat_pdl_interp.py
Labels: interpreter

#4520 dialects: (stencil) replace IndexAttr.parse_nested_parameters
  xdsl/dialects/stencil.py
Labels: dialects

#4519 dialects : (riscv) extend M extensions, add B extension, add ZiCond extension
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  tests/filecheck/dialects/riscv/riscv_ops.mlir
  xdsl/dialects/riscv.py
Labels: dialects

#4379 dialects: (builtin) Add support for parsing and printing complex types
  tests/filecheck/dialects/builtin/attrs.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/builtin/dense_elements.mlir
  xdsl/dialects/builtin.py
  xdsl/parser/attribute_parser.py
Labels: dialects

#4526 dialects: `DenseResourceAttr` fixes
  tests/filecheck/dialects/arith/arith_ops.mlir
  tests/filecheck/dialects/builtin/invalid_attrs.mlir
  xdsl/dialects/arith.py
  xdsl/dialects/builtin.py
  xdsl/parser/attribute_parser.py
Labels: dialects

#4516 interpreter: (eqsat) Add backtracking mechanism for `GetDefiningOp`
  tests/interpreters/test_eqsat_pdl_interp_interpreter.py
  xdsl/interpreters/eqsat_pdl_interp.py
Labels: interpreter

#4531 testing: remove TestSSAValue deprecated two months ago
  xdsl/utils/test_value.py
Labels: testing

#4530 dialects: (stablehlo) adds `stablehlo.constant`
  tests/filecheck/dialects/stablehlo/ops.mlir
  xdsl/dialects/stablehlo.py
Labels: dialects

#4535 transformations: (riscv) Add canonicalization pattern x*1->x
  tests/filecheck/backend/riscv/canonicalize.mlir
  xdsl/dialects/riscv.py
  xdsl/transforms/canonicalization_patterns/riscv.py
Labels: transformations

#4532 interpreter: (eqsat) `run_replace` and `apply_matches`
  tests/interpreters/test_eqsat_pdl_interp_interpreter.py
  xdsl/interpreters/eqsat_pdl_interp.py
Labels: interpreter

#4536 core: Parser.parse_type returns a TypeAttribute
  xdsl/dialects/builtin.py
  xdsl/dialects/scf.py
  xdsl/dialects/utils/format.py
  xdsl/parser/attribute_parser.py
Labels: core

#4542 misc: fix tuple_type parsing
  xdsl/dialects/builtin.py
  xdsl/parser/attribute_parser.py
Labels: misc

#4521 dialects: (builtin) add typed init to DenseArrayBase
  tests/dialects/test_builtin.py
  xdsl/dialects/builtin.py
Labels: dialects

#4548 misc: use print_string in assembly format
  xdsl/irdl/declarative_assembly_format.py
Labels: misc

#4549 dialects: (builtin) move printing to BuiltinAttribute
  tests/irdl/test_attribute_definition.py
  xdsl/dialects/builtin.py
  xdsl/ir/core.py
  xdsl/printer.py
Labels: dialects, core

#4543 core: (Printer) remove variadic prints
  tests/test_printer.py
  xdsl/dialects/builtin.py
  xdsl/dialects/csl/csl.py
  xdsl/dialects/experimental/air.py
  xdsl/dialects/irdl/irdl.py
  xdsl/dialects/llvm.py
  xdsl/dialects/memref_stream.py
  xdsl/dialects/pdl.py
  xdsl/dialects/riscv_debug.py
  xdsl/dialects/riscv_scf.py
  xdsl/dialects/scf.py
  xdsl/dialects/smt.py
  xdsl/dialects/snitch_stream.py
  xdsl/dialects/vector.py
Labels: core

#4493 transformations: (eqsat) Add apply-eqsat-pdl-interp pass
  tests/filecheck/transforms/apply-eqsat-pdl-interp/apply_eqsat_pdl_interp_extra_file.mlir
  tests/filecheck/transforms/apply-eqsat-pdl-interp/apply_eqsat_pdl_interp_multi_ops.mlir
  tests/filecheck/transforms/apply-eqsat-pdl-interp/egg_example.mlir
  tests/filecheck/transforms/apply-eqsat-pdl-interp/extra_file.mlir
  tests/filecheck/transforms/apply-eqsat-pdl-interp/rebuilding.mlir
  xdsl/transforms/__init__.py
  xdsl/transforms/apply_eqsat_pdl_interp.py
Labels: transformations

#4562 misc: (Printer) remove print uses, 'easy cases'
  xdsl/dialects/accfg.py
  xdsl/dialects/arith.py
  xdsl/dialects/func.py
  xdsl/dialects/irdl/irdl.py
  xdsl/dialects/memref.py
  xdsl/dialects/pdl.py
  xdsl/dialects/riscv_func.py
  xdsl/dialects/utils/format.py
Labels: core, misc

#4563 dialects: (comb) remove uses of Printer.print
  xdsl/dialects/comb.py
Labels: dialects, misc

#4554 testing: use match for VerifyException tests
  tests/dialects/test_arith.py
  tests/dialects/test_builtin.py
  tests/dialects/test_comb.py
  tests/dialects/test_stencil.py
  tests/irdl/test_attribute_definition.py
  tests/test_dialect_utils.py
  tests/test_parser.py
  tests/test_pyrdl.py
Labels: testing

#4559 dialects: (tensor) add `tensor.from_elements`
  tests/filecheck/dialects/tensor/ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/tensor/ops.mlir
  xdsl/dialects/tensor.py
Labels: dialects

#4569 core: Tighten typing of IRDLGenericAttrConstraint
  xdsl/irdl/attributes.py
Labels: core

#4566 dialects: (hw) remove uses of Printer.print
  xdsl/dialects/hw.py
Labels: dialects

#4568 dialects: (builtin) replace DenseI64ArrayConstr with DenseArrayBase.constr(i64)
  xdsl/dialects/builtin.py
  xdsl/dialects/llvm.py
  xdsl/dialects/vector.py
Labels: dialects

#4573 dialects: (csl-stencil) remove uses of Printer.print
  xdsl/dialects/csl/csl_stencil.py
Labels: dialects

#4574 dialects: (x86) remove uses of Printer.print
  xdsl/dialects/x86/ops.py
Labels: dialects

#4576 misc: remove TypeVar from list of allowed values in IRDLGenericAttrConstraint
  xdsl/dialects/x86/ops.py
  xdsl/irdl/attributes.py
Labels: misc

#4578 misc: remove ConstraintVar from list of allowed values in IRDLGenericAttrConstraint
  xdsl/irdl/attributes.py
Labels: misc

#4581 bench: peel printer changes from #4522
  benchmarks/printer.py
Labels: bench

#4582 bench: peel workload fixes from #4522
  benchmarks/workloads.py
Labels: bench

#4584 bench: peel microbenchmark changes from #4522
  benchmarks/microbenchmarks.py
Labels: bench

#4589 core: (Printer) remove print_float_attr
  tests/test_printer.py
  xdsl/dialects/builtin.py
  xdsl/printer.py
Labels: core

#4587 dialects: (csl-stencil) avoid making FloatAttrs
  xdsl/transforms/csl_stencil_set_global_coeffs.py
Labels: dialects

#4553 dialects: (smt) Add binary bitvector operations
  tests/dialects/test_smt.py
  tests/filecheck/dialects/smt/bv_ops.mlir
  xdsl/dialects/smt.py
Labels: dialects

#4599 dialects: (builtin) deprecate DenseIntOrFPElementsAttr.get_{int/float}_values
  docs/Toy/toy/dialects/toy.py
  docs/Toy/toy/rewrites/lower_toy_affine.py
  docs/Toy/toy/rewrites/optimise_toy.py
  tests/dialects/test_builtin.py
  xdsl/backend/riscv/lowering/convert_memref_to_riscv.py
  xdsl/dialects/affine.py
  xdsl/dialects/builtin.py
  xdsl/dialects/cf.py
  xdsl/dialects/varith.py
  xdsl/interpreters/linalg.py
  xdsl/transforms/canonicalization_patterns/cf.py
Labels: dialects

#4494 transformations: (eqsat) Delete `pdl`-based eqsat in favor of `pdl_interp`
  tests/filecheck/mlir-conversion/with-mlir/apply-eqsat-pdl/apply_eqsat_pdl_extra_file.mlir
  tests/filecheck/mlir-conversion/with-mlir/apply-eqsat-pdl/egg_example.mlir
  tests/filecheck/mlir-conversion/with-mlir/apply-eqsat-pdl/extra_file.mlir
  tests/filecheck/transforms/apply-eqsat-pdl-interp/extra_file.mlir
  tests/interpreters/test_eqsat_pdl_interpreter.py
  xdsl/interpreters/eqsat_pdl.py
  xdsl/transforms/__init__.py
  xdsl/transforms/apply_eqsat_pdl.py
Labels: transformations

#4522 bench: mergeable version of specialised benchmarks without reverted core changes
  benchmarks/microbenchmarks.py
  benchmarks/rewriting.py
  tests/filecheck/transforms/test-constant-folding.mlir
  tests/filecheck/transforms/test-specialised-constant-folding.mlir
  xdsl/transforms/__init__.py
  xdsl/transforms/test_constant_folding.py
Labels: bench

#4602 core: (Printer) deprecate Printer.print
  docs/Toy/Toy_Ch2.ipynb
  docs/Toy/toy/__main__.py
  docs/marimo/mlir_interoperation.py
  tests/irdl/test_attribute_definition.py
  tests/pattern_rewriter/test_pattern_rewriter.py
  tests/test_parser.py
  tests/test_printer.py
  tests/test_rewriter.py
  xdsl/dialects/builtin.py
  xdsl/dialects/gpu.py
  xdsl/dialects/irdl/irdl.py
  xdsl/dialects/llvm.py
  xdsl/dialects/memref_stream.py
  xdsl/dialects/pdl.py
  xdsl/dialects/riscv_snitch.py
  xdsl/dialects/seq.py
  xdsl/dialects/snitch_stream.py
  xdsl/dialects/stim/ops.py
  xdsl/dialects/transform.py
  xdsl/dialects/vector.py
  xdsl/dialects/x86/assembly.py
  xdsl/interactive/app.py
  xdsl/ir/core.py
  xdsl/printer.py
  xdsl/transforms/mlir_opt.py
Labels: core

#4594 dialects: Add smt.bv.constant constructor
  tests/dialects/test_smt.py
  xdsl/dialects/smt.py
Labels: dialects

#4603 misc: resolve licence mismatch in pyproject.toml
  pyproject.toml
Labels: misc

#4598 dialects: (builtin) add type overloads to DenseArrayBase.get_values
  tests/filecheck/dialects/scf/index_switch.mlir
  tests/filecheck/dialects/transform/transform_ops.mlir
  xdsl/dialects/builtin.py
  xdsl/dialects/cf.py
  xdsl/dialects/csl/csl_stencil.py
  xdsl/dialects/emitc.py
  xdsl/dialects/experimental/dmp.py
  xdsl/dialects/experimental/hls.py
  xdsl/dialects/gpu.py
  xdsl/dialects/linalg.py
  xdsl/dialects/memref.py
  xdsl/dialects/scf.py
  xdsl/dialects/stablehlo.py
  xdsl/dialects/tensor.py
  xdsl/dialects/transform.py
  xdsl/dialects/vector.py
  xdsl/irdl/operations.py
  xdsl/transforms/canonicalization_patterns/memref.py
  xdsl/transforms/convert_scf_to_cf.py
  xdsl/transforms/csl_stencil_to_csl_wrapper.py
  xdsl/transforms/experimental/lower_hls.py
  xdsl/transforms/experimental/stencil_tensorize_z_dimension.py
  xdsl/transforms/memref_to_dsd.py
Labels: dialects

#4607 misc: remove some duplicate declarations
  xdsl/dialects/irdl/pyrdl_to_irdl.py
  xdsl/transforms/lower_csl_stencil.py
Labels: minor, misc

#4608 transformations: use DenseArrayBase when lowering memref to riscv
  tests/filecheck/backend/riscv/memref_to_riscv_invalid.mlir
  xdsl/backend/riscv/lowering/convert_memref_to_riscv.py
Labels: transformations, misc

#4614 documentation: fix typo in KnownOps
  xdsl/transforms/common_subexpression_elimination.py
Labels: documentation

#4609 CI: use setup-python instead of uv python install
  .github/workflows/ci-core.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-lockfile.yml
  .github/workflows/ci-mlir.yml
  .github/workflows/ci-notebooks.yml
  .github/workflows/ci-pyright-fails.yml
  .github/workflows/code-formatting.yml
  .github/workflows/jupyterlite.yml
  .github/workflows/pythonpublish.yml
Labels: CI

#4626 dialect: Add ContiguousArrayOfIntArray to tensor dialect
  tests/filecheck/dialects/tensor/invalid_ops.mlir
  tests/filecheck/dialects/tensor/ops.mlir
  xdsl/dialects/tensor.py
Labels: dialects

#4630 pyast: (frontend) refactor type registry
  xdsl/frontend/pyast/code_generation.py
  xdsl/frontend/pyast/program.py
  xdsl/frontend/pyast/type_conversion.py
Labels: frontend

#4613 backend: (x86) non-vector ptr.load to x86 instructions
  tests/filecheck/backend/x86/convert_ptr_to_x86.mlir
  xdsl/backend/x86/lowering/convert_ptr_to_x86.py
Labels: backend

#4638 backend: (x86) convert arith.muli to x86 instructions
  tests/filecheck/backend/x86/convert_arith_to_x86.mlir
  xdsl/backend/x86/lowering/convert_arith_to_x86.py
Labels: backend

#4634 interpreter: (pdl_interp) `check_type`
  tests/filecheck/dialects/pdl_interp/pdl_interp_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/pdl_interp/pdl_interp_ops.mlir
  tests/interpreters/test_pdl_interp_interpreter.py
  xdsl/dialects/pdl_interp.py
  xdsl/interpreters/pdl_interp.py
Labels: dialects, interpreter

#4642 interpreter: (pdl_interp) `switch_attribute`, `create_type`, and `create_types`
  tests/filecheck/dialects/pdl_interp/pdl_interp_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/pdl_interp/pdl_interp_ops.mlir
  tests/interpreters/test_pdl_interp_interpreter.py
  xdsl/dialects/pdl_interp.py
  xdsl/interpreters/pdl_interp.py
Labels: dialects, interpreter

#4639 frontend: (pyast) add support for calling functions with variable arguments
  tests/filecheck/frontend/programs/call.py
  xdsl/frontend/pyast/code_generation.py
  xdsl/frontend/pyast/type_conversion.py
Labels: frontend

#4645 core: DictionaryAttr is not generic
  xdsl/dialects/builtin.py
Labels: core

#4661 dialects: (mpi) add inits to OperationType and VectorType
  xdsl/dialects/mpi.py
Labels: dialects

#4659 dialects: (builtin) add init to DenseIntOrFPElementsAttr
  xdsl/dialects/builtin.py
  xdsl/parser/attribute_parser.py
  xdsl/transforms/csl_stencil_bufferize.py
  xdsl/transforms/experimental/stencil_tensorize_z_dimension.py
  xdsl/transforms/printf_to_llvm.py
Labels: dialects

#4664 misc: Simplify use of `RankedStructure`
  xdsl/parser/attribute_parser.py
Labels: minor, misc

#4658 dialects: (hw) add init to ModuleType, ModulePort and ParamDeclAttr
  tests/dialects/test_hw.py
  xdsl/dialects/hw.py
Labels: dialects

#4666 core: add PyRDLTypeError for irdl_to_attr_constraint
  tests/irdl/test_attribute_definition.py
  tests/test_pyrdl.py
  xdsl/irdl/attributes.py
  xdsl/utils/exceptions.py
Labels: core

#4671 core: (Printer) cleanup core printing functions
  tests/filecheck/parser-printer/metadata.mlir
  xdsl/printer.py
Labels: core

#4672 dialects: (llvm) Add unreachable operation
  tests/filecheck/dialects/llvm/example.mlir
  xdsl/dialects/llvm.py
Labels: dialects

#4674 dialects: (stencil) add typed inits to stencil and csl attrs
  tests/dialects/test_stencil.py
  xdsl/dialects/csl/csl.py
  xdsl/dialects/csl/csl_wrapper.py
  xdsl/dialects/experimental/dmp.py
  xdsl/dialects/stencil.py
  xdsl/transforms/csl_stencil_to_csl_wrapper.py
Labels: dialects

#4675 testing: add inits to attributes in tests
  tests/irdl/test_attr_constraint.py
  tests/irdl/test_attribute_definition.py
  tests/irdl/test_declarative_assembly_format.py
  tests/test_is_satisfying_hint.py
  tests/test_pyrdl.py
Labels: testing

#4678 dialects: (builtin) allow `IntConstraint`s in IntegerAttr.constr
  tests/irdl/test_declarative_assembly_format.py
  xdsl/dialects/builtin.py
Labels: dialects

#4544 dialects: (builtin) remove SymbolNameAttr
  xdsl/dialects/builtin.py
  xdsl/tools/xdsl_tblgen.py
Labels: dialects

#4510 core: (constraints) ensure `AnyOf` cases are disjoint
  tests/irdl/test_attr_constraint.py
  tests/irdl/test_attribute_definition.py
  tests/irdl/test_operation_definition.py
  tests/test_pyrdl.py
  xdsl/irdl/constraints.py
Labels: core

#4685 dialects: (fir) Add BoxOffsetOp to FIR dialect
  xdsl/dialects/experimental/fir.py
Labels: dialects

#4665 core: (AnyOf) verify without backtracking
  tests/filecheck/dialects/arith/arith_invalid.mlir
  xdsl/irdl/constraints.py
Labels: core

#4689 dialects: (llvm) Fixed bug in GlobalOp where body was always empty when initialised
  tests/dialects/test_llvm.py
  xdsl/dialects/llvm.py
Labels: dialects

#4684 API: automatically generate typed inits for ParametrizedAttributes
  docs/marimo/irdl.py
  tests/irdl/test_attr_constraint.py
  tests/irdl/test_attribute_definition.py
  tests/irdl/test_declarative_assembly_format.py
  tests/test_is_satisfying_hint.py
  tests/test_pyrdl.py
  xdsl/backend/register_type.py
  xdsl/dialects/accfg.py
  xdsl/dialects/builtin.py
  xdsl/dialects/csl/csl.py
  xdsl/dialects/csl/csl_stencil.py
  xdsl/dialects/csl/csl_wrapper.py
  xdsl/dialects/emitc.py
  xdsl/dialects/experimental/dmp.py
  xdsl/dialects/experimental/fir.py
  xdsl/dialects/experimental/hls.py
  xdsl/dialects/gpu.py
  xdsl/dialects/hw.py
  xdsl/dialects/irdl/irdl.py
  xdsl/dialects/llvm.py
  xdsl/dialects/memref_stream.py
  xdsl/dialects/mpi.py
  xdsl/dialects/pdl.py
  xdsl/dialects/smt.py
  xdsl/dialects/snitch.py
  xdsl/dialects/snitch_stream.py
  xdsl/dialects/stencil.py
  xdsl/dialects/stim/ops.py
  xdsl/dialects/transform.py
  xdsl/ir/core.py
  xdsl/irdl/attributes.py
Labels: API
