Repository xdslproject/xdsl, pull requests merged in 2025-04, with the labels that each got.

#4132 transformations: preserve visibility when lowering to riscv_func
  tests/filecheck/backend/riscv/convert_func_to_riscv_func.mlir
  tests/filecheck/projects/riscv-backend-paper/bottom_up_f32.mlir
  tests/filecheck/projects/riscv-backend-paper/bottom_up_f64.mlir
  tests/filecheck/projects/riscv-backend-paper/nsnet.mlir
  tests/interactive/test_app.py
  xdsl/backend/riscv/lowering/convert_func_to_riscv_func.py
Labels: transformations

#4153 dialects: (riscv_func) emit .text in func op
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  tests/filecheck/projects/riscv-backend-paper/pres.mlir
  xdsl/dialects/riscv_func.py
Labels: dialects

#4154 tool: (xdsl-tblgen) standardise naming
  pyproject.toml
  tests/xdsl_tblgen/test.json
  tests/xdsl_tblgen/test.py
  tests/xdsl_tblgen/test_tblgen.py
  xdsl/tools/xdsl_tblgen.py
Labels: minor, tool

#4079 bench: pattern rewriting microbenchmarks
  benchmarks/bench_utils.py
  benchmarks/rewriting.py
  benchmarks/workloads.py
  pyproject.toml
  uv.lock
Labels: bench

#4147 CI: switch to setuptools-scm for dynamic version
  pyproject.toml
  setup.py
  versioneer.py
  xdsl/__init__.py
  xdsl/_version.py
Labels: CI

#4152 CI: report unnecessary Pyright ignores
  pyproject.toml
  tests/irdl/test_declarative_assembly_format.py
  tests/irdl/test_operation_definition.py
  tests/test_is_satisfying_hint.py
  xdsl/irdl/operations.py
  xdsl/utils/hints.py
Labels: CI

#4155 tool: (xdsl-tblgen) add tablegen file to build test json from
  tests/xdsl_tblgen/test.json
  tests/xdsl_tblgen/test.py
  tests/xdsl_tblgen/test.td
  tests/xdsl_tblgen/test_tblgen.py
  xdsl/tools/xdsl_tblgen.py
Labels: testing, minor, tool

#4157 tool: (xdsl-tblgen) fix optional attributes
  tests/xdsl_tblgen/test.json
  tests/xdsl_tblgen/test.py
  tests/xdsl_tblgen/test.td
  xdsl/tools/xdsl_tblgen.py
Labels: tool

#4158 tool: (xdsl-tblgen) fix assembly format
  tests/xdsl_tblgen/test.json
  tests/xdsl_tblgen/test.py
  tests/xdsl_tblgen/test.td
  xdsl/tools/xdsl_tblgen.py
Labels: tool

#4166 misc: Fix opt_operand and opt_result printing
  tests/filecheck/utils/codegen/simple.py
  xdsl/utils/dialect_codegen.py
Labels: misc

#4122 dialects (arm): Add NEON FMUL op (mixed scalar/vector)
  tests/filecheck/dialects/arm_neon/test_ops.mlir
  xdsl/dialects/arm_neon.py
Labels: dialects

#4161 transformations: no assembly section when lowering to riscv_func
  tests/filecheck/backend/riscv/convert_func_to_riscv_func.mlir
  tests/filecheck/projects/riscv-backend-paper/bottom_up_f32.mlir
  tests/filecheck/projects/riscv-backend-paper/bottom_up_f64.mlir
  tests/filecheck/projects/riscv-backend-paper/nsnet.mlir
  tests/interactive/test_app.py
  xdsl/backend/riscv/lowering/convert_func_to_riscv_func.py
Labels: transformations

#4168 misc: Print irdl options when dumping ops
  tests/filecheck/utils/codegen/simple.py
  xdsl/utils/dialect_codegen.py
Labels: misc

#4167 dialects (arm): Add NEON fmla instruction (mixed: vector/scalar)
  tests/filecheck/dialects/arm_neon/test_ops.mlir
  xdsl/dialects/arm_neon.py
Labels: dialects

#4173 misc: Print properties, traits and attributes in codegen
  tests/filecheck/utils/codegen/simple.py
  xdsl/utils/dialect_codegen.py
Labels: misc

#4170 dialects (arm): Add st1 op
  tests/filecheck/dialects/arm_neon/test_ops.mlir
  tests/filecheck/dialects/arm_neon/test_ops_invalid.mlir
  xdsl/dialects/arm/assembly.py
  xdsl/dialects/arm_neon.py
Labels: dialects

#4176 dialects: (pdl_interp) Add operations
  tests/filecheck/dialects/pdl_interp/pdl_interp_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/pdl_interp/pdl_interp_ops.mlir
  xdsl/dialects/__init__.py
  xdsl/dialects/pdl_interp.py
Labels: dialects

#4177 dialects (arm): add curly brackets around variadic NeonReg operands t…
  tests/filecheck/dialects/arm_neon/test_ops.mlir
  xdsl/dialects/arm_neon.py
Labels: dialects

#4163 core: Lazily include ImplicitBuilder in Operation __post_init__
  tests/test_implicit_builder.py
  xdsl/builder.py
Labels: core

#4178 dialects (arm): Add NEON ld1 op
  tests/filecheck/dialects/arm_neon/test_ops.mlir
  tests/filecheck/dialects/arm_neon/test_ops_invalid.mlir
  xdsl/dialects/arm_neon.py
Labels: dialects

#4175 frontend: (pyast) Add the python names as hints to frontend function arguments
  tests/filecheck/frontend/refactor/bigint.py
  tests/filecheck/frontend/refactor/operations.py
  xdsl/frontend/pyast/code_generation.py
Labels: frontend

#4181 frontend: (pyast) Move type registry into type converter
  tests/filecheck/frontend/programs/invalid.py
  xdsl/frontend/pyast/code_generation.py
  xdsl/frontend/pyast/program.py
  xdsl/frontend/pyast/type_conversion.py
Labels: frontend

#4182 dialects (arm): fix NEON ld1 instruction
  tests/filecheck/dialects/arm_neon/test_ops.mlir
  tests/filecheck/dialects/arm_neon/test_ops_invalid.mlir
  xdsl/dialects/arm_neon.py
Labels: dialects

#4185 core: Evaluate string annotations in rewrite patterns
  xdsl/pattern_rewriter.py
Labels: bug, core

#4186 core: Allow nesting of optional groups in declarative assembly format
  tests/irdl/test_declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format.py
Labels: bug, core

#4187 dialects: Move PDL parser and printer to assembly format
  xdsl/dialects/pdl.py
Labels: dialects

#4188 misc: remove quotes around "operandSegmentSizes" in filecheck
  tests/filecheck/dialects/affine/affine_ops.mlir
  tests/filecheck/dialects/affine/examples.mlir
  tests/filecheck/dialects/csl/csl-stencil-canonicalize.mlir
  tests/filecheck/dialects/csl/csl-stencil-ops.mlir
  tests/filecheck/dialects/gpu/invalid.mlir
  tests/filecheck/dialects/gpu/ops.mlir
  tests/filecheck/dialects/memref/invalid_ops.mlir
  tests/filecheck/dialects/memref/memref_ops.mlir
  tests/filecheck/dialects/mpi/memref_compat.mlir
  tests/filecheck/dialects/omp/ops.mlir
  tests/filecheck/dialects/scf/parallel_blocks_args_types.mlir
  tests/filecheck/dialects/scf/parallel_blocks_not_enough_reduce.mlir
  tests/filecheck/dialects/scf/parallel_bounds.mlir
  tests/filecheck/dialects/scf/parallel_iv.mlir
  tests/filecheck/dialects/scf/parallel_multiple_blocks.mlir
  tests/filecheck/dialects/scf/reduce.mlir
  tests/filecheck/dialects/scf/reduce_arg_type_missmatch.mlir
  tests/filecheck/dialects/scf/reduce_return_type_missmatch.mlir
  tests/filecheck/dialects/seq/seq_invalid.mlir
  tests/filecheck/dialects/snitch_runtime/snitch_runtime_ops.mlir
  tests/filecheck/dialects/snitch_stream/convert_snitch_stream_to_snitch.mlir
  tests/filecheck/dialects/stencil/invalid.mlir
  tests/filecheck/dialects/transform/transform_types.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/affine/affine_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/gpu/ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/memref/canonicalize.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/memref/matmul.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/memref/memref_ops_mlir_conversion.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/mpi/mpi-hello-world-async.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/mpi/mpi-hello-world.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/omp/ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/scf/parallel.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/scf/parallel_with_reduce.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/tensor/ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/transform/transform_types.mlir
  tests/filecheck/projects/riscv-backend-paper/add_snitch_stream.mlir
  tests/filecheck/projects/riscv-backend-paper/relu_snitch_stream.mlir
  tests/filecheck/transforms/convert-scf-to-openmp.mlir
  tests/filecheck/transforms/convert-stencil-to-csl-stencil.mlir
  tests/filecheck/transforms/convert-stencil-to-ll-mlir.mlir
  tests/filecheck/transforms/cse.mlir
  tests/filecheck/transforms/csl-stencil-handle-async-flow.mlir
  tests/filecheck/transforms/csl-stencil-materialize-stores.mlir
  tests/filecheck/transforms/csl-stencil-to-csl-wrapper.mlir
  tests/filecheck/transforms/csl_stencil_bufferize.mlir
  tests/filecheck/transforms/gpu-map-parallel-loops.mlir
  tests/filecheck/transforms/lower-csl-stencil.mlir
  tests/filecheck/transforms/lower-csl-wrapper.mlir
  tests/filecheck/transforms/lower_affine.mlir
  tests/filecheck/transforms/memref-to-dsd.mlir
  tests/filecheck/transforms/scf-parallel-loop-tiling-partial.mlir
  tests/filecheck/transforms/scf-parallel-loop-tiling.mlir
  tests/filecheck/transforms/snitch_register_allocation.mlir
  tests/filecheck/transforms/stencil-bufferize.mlir
  tests/filecheck/transforms/stencil-tensorize-z-dimension.mlir
Labels: minor, misc

#4145 frontend: (pyast) Add support for bigint functions in PyAST frontend
  tests/filecheck/frontend/programs/invalid.py
  tests/filecheck/frontend/refactor/bigint.py
  tests/filecheck/frontend/refactor/operations.py
  xdsl/frontend/pyast/code_generation.py
  xdsl/frontend/pyast/program.py
  xdsl/frontend/pyast/type_conversion.py
Labels: frontend

#4199 dialects: Extract useful util functions from memref dialect
  tests/test_dialect_utils.py
  xdsl/dialects/memref.py
  xdsl/dialects/utils/__init__.py
  xdsl/dialects/utils/dynamic_index_list.py
  xdsl/dialects/utils/format.py
Labels: dialects

#4200 dialects: Use new util for dynamic indices in memref dialect
  tests/filecheck/dialects/memref/invalid_ops.mlir
  xdsl/dialects/memref.py
Labels: dialects

#4196 dialects: (vector) vector.fma expects vectors of floats
  tests/filecheck/dialects/vector/vector_fma_invalid.mlir
  tests/filecheck/dialects/vector/vector_fma_res_acc_shape_matching.mlir
  tests/filecheck/dialects/vector/vector_fma_res_acc_type_matching.mlir
  tests/filecheck/dialects/vector/vector_fma_res_lhs_shape_matching.mlir
  tests/filecheck/dialects/vector/vector_fma_res_lhs_type_matching.mlir
  tests/filecheck/dialects/vector/vector_fma_res_rhs_shape_matching.mlir
  tests/filecheck/dialects/vector/vector_fma_res_rhs_type_matching.mlir
  tests/filecheck/dialects/vector/vector_ops.mlir
  tests/filecheck/dialects/vector/vector_pure_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/vector/fma.mlir
  xdsl/dialects/vector.py
Labels: dialects

#4201 dialects: Add vector.insert and vector.extract operations
  tests/dialects/test_vector.py
  tests/filecheck/dialects/vector/vector_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/vector/extract.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/vector/insert.mlir
  xdsl/dialects/vector.py
Labels: dialects

#4207 core: add is_projected_permutation to AffineMap
  tests/test_affine_builtins.py
  xdsl/ir/affine/affine_map.py
Labels: core

#4218 documentation: fix chapter 3 name
  docs/Toy/Toy_Ch3.ipynb
Labels: documentation

#4211 frontend: (pyast) Refactor type registration to use instantiated types
  tests/filecheck/frontend/refactor/bigint.py
  tests/filecheck/frontend/refactor/operations.py
  xdsl/dialects/bigint.py
  xdsl/frontend/pyast/code_generation.py
  xdsl/frontend/pyast/program.py
  xdsl/frontend/pyast/type_conversion.py
Labels: frontend

#4219 dialects: (x86) fix typos
  xdsl/dialects/x86/ops.py
Labels: dialects

#4195 backend: remove instruction set name from register types
  tests/backend/test_register.py
  tests/dialects/test_riscv.py
  tests/dialects/test_x86.py
  tests/filecheck/dialects/riscv/riscv_registers_invalid.mlir
  tests/filecheck/dialects/x86/x86_registers_invalid.mlir
  xdsl/backend/register_type.py
  xdsl/dialects/arm/register.py
  xdsl/dialects/arm_neon.py
  xdsl/dialects/riscv.py
  xdsl/dialects/x86/register.py
Labels: backend

#4206 dialects: (builtin) add get_scalable_dims to vector type
  tests/dialects/test_builtin.py
  xdsl/dialects/builtin.py
Labels: dialects

#3825 transformations: (convert-ptr-to-llvm) add lowering for ptr to llvm
  tests/filecheck/transforms/convert_ptr_to_llvm.mlir
  xdsl/transforms/__init__.py
  xdsl/transforms/convert_ptr_to_llvm.py
Labels: transformations

#4193 frontend: (pyast) Add support for bigint comparison operations in the PyAST frontend
  tests/filecheck/frontend/refactor/operations.py
  xdsl/frontend/pyast/code_generation.py
Labels: frontend

#4224 misc: move some typealiases up in interpreter.py
  xdsl/interpreter.py
Labels: misc

#4212 bench: add parsing benchmarks using existing workloads
  benchmarks/parser.py
  benchmarks/workloads.py
  tests/filecheck/dialects/builtin/attrs.mlir
Labels: bench

#4223 dialects: (riscv) canonicalization pattern added (x<<0=x)
  GETTING_STARTED.md
  tests/filecheck/backend/riscv/canonicalize.mlir
  xdsl/dialects/riscv.py
  xdsl/transforms/canonicalization_patterns/riscv.py
Labels: dialects

#4180 dialects: (pdl-interp) Add manual parse and print functions
  tests/filecheck/dialects/pdl_interp/pdl_interp_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/pdl_interp/pdl_interp_ops.mlir
  xdsl/dialects/pdl_interp.py
Labels: dialects

#4237 documentation: ignore markdownlint error
  README.md
Labels: documentation

#4214 bench: add import benchmarks
  benchmarks/imports.py
Labels: bench

#4165 tool: (xdsl-tblgen) fix AnyAttrOf generation
  tests/xdsl_tblgen/test.json
  tests/xdsl_tblgen/test.py
  tests/xdsl_tblgen/test.td
  xdsl/tools/xdsl_tblgen.py
Labels: tool

#4208 CI: (asv) Adopt new asv template to fix build issues from removed setup.py file
  asv.conf.json
Labels: CI

#4222 testing: replace TestSSAValue class with create_ssa_value helper
  tests/backend/riscv/test_func_to_riscv_func.py
  tests/backend/riscv/test_utils.py
  tests/backend/wgsl/test_wgsl_printer.py
  tests/dialects/test_arith.py
  tests/dialects/test_comb.py
  tests/dialects/test_csl.py
  tests/dialects/test_csl_stencil.py
  tests/dialects/test_hw.py
  tests/dialects/test_irdl.py
  tests/dialects/test_llvm.py
  tests/dialects/test_math.py
  tests/dialects/test_memref.py
  tests/dialects/test_pdl.py
  tests/dialects/test_riscv.py
  tests/dialects/test_seq.py
  tests/dialects/test_snitch.py
  tests/dialects/test_snitch_runtime.py
  tests/dialects/test_stencil.py
  tests/dialects/test_tensor.py
  tests/dialects/test_vector.py
  tests/interpreters/test_affine_interpreter.py
  tests/interpreters/test_linalg_interpreter.py
  tests/interpreters/test_memref_stream_interpreter.py
  tests/interpreters/test_pdl_interpreter.py
  tests/interpreters/test_riscv_cf_interpreter.py
  tests/interpreters/test_riscv_debug_interpreter.py
  tests/interpreters/test_riscv_interpreter.py
  tests/interpreters/test_riscv_snitch_interpreter.py
  tests/interpreters/test_snitch_stream_interpreter.py
  tests/interpreters/test_tensor_interpreter.py
  tests/irdl/test_operation_definition.py
  tests/test_dialect_utils.py
  tests/test_interpreter.py
  tests/test_ir.py
  tests/test_is_satisfying_hint.py
  tests/test_printer.py
  tests/test_ssa_value.py
  tests/test_traits.py
  tests/transforms/test_lower_affine.py
  tests/transforms/test_transform_utils.py
  xdsl/rewriter.py
  xdsl/utils/test_value.py
Labels: testing

#4101 interpreter: Use symboltable lookup in the interpreter
  tests/filecheck/projects/riscv-backend-paper/add_snitch_stream.mlir
  tests/filecheck/projects/riscv-backend-paper/relu_snitch_stream.mlir
  tests/interpreters/test_symbol_lookup.py
  xdsl/interpreter.py
  xdsl/interpreters/func.py
Labels: interpreter

#4244 misc: Fix deprecation message for `TestSSAValue`
  xdsl/utils/test_value.py
Labels: minor, misc

#4248 dialects: (linalg) Select op
  tests/filecheck/dialects/linalg/linalg_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/linalg/ops.mlir
  xdsl/dialects/linalg.py
Labels: dialects

#4236 core: rename AffineMap.compressDims to dropDims
  tests/test_affine_builtins.py
  xdsl/ir/affine/affine_map.py
  xdsl/transforms/loop_nest_lowering_utils.py
  xdsl/transforms/memref_stream_unnest_out_parameters.py
Labels: core

#4253 dialects: (linalg) MinOp and MaxOp
  tests/filecheck/dialects/linalg/linalg_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/linalg/ops.mlir
  xdsl/dialects/linalg.py
Labels: dialects

#4247 interpreter: (pdl_interp) Implement some `get*` and `create*` operations
  tests/interpreters/test_pdl_interp_interpreter.py
  xdsl/interpreters/pdl_interp.py
Labels: interpreter

#4257 interpreter: (pdl_interp) Implement some `check*` operations
  tests/interpreters/test_pdl_interp_interpreter.py
  xdsl/interpreters/pdl_interp.py
Labels: interpreter

#4202 dialect: Add vector insert and extract verifiers
  tests/filecheck/dialects/vector/invalid.mlir
  xdsl/dialects/vector.py
Labels: dialects

#4259 dialects: (affine) Fix ApplyOp printing and add test
  tests/filecheck/dialects/affine/affine_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/affine/affine_ops.mlir
  xdsl/dialects/affine.py
Labels: dialects

#4261 CI: remove references to setup.py
  .github/workflows/jupyterlite.yml
  .github/workflows/pythonpublish.yml
  pyproject.toml
Labels: CI

#4264 dialects: (vector) add helpers for transfer ops
  tests/dialects/test_vector.py
  xdsl/dialects/vector.py
  xdsl/ir/affine/affine_map.py
Labels: dialects

#4251 canonicalize: (arith) Fold cmpf and select on same operands
  tests/filecheck/dialects/arith/canonicalize.mlir
  xdsl/dialects/arith.py
  xdsl/transforms/canonicalization_patterns/arith.py
Labels: transformations

#4255 transformations: (linalg-to-csl) Translate linalg.max
  tests/filecheck/transforms/linalg-to-csl.mlir
  xdsl/transforms/linalg_to_csl.py
Labels: transformations

#4242 core: refactor has_trait method to eliminate issubclass checks
  xdsl/dialects/builtin.py
  xdsl/ir/core.py
Labels: bench

#4144 dialects: (linalg) add more conv2d operations
  tests/filecheck/mlir-conversion/with-mlir/dialects/linalg/ops.mlir
  xdsl/dialects/linalg.py
Labels: dialects

#4269 minor: (stencil-tensorize) Rewrite using base class
  xdsl/transforms/experimental/stencil_tensorize_z_dimension.py
Labels: minor

#4270 transformations: (arith-add-fastmath) Support arith.cmpf
  tests/filecheck/transforms/arith-add-fastmath.mlir
  xdsl/transforms/arith_add_fastmath.py
Labels: minor, transformations

#4229 backend: use dictionaries for all register types during allocation
  tests/backend/riscv/test_register_queue.py
  xdsl/backend/riscv/riscv_register_queue.py
Labels: backend

#4266 dialects: (transform) add function-like traits to named_sequence
  tests/filecheck/dialects/transform/transform_types.mlir
  xdsl/dialects/transform.py
Labels: dialects

#4265 dialects: (transform) Add `apply_registered_pass` op
  tests/filecheck/dialects/transform/transform_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/transform/transform_types.mlir
  xdsl/dialects/transform.py
Labels: dialects

#4258 interpreter: (pdl_interp) Implement `ReplaceOp`, `FuncOp`, `RecordMatchOp`, and `FinalizeOp`.
  tests/interpreters/test_pdl_interp_interpreter.py
  xdsl/interpreters/pdl_interp.py
Labels: interpreter

#4263 dialects: (vector) add transfer_read and transfer_write
  tests/filecheck/dialects/vector/vector_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/vector/insert_extract_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/vector/transfer_ops.mlir
  xdsl/dialects/vector.py
Labels: dialects

#4268 transforms: (linalg-to-csl) Workaround for min
  tests/filecheck/transforms/linalg-to-csl.mlir
  xdsl/transforms/linalg_to_csl.py
Labels: transformations

#4278 transformations: (stencil-shape-minimise) Support missing dims
  tests/filecheck/transforms/stencil-shape-minimize.mlir
  xdsl/transforms/stencil_shape_minimize.py
Labels: transformations

#4274 interpreter (transform): add semantics for `NamedSequenceOp` and `YieldOp`
  tests/filecheck/dialects/transform/transform_ops.mlir
  tests/filecheck/dialects/transform/transform_types.mlir
  tests/interpreters/test_transform_interpreter.py
  xdsl/dialects/transform.py
  xdsl/interpreters/transform.py
Labels: interpreter

#4289 transformations: (transform) Add initial transform interpreter pass
  tests/filecheck/dialects/transform/transform_interpreter.mlir
  tests/transforms/test_transform_interpreter.py
  xdsl/transforms/__init__.py
  xdsl/transforms/transform_interpreter.py
Labels: transformations

#4294 dialects: (irdl) add name properties
  tests/dialects/test_irdl.py
  tests/filecheck/dialects/irdl/cmath.irdl.mlir
  tests/filecheck/dialects/irdl/cmath_irdl_stub.py
  tests/filecheck/dialects/irdl/cyclic-types.irdl.mlir
  tests/filecheck/dialects/irdl/irdl-to-pyrdl/testd.irdl.mlir
  tests/filecheck/dialects/irdl/pyrdl-to-irdl/cmath-conversion.py
  tests/filecheck/dialects/irdl/test-type.irdl.mlir
  tests/filecheck/dialects/irdl/testd.irdl.mlir
  xdsl/dialects/cmath.irdl
  xdsl/dialects/irdl/irdl.py
  xdsl/dialects/irdl/irdl_to_pyrdl.py
  xdsl/dialects/irdl/pyrdl_to_irdl.py
  xdsl/interpreters/irdl.py
Labels: dialects

#4302 bench: disable benchmarks failing in ASV CI flow
  benchmarks/rewriting.py
Labels: bench

#4297 bench: Make the `has_trait` microbenchmark comparable to the how slow is MLIR version
  benchmarks/microbenchmarks.py
Labels: bench

#4290 dialects: (transform) Add custom syntax for `transform.named_sequence`
  tests/filecheck/dialects/transform/transform_interpreter.mlir
  tests/filecheck/dialects/transform/transform_types.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/transform/transform_types.mlir
  xdsl/dialects/transform.py
Labels: dialects

#4292 dialects: (builtin) add generic parameter to DenseIntOrFPElementsAttr
  xdsl/backend/csl/print_csl.py
  xdsl/dialects/builtin.py
  xdsl/interpreters/builtin.py
  xdsl/interpreters/memref.py
  xdsl/interpreters/ml_program.py
  xdsl/interpreters/riscv.py
Labels: dialects
