Repository xdslproject/xdsl, pull requests merged in 2025-10, with the labels that each got.

#5295 dialects: (builtin) remove abstract name from MemRefLayoutAttr
  xdsl/dialects/builtin.py
Labels: dialects

#5307 dialects: (pdl_interp) Fix ApplyConstraintOp constructor
  xdsl/dialects/pdl_interp.py
Labels: dialects, minor

#5306 dialects: (tosa) add reciprocal, reduce operations
  tests/filecheck/dialects/tosa/ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/tosa/ops.mlir
  xdsl/dialects/tosa.py
Labels: dialects

#5297 core: add post-order traversal to AffineExpr
  tests/test_affine_builtins.py
  xdsl/ir/affine/affine_expr.py
Labels: core

#5319 misc: (DisjointSet) Add `rooted_union` method to DisjointSet
  tests/utils/test_disjoint_set.py
  xdsl/utils/disjoint_set.py
Labels: misc

#5313 dialects: (mesh) Add `mesh.shard` operation
  tests/filecheck/dialects/mesh/ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/mesh/ops.mlir
  xdsl/dialects/mesh.py
Labels: dialects

#5328 dialects: (pdl) make rewrite op body non-optional
  tests/dialects/test_pdl.py
  tests/filecheck/mlir-conversion/with-mlir/dialects/pdl/mlir-tests.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/pdl/pdl_attribute.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/pdl/pdl_native_rewrite.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/pdl/pdl_operand.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/pdl/pdl_operation.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/pdl/pdl_range.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/pdl/pdl_replace.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/pdl/pdl_result.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/pdl/pdl_type.mlir
  xdsl/dialects/pdl.py
Labels: dialects
