Repository xdslproject/xdsl, pull requests merged in 2025-05, with the labels that each got.

#4277 backend: (riscv) allocate any RISCVRegisterType
  tests/backend/riscv/test_register_allocation.py
  xdsl/backend/riscv/register_allocation.py
  xdsl/backend/riscv/riscv_register_queue.py
Labels: backend

#4308 backend: (riscv) target-independent LIFO register queue
  xdsl/backend/register_queue.py
  xdsl/backend/riscv/riscv_register_queue.py
Labels: backend

#4070 misc: (eqsat) eqsat-serialize-egraph pass
  tests/filecheck/transforms/eqsat-serialize-egraph-cycle.mlir
  tests/filecheck/transforms/eqsat-serialize-egraph.mlir
  xdsl/transforms/__init__.py
  xdsl/transforms/eqsat_serialize_egraph.py
Labels: misc

#4313 backend: (riscv) remove _allocate_live_ins_per_block helper
  xdsl/backend/riscv/register_allocation.py
Labels: backend

#4309 backend: always exclude pre-allocated registers during regalloc
  xdsl/backend/riscv/register_allocation.py
  xdsl/transforms/riscv_register_allocation.py
Labels: backend

#4317 backend: make RegisterQueue non-generic
  xdsl/backend/register_queue.py
  xdsl/backend/riscv/register_allocation.py
  xdsl/backend/riscv/riscv_register_queue.py
Labels: backend

#4316 core: (ParsePropInAttrDict) allow a subset of properties to be parsed in attr-dict
  tests/filecheck/dialects/tosa/ops.mlir
  tests/irdl/test_declarative_assembly_format.py
  tests/test_parser.py
  tests/test_printer.py
  xdsl/irdl/declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format_parser.py
  xdsl/irdl/operations.py
  xdsl/parser/core.py
Labels: core

#4303 core: Create BuiltinAttribute class
  docs/marimo/irdl.py
  tests/irdl/test_attr_constraint.py
  tests/irdl/test_attribute_definition.py
  tests/test_frontend_type_conversion.py
  tests/test_pyrdl.py
  xdsl/dialects/builtin.py
  xdsl/ir/core.py
  xdsl/irdl/attributes.py
Labels: core

#4325 dialects: (arith) move select to assembly format
  xdsl/dialects/arith.py
Labels: dialects

#4324 dialects: (arith) fix negf
  xdsl/dialects/arith.py
Labels: dialects

#4321 dialects: (builtin) remove TensorOrMemRefConstraint
  tests/dialects/test_builtin.py
  xdsl/dialects/builtin.py
  xdsl/dialects/vector.py
Labels: dialects

#4322 core: (constraints) remove variance on `get_variable_extractors`
  xdsl/dialects/builtin.py
  xdsl/irdl/constraints.py
Labels: core

#4332 core: Add nicer error messages for RangeOf
  tests/irdl/test_operation_definition.py
  xdsl/irdl/constraints.py
Labels: core

#4318 backend: add RegisterAllocatableOperation abstract base class
  tests/backend/riscv/test_preallocated.py
  tests/backend/test_register_allocation.py
  xdsl/backend/register_allocatable.py
  xdsl/backend/riscv/register_allocation.py
  xdsl/dialects/riscv_func.py
Labels: backend

#4192 transformations: vector load to ptr
  tests/filecheck/transforms/convert_vector_to_ptr.mlir
  xdsl/transforms/__init__.py
  xdsl/transforms/convert_vector_to_ptr.py
Labels: transformations

#4330 core: Separate attributes and types in the context
  tests/irdl/test_declarative_assembly_format.py
  tests/test_context.py
  tests/test_parser.py
  tests/test_printer.py
  xdsl/context.py
  xdsl/dialects/builtin.py
  xdsl/parser/attribute_parser.py
  xdsl/utils/exceptions.py
Labels: core

#4334 dialects: (ptr) add FromPtrOp
  tests/filecheck/dialects/ptr/ops.mlir
  xdsl/dialects/ptr.py
Labels: dialects

#4336 core: only pass constraints to `isattr`
  tests/test_is_satisfying_hint.py
  xdsl/dialects/csl/csl.py
  xdsl/dialects/llvm.py
  xdsl/transforms/convert_stencil_to_csl_stencil.py
  xdsl/transforms/lower_csl_stencil.py
  xdsl/transforms/lower_csl_wrapper.py
  xdsl/utils/isattr.py
Labels: core

#4339 dialects: (ptr) add canonicalization patterns to remove to/from ptr
  tests/filecheck/dialects/ptr/canonicalize.mlir
  xdsl/dialects/ptr.py
  xdsl/transforms/canonicalization_patterns/ptr.py
Labels: dialects

#4340 dialects: (ptr) add inits to ptr dialect
  xdsl/dialects/ptr.py
  xdsl/transforms/convert_memref_to_ptr.py
  xdsl/transforms/convert_vector_to_ptr.py
Labels: dialects

#4307 dialects: (transform) add assembly format for `apply_registered_pass`
  tests/filecheck/dialects/transform/transform_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/transform/transform_generic.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/transform/transform_types.mlir
  xdsl/dialects/transform.py
Labels: dialects

#4287 interpreter: (pdl_interp) Change rewriter check in `run_create_operation`
  tests/interpreters/test_pdl_interp_interpreter.py
  xdsl/interpreters/pdl_interp.py
Labels: interpreter

#4335 backend: (riscv) use RegisterAllocationOperation for snitch reserved registers
  tests/filecheck/backend/riscv/register-allocation/exclude_snitch.mlir
  xdsl/backend/riscv/register_allocation.py
  xdsl/dialects/riscv_snitch.py
  xdsl/transforms/riscv_register_allocation.py
  xdsl/transforms/snitch_register_allocation.py
Labels: backend

#4279 transformations: (pdl_interp) Add `pdl-interp-apply` pass
  tests/filecheck/transforms/apply-pdl-interp/apply_pdl_interp_add_zero.mlir
  tests/filecheck/transforms/apply-pdl-interp/apply_pdl_interp_extra_file.mlir
  tests/filecheck/transforms/apply-pdl-interp/apply_pdl_interp_multi_ops.mlir
  tests/filecheck/transforms/apply-pdl-interp/extra_file.mlir
  xdsl/transforms/__init__.py
  xdsl/transforms/apply_pdl_interp.py
Labels: transformations

#4344 dialects: (vector) Add nontemporal to vector.load and vector.store
  tests/filecheck/dialects/vector/vector_ops.mlir
  xdsl/dialects/vector.py
Labels: dialects

#4184 dialects (arm): add destination reg as operand to fmla instruction
  tests/filecheck/dialects/arm_neon/test_ops.mlir
  tests/filecheck/dialects/arm_neon/test_ops_invalid.mlir
  xdsl/dialects/arm_neon.py
Labels: dialects

#4347 testing: add unregistered dialect flag to new test
  tests/filecheck/mlir-conversion/with-mlir/dialects/transform/transform_generic.mlir
Labels: testing

#4348 core: Add notify_op_modified to the PatternRewriter
  tests/pattern_rewriter/test_pattern_rewriter.py
  xdsl/pattern_rewriter.py
Labels: core

#4338 dialects: (riscv) canonicalization pattern added (x / 1 → x)
  GETTING_STARTED.md
  tests/filecheck/backend/riscv/canonicalize.mlir
  xdsl/dialects/riscv.py
  xdsl/transforms/canonicalization_patterns/riscv.py
Labels: dialects

#4346 dialects: (memref) Add nontemporal default value.
  tests/filecheck/dialects/memref/memref_ops.mlir
  xdsl/dialects/memref.py
Labels: dialects

#4355 transformations: (convert-ptr-to-llvm) Add conversions for `ConvertToPtrOp` and `ConvertFromPtrOp`
  tests/filecheck/transforms/convert_ptr_to_llvm.mlir
  xdsl/transforms/convert_ptr_to_llvm.py
Labels: transformations

#4352 dialects: (builtin) Make `ComplexType` inherit from `Generic` and `ContainerType`.
  xdsl/dialects/builtin.py
  xdsl/printer.py
Labels: dialects, core

#4358 dialects: (builtin) deprecate create_dense_index
  xdsl/dialects/builtin.py
Labels: dialects

#4359 dialects: (cf) simplify switch's use of DenseIntElementAttr
  xdsl/dialects/builtin.py
  xdsl/dialects/cf.py
  xdsl/transforms/canonicalization_patterns/cf.py
  xdsl/transforms/convert_scf_to_cf.py
Labels: dialects

#4342 transformations: (convert-memref-to-ptr) use to/from ptr ops for casts
  tests/filecheck/transforms/convert_memref_args_to_ptr.mlir
  xdsl/transforms/convert_memref_to_ptr.py
Labels: transformations

#4360 dialects: (builtin) deprecate vector_from_list
  tests/dialects/test_builtin.py
  xdsl/dialects/builtin.py
  xdsl/dialects/varith.py
Labels: dialects

#4357 [dialects] arm: Add dup instruction
  tests/filecheck/dialects/arm_neon/test_ops.mlir
  xdsl/dialects/arm_neon.py
Labels: dialects

#4361 dialects: (builtin) stricten create_dense_float typing
  xdsl/dialects/builtin.py
Labels: dialects

#4365 dialects: (builtin) fix deprecated vector_from_list
  xdsl/dialects/builtin.py
Labels: dialects, minor

#4370 misc: remove APIs deprecated more than three months ago
  xdsl/builder.py
  xdsl/ir/core.py
  xdsl/pattern_rewriter.py
  xdsl/rewriter.py
  xdsl/utils/deprecation.py
Labels: misc

#4353 dialects: (builtin) Make `ComplexType` inherit from `PackableType`
  tests/dialects/test_builtin.py
  xdsl/dialects/builtin.py
Labels: dialects

#4362 dialects: (toy) make f64 specific and use `create_dense_float`
  docs/Toy/Toy_Ch2.ipynb
  docs/Toy/toy/dialects/toy.py
Labels: dialects

#4350 dialects: Create a base version of the `smt` dialect
  tests/dialects/test_smt.py
  tests/filecheck/dialects/smt/invalid.mlir
  tests/filecheck/dialects/smt/ops.mlir
  tests/irdl/test_int_constraint.py
  xdsl/dialects/__init__.py
  xdsl/dialects/smt.py
  xdsl/irdl/constraints.py
Labels: dialects

#4341 core: deprecate isattr
  docs/Toy/toy/dialects/toy.py
  tests/dialects/test_arith.py
  tests/test_is_satisfying_hint.py
  xdsl/dialects/builtin.py
  xdsl/dialects/csl/csl_stencil.py
  xdsl/dialects/linalg.py
  xdsl/dialects/pdl.py
  xdsl/dialects/stencil.py
  xdsl/interpreters/arith.py
  xdsl/irdl/constraints.py
  xdsl/parser/attribute_parser.py
  xdsl/pattern_rewriter.py
  xdsl/transforms/convert_stencil_to_csl_stencil.py
  xdsl/transforms/csl_stencil_bufferize.py
  xdsl/transforms/csl_stencil_to_csl_wrapper.py
  xdsl/transforms/experimental/convert_stencil_to_ll_mlir.py
  xdsl/transforms/experimental/stencil_tensorize_z_dimension.py
  xdsl/transforms/lower_csl_wrapper.py
  xdsl/transforms/lower_mpi.py
  xdsl/transforms/memref_to_dsd.py
  xdsl/utils/isattr.py
Labels: core

#4367 dialects: (builtin) add `get_{int/float}_values`
  docs/Toy/toy/dialects/toy.py
  docs/Toy/toy/rewrites/lower_toy_affine.py
  docs/Toy/toy/rewrites/optimise_toy.py
  tests/filecheck/backend/riscv/memref_to_riscv.mlir
  xdsl/backend/riscv/lowering/convert_memref_to_riscv.py
  xdsl/dialects/affine.py
  xdsl/dialects/builtin.py
  xdsl/dialects/cf.py
  xdsl/dialects/varith.py
  xdsl/interpreters/linalg.py
  xdsl/transforms/canonicalization_patterns/cf.py
Labels: dialects

#4351 core: Refactor parser and printer for complex types
  tests/test_parser.py
  tests/test_printer.py
  xdsl/parser/attribute_parser.py
  xdsl/printer.py
Labels: core

#4380 dialects: (x86) move all abstract operations to one place
  xdsl/dialects/x86/ops.py
Labels: dialects

#4381 installation: (nix) include mlir-opt in flake
  flake.lock
  flake.nix
Labels: installation

#4382 dialects: (x86) use Imm for immediate value in ABC names
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#4376 backend: ptr.store to x86
  tests/filecheck/backend/x86/convert_ptr_to_x86.mlir
  xdsl/backend/x86/lowering/convert_ptr_to_x86.py
Labels: backend

#4383 backend: ptr_xdsl.ptradd to x86
  tests/filecheck/backend/x86/convert_ptr_to_x86.mlir
  xdsl/backend/x86/lowering/convert_ptr_to_x86.py
Labels: backend

#4384 transformations: (vector) vector.store to ptr
  tests/filecheck/transforms/convert_vector_to_ptr.mlir
  xdsl/transforms/convert_vector_to_ptr.py
Labels: transformations

#4390 minor: remove old asserts
  xdsl/irdl/operations.py
Labels: minor

#4388 dialects: (builtin) deprecate tensor_from_list
  tests/dialects/test_builtin.py
  tests/dialects/test_math.py
  tests/interpreters/test_linalg_interpreter.py
  xdsl/dialects/builtin.py
Labels: dialects

#4391 core: Find the ancestor operation of an operation in a block
  tests/test_ir.py
  xdsl/ir/core.py
Labels: core

#4397 dialects: (builtin) simplify uses of DenseIntOrFPElementsAttr
  xdsl/dialects/linalg.py
  xdsl/dialects/memref.py
Labels: dialects, minor

#4375 dialects: (smt) Add `smt.eq` and `smt.distinct`
  tests/dialects/test_smt.py
  tests/filecheck/dialects/smt/invalid.mlir
  tests/filecheck/dialects/smt/ops.mlir
  xdsl/dialects/smt.py
Labels: dialects

#4386 core: Find the ancestor block of a block within a region
  tests/test_ir.py
  xdsl/ir/core.py
Labels: core

#4385 core: Check if an operation is before another in a block
  tests/test_ir.py
  xdsl/ir/core.py
Labels: core

#4398 transformations: (convert-vector-to-ptr) share helper for offset calculations
  tests/filecheck/transforms/convert_vector_to_ptr.mlir
  xdsl/transforms/convert_vector_to_ptr.py
Labels: transformations

#4392 dialects: (x86) replace S with C for "conditional" mnemonic
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#4349 backend: add ValueAllocator base class for SSAValue allocation
  tests/backend/riscv/test_register_allocation.py
  tests/backend/test_register_allocation.py
  xdsl/backend/register_allocator.py
  xdsl/backend/riscv/register_allocation.py
Labels: backend

#4363 dialects: (arm) Add mov instruction for Neon -> general-purpose register
  tests/filecheck/dialects/arm_neon/test_ops.mlir
  xdsl/dialects/arm_neon.py
Labels: dialects

#4406 installation: (nix) add zlib
  flake.nix
Labels: installation

#4414 core: Support optional attrs in assembly format
  tests/irdl/test_declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format.py
Labels: core

#4403 transformations: (convert-vector-to-ptr) cast first then ptr arithmetic
  tests/filecheck/transforms/convert_memref_to_ptr.mlir
  tests/filecheck/transforms/convert_vector_to_ptr.mlir
  xdsl/transforms/convert_memref_to_ptr.py
Labels: transformations

#4411 dialects: Add `smt.exists` and `smt.forall` operations
  tests/dialects/test_smt.py
  tests/filecheck/dialects/smt/invalid.mlir
  tests/filecheck/dialects/smt/ops.mlir
  xdsl/dialects/smt.py
Labels: dialects

#4416 backend: (x86) vector.fma to x86 instructions
  tests/filecheck/backend/x86/convert_vector_to_x86.mlir
  xdsl/backend/x86/lowering/convert_ptr_to_x86.py
  xdsl/backend/x86/lowering/convert_vector_to_x86.py
  xdsl/backend/x86/lowering/helpers.py
  xdsl/transforms/__init__.py
Labels: backend

#4401 dialects: (emitc) Add EmitC dialect with the EmitC_ArrayType
  tests/dialects/test_emitc.py
  tests/filecheck/dialects/emitc/emitc_types.mlir
  tests/filecheck/dialects/emitc/emitc_types_invalid_parsing.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/emitc/emitc_types.mlir
  xdsl/dialects/__init__.py
  xdsl/dialects/emitc.py
Labels: dialects

#4413 dialects: (pdl_interp) add `SwitchOperationName`
  tests/filecheck/dialects/pdl_interp/pdl_interp_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/pdl_interp/pdl_interp_ops.mlir
  tests/interpreters/test_pdl_interp_interpreter.py
  xdsl/dialects/pdl_interp.py
  xdsl/interpreters/pdl_interp.py
Labels: dialects, interpreter

#4419 bug: (x86) cast back the result of an ptr operation after lowering to x86
  tests/filecheck/backend/x86/convert_ptr_to_x86.mlir
  xdsl/backend/x86/lowering/convert_ptr_to_x86.py
Labels: bug

#4412 dialects: (pdl_interp) Fix small issues in `CreateOperationOp` and `GetDefiningOp`
  tests/filecheck/dialects/pdl_interp/pdl_interp_ops.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/pdl_interp/pdl_interp_ops.mlir
  tests/interpreters/test_pdl_interp_interpreter.py
  xdsl/dialects/pdl_interp.py
  xdsl/interpreters/pdl_interp.py
Labels: dialects, interpreter

#4405 backend: add BlockAllocator base class
  tests/backend/test_live_ins.py
  xdsl/backend/register_allocator.py
  xdsl/backend/riscv/register_allocation.py
Labels: backend

#3027 transformations: Loop Invariant Code Motion
  tests/filecheck/transforms/licm.mlir
  xdsl/transforms/__init__.py
  xdsl/transforms/loop_invariant_code_motion.py
Labels: transformations

#4417 dialects: Add `smt.declare_fun` and `!smt.func`
  tests/dialects/test_smt.py
  tests/filecheck/dialects/smt/ops.mlir
  xdsl/dialects/smt.py
Labels: dialects

#4420 dialects: Allow range constraints in ArrayOfConstraint
  tests/dialects/test_builtin.py
  xdsl/dialects/builtin.py
  xdsl/utils/dialect_stub.py
Labels: dialects

#4422 transformations: (convert-memref-to-ptr) inline offset_calculations helper
  xdsl/transforms/convert_memref_to_ptr.py
Labels: transformations

#4424 dialects: (smt) Implement `smt.apply_func`
  tests/dialects/test_smt.py
  tests/filecheck/dialects/smt/ops.mlir
  xdsl/dialects/smt.py
Labels: dialects

#4428 core: (SSAValue) make `get` generic
  tests/test_ir.py
  xdsl/dialects/accfg.py
  xdsl/dialects/llvm.py
  xdsl/dialects/memref.py
  xdsl/dialects/stencil.py
  xdsl/dialects/tensor.py
  xdsl/dialects/vector.py
  xdsl/ir/core.py
  xdsl/transforms/experimental/convert_stencil_to_ll_mlir.py
Labels: core

#4431 dialects: (bufferization) fix ToTensorOp init
  tests/irdl/test_attr_constraint.py
  xdsl/dialects/bufferization.py
Labels: dialects

#4425 dialects: (smt) Implement `smt.implies` operation
  tests/dialects/test_smt.py
  tests/filecheck/dialects/smt/ops.mlir
  xdsl/dialects/smt.py
Labels: dialects

#4430 docs: (GETTING_STARTED.md) Add two new canonicalization suggestions
  GETTING_STARTED.md
Labels: dialects

#4434 core: (constraints) improve inference debug message
  tests/irdl/test_attr_constraint.py
  tests/irdl/test_int_constraint.py
  tests/irdl/test_range_constraint.py
  xdsl/irdl/constraints.py
Labels: minor, core

#4418 dialects: (builtin) Add `get_complex_values` and `create_from_complex` to `DenseIntOrFPElementsAttr`
  tests/dialects/test_builtin.py
  xdsl/dialects/builtin.py
  xdsl/parser/attribute_parser.py
  xdsl/printer.py
Labels: dialects

#4429 dialects: (x86) migrate operations to consistent mnemonic
  tests/dialects/test_x86.py
  tests/filecheck/backend/x86/convert_func_to_x86.mlir
  tests/filecheck/backend/x86/convert_ptr_to_x86.mlir
  tests/filecheck/backend/x86/convert_vector_to_x86.mlir
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  tests/filecheck/projects/libxsmm/x86_matmul_kernel.mlir
  xdsl/backend/x86/lowering/convert_func_to_x86_func.py
  xdsl/backend/x86/lowering/convert_ptr_to_x86.py
  xdsl/backend/x86/lowering/convert_vector_to_x86.py
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#4441 core: avoid pipeline tuples when parsing pass spec
  xdsl/interactive/app.py
  xdsl/passes.py
  xdsl/xdsl_opt_main.py
Labels: core

#4439 dialects: Add `smt.not`
  tests/dialects/test_smt.py
  tests/filecheck/dialects/smt/ops.mlir
  xdsl/dialects/smt.py
Labels: dialects

#4440 dialects: Add `smt.assert`
  tests/dialects/test_smt.py
  tests/filecheck/dialects/smt/ops.mlir
  xdsl/dialects/smt.py
Labels: dialects

#4410 dialects (arm): change attributes to properties uniformly and insert …
  xdsl/dialects/arm_neon.py
Labels: dialects

#4443 dialects: (x86) use typed SSA values for inference in inits
  tests/dialects/test_x86.py
  xdsl/backend/x86/lowering/convert_vector_to_x86.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#4275 interpreter: (transform) add semantics for `apply_registered_pass`
  tests/filecheck/dialects/transform/transform_named_sequence.mlir
  tests/interpreters/test_transform_interpreter.py
  xdsl/dialects/transform.py
  xdsl/interpreters/transform.py
  xdsl/transforms/transform_interpreter.py
Labels: interpreter

#4427 dialects: (x86) fix mov operations
  tests/filecheck/backend/x86/convert_func_to_x86.mlir
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/backend/x86/lowering/convert_func_to_x86_func.py
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#4423 backend: add allocate_registers abstract method to RegisterAllocatableOperation
  tests/backend/riscv/test_register_allocation.py
  xdsl/backend/register_allocatable.py
  xdsl/backend/riscv/register_allocation.py
  xdsl/dialects/riscv_scf.py
  xdsl/dialects/riscv_snitch.py
Labels: backend

#4448 dialects: (x86) add RegisterAllocatableOperation annotation to x86
  tests/backend/x86/test_register_allocation.py
  xdsl/dialects/x86/ops.py
Labels: dialects

#4454 misc: only import TypeForm when type checking
  xdsl/ir/core.py
Labels: misc

#4451 core: make ParametrizedAttribute parameters dynamic
  tests/filecheck/utils/codegen/simple.py
  xdsl/backend/register_type.py
  xdsl/dialects/stencil.py
  xdsl/ir/core.py
  xdsl/irdl/attributes.py
  xdsl/irdl/constraints.py
Labels: core

#4460 dialects: (emitc) Add negative dimension verify exception
  tests/dialects/test_emitc.py
  xdsl/dialects/emitc.py
Labels: dialects

#4432 core: (constraints) experiment with ditching extractors
  tests/irdl/test_declarative_assembly_format.py
  tests/irdl/test_range_constraint.py
  xdsl/dialects/builtin.py
  xdsl/irdl/constraints.py
  xdsl/irdl/declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format_parser.py
Labels: core

#4345 dialects: (arm_neon) add VectorWithArrangement.from_vec_type
  tests/dialects/test_arm_neon.py
  xdsl/dialects/arm_neon.py
Labels: dialects

#4314 backend: add x86-allocate-registers
  tests/filecheck/backend/x86/x86_allocate_registers.mlir
  tests/filecheck/projects/libxsmm/x86_matmul_kernel.mlir
  xdsl/backend/x86/register_allocation.py
  xdsl/transforms/__init__.py
  xdsl/transforms/x86_allocate_registers.py
Labels: backend

#4458 transformations: (pdl_interp) Refactor `PDLInterpRewritePattern`
  xdsl/transforms/apply_pdl_interp.py
Labels: transformations

#4471 interpreter: keep track of scope id instead of count
  xdsl/interpreter.py
Labels: interpreter

#4459 backend: lowering of vector.broadcast to x86
  tests/filecheck/backend/x86/convert_vector_to_x86.mlir
  xdsl/backend/x86/lowering/convert_vector_to_x86.py
Labels: backend

#4478 core: Improve typing of `irdl_to_attr_constraint`
  xdsl/irdl/attributes.py
  xdsl/utils/hints.py
Labels: core

#4479 dialects: Add `smt.bv` type
  tests/dialects/test_smt.py
  tests/filecheck/dialects/smt/ops.mlir
  xdsl/dialects/smt.py
Labels: dialects

#4464 backend: remove limit registers in register queue
  tests/backend/riscv/test_register_stack.py
  tests/filecheck/backend/riscv/register-allocation/frep.mlir
  tests/filecheck/backend/riscv/register-allocation/generic.mlir
  tests/filecheck/backend/riscv/register-allocation/liveness_block_naive_limited.mlir
  xdsl/backend/register_stack.py
  xdsl/transforms/riscv_register_allocation.py
Labels: backend

#4484 dialects: (emitc) Remove duplicated testcase
  tests/dialects/test_emitc.py
Labels: dialects
