Repository xdslproject/xdsl, pull requests merged in 2025-02, with the labels that each got.

#3814 dialects: (symref) add assembly format
  tests/filecheck/frontend/dialects/func.py
  tests/filecheck/frontend/dialects/scf.py
  tests/filecheck/frontend/passes/desymref.mlir
  xdsl/frontend/symref.py
Labels: dialects

#3815 misc: simplify setup.py
  pyproject.toml
  setup.py
Labels: misc

#3819 dialects: (func) clean up is_declaration [NFC]
  xdsl/dialects/func.py
Labels: dialects

#3820 transformations: (convert-memref-to-ptr) add lower-func flag
  tests/filecheck/transforms/convert_memref_args_to_ptr.mlir
  xdsl/transforms/convert_memref_to_ptr.py
Labels: transformations

#3821 misc: use default-valued type elements for constrs
  xdsl/dialects/memref_stream.py
  xdsl/dialects/snitch.py
Labels: misc

#3817 dialects: (symref) migrate to init and properties
  xdsl/frontend/code_generation.py
  xdsl/frontend/symref.py
Labels: dialects

#3826 core: make all constr methods classmethods
  tests/irdl/test_declarative_assembly_format.py
  xdsl/dialects/builtin.py
Labels: minor, core

#3828 core: add constr method to Attribute
  tests/irdl/test_declarative_assembly_format.py
  xdsl/dialects/builtin.py
  xdsl/dialects/stencil.py
  xdsl/ir/core.py
  xdsl/transforms/memref_to_dsd.py
Labels: core

#3830 core: Disallow duplicate keys in attribute dictionaries
  tests/filecheck/parser-printer/duplicate_attribute_keys.mlir
  xdsl/parser/attribute_parser.py
  xdsl/parser/core.py
Labels: parser

#3838 dialects: (linalg) add hidden region to transpose op
  tests/filecheck/mlir-conversion/with-mlir/dialects/linalg/invalid_ops.mlir
  xdsl/dialects/linalg.py
Labels: dialects

#3839 dialects: (linalg) let PoolingOpsBase inherit from NamedOpBase
  tests/interpreters/test_linalg_interpreter.py
  xdsl/dialects/linalg.py
Labels: dialects

#3840 dialects: (linalg) add hidden region to BroadcastOp
  tests/filecheck/mlir-conversion/with-mlir/dialects/linalg/invalid_ops.mlir
  xdsl/dialects/linalg.py
Labels: dialects

#3841 dialects: (linalg) let ConvOpsBase inherit from NamedOpsBase
  tests/filecheck/mlir-conversion/with-mlir/dialects/linalg/ops.mlir
  tests/interpreters/test_linalg_interpreter.py
  xdsl/dialects/linalg.py
Labels: dialects

#3837 dialects: (linalg) enable generic printing in mlir conversion filecheck
  tests/filecheck/mlir-conversion/with-mlir/dialects/linalg/ops.mlir
Labels: dialects

#3842 dialects: (builtin) remove AnyIntegerAttrConstr
  tests/irdl/test_declarative_assembly_format.py
  xdsl/dialects/arith.py
  xdsl/dialects/builtin.py
  xdsl/dialects/csl/csl.py
  xdsl/transforms/lower_csl_wrapper.py
Labels: dialects, minor

#3843 dialects: (builtin) remove AnyIntegerAttr
  tests/test_parser.py
  tests/test_traits.py
  xdsl/dialects/accfg.py
  xdsl/dialects/affine.py
  xdsl/dialects/arith.py
  xdsl/dialects/builtin.py
  xdsl/dialects/csl/csl.py
  xdsl/dialects/csl/csl_stencil.py
  xdsl/dialects/csl/csl_wrapper.py
  xdsl/dialects/experimental/air.py
  xdsl/dialects/experimental/fir.py
  xdsl/dialects/experimental/hlfir.py
  xdsl/dialects/llvm.py
  xdsl/dialects/memref.py
  xdsl/dialects/mod_arith.py
  xdsl/dialects/riscv.py
  xdsl/dialects/riscv_func.py
  xdsl/dialects/seq.py
  xdsl/dialects/transform.py
  xdsl/dialects/x86/assembly.py
  xdsl/dialects/x86/ops.py
  xdsl/interpreters/arith.py
  xdsl/interpreters/builtin.py
  xdsl/interpreters/riscv.py
  xdsl/parser/attribute_parser.py
  xdsl/tools/tblgen_to_py.py
  xdsl/transforms/canonicalization_patterns/cf.py
  xdsl/transforms/canonicalization_patterns/csl.py
  xdsl/transforms/canonicalization_patterns/utils.py
  xdsl/transforms/linalg_to_csl.py
Labels: dialects

#3844 dialects: (builtin) remove AnyFloatAttr(Constr)?
  tests/test_parser.py
  tests/test_printer.py
  xdsl/dialects/builtin.py
  xdsl/dialects/csl/csl.py
  xdsl/interpreters/arith.py
  xdsl/interpreters/builtin.py
  xdsl/parser/attribute_parser.py
  xdsl/printer.py
  xdsl/transforms/canonicalization_patterns/arith.py
  xdsl/transforms/convert_stencil_to_csl_stencil.py
  xdsl/transforms/linalg_to_csl.py
  xdsl/transforms/lower_csl_stencil.py
Labels: dialects

#3847 installation: fix package discovery
  pyproject.toml
Labels: bug, installation

#3846 dialects: (builtin) print hex str for DenseIntOrFPElementsAttrs with > 100 elements
  tests/filecheck/parser-printer/builtin_attrs.mlir
  xdsl/dialects/builtin.py
Labels: dialects

#3849 core: Fix multiline error printing
  tests/filecheck/parser-printer/graph_region.mlir
  xdsl/utils/exceptions.py
Labels: bug

#3854 documentation: fix l1 scf example
  docs/marimo/mlir_ir.py
Labels: documentation

#3850 core: Fix bug in extractor when having nested variables
  tests/irdl/test_declarative_assembly_format.py
  xdsl/irdl/constraints.py
Labels: bug, core

#3845 parser: parse bytes directly into a BytesAttr for DenseIntOrFPElementsAttrs
  tests/filecheck/parser-printer/invalid_dense_attr.mlir
  xdsl/parser/attribute_parser.py
Labels: parser

#3864 backend: (riscv) split out register queue interface from implementation
  tests/backend/riscv/test_register_allocation.py
  tests/backend/riscv/test_register_queue.py
  xdsl/backend/register_queue.py
  xdsl/backend/riscv/register_allocation.py
  xdsl/backend/riscv/riscv_register_queue.py
  xdsl/transforms/riscv_register_allocation.py
Labels: backend

#3868 misc: remove xdsl.irdl.error.error function
  scripts/gen_ref_pages.py
  xdsl/irdl/error.py
  xdsl/irdl/operations.py
Labels: misc

#3610 misc: add ShrinkException for easy test case shrinking
  xdsl/utils/exceptions.py
  xdsl/xdsl_opt_main.py
Labels: misc

#3871 dialects: (x86_func) add x86_func dialect
  tests/filecheck/dialects/x86_func/x86_ops.mlir
  xdsl/dialects/__init__.py
  xdsl/dialects/x86_func.py
Labels: dialects

#3394 transformations: convert type_offsets in `ptr` to `arith.constant`
  tests/filecheck/transforms/convert_ptr_type_offsets.mlir
  xdsl/transforms/__init__.py
  xdsl/transforms/convert_ptr_type_offsets.py
Labels: transformations

#3869 misc: reduce max-line-length ruff setting to 130 [NFC]
  docs/Toy/Toy_Ch0.ipynb
  pyproject.toml
  tests/irdl/test_operation_definition.py
  tests/test_pass_to_arg_and_types_str.py
  tests/test_pyrdl.py
  xdsl/backend/csl/print_csl.py
  xdsl/dialects/affine.py
  xdsl/dialects/arith.py
  xdsl/dialects/bufferization.py
  xdsl/dialects/csl/csl_stencil.py
  xdsl/dialects/experimental/air.py
  xdsl/dialects/experimental/hlfir.py
  xdsl/dialects/func.py
  xdsl/dialects/memref_stream.py
  xdsl/dialects/ptr.py
  xdsl/dialects/riscv.py
  xdsl/dialects/snitch_runtime.py
  xdsl/dialects/stablehlo.py
  xdsl/dialects/stencil.py
  xdsl/dialects/stim/ops.py
  xdsl/dialects/stim/stim_parser.py
  xdsl/dialects/transform.py
  xdsl/dialects/vector.py
  xdsl/dialects/x86/ops.py
  xdsl/frontend/pyast/type_conversion.py
  xdsl/interactive/app.py
  xdsl/interpreter.py
  xdsl/ir/affine/affine_expr.py
  xdsl/ir/affine/affine_map.py
  xdsl/irdl/declarative_assembly_format_parser.py
  xdsl/tools/xdsl_run.py
  xdsl/transforms/canonicalization_patterns/scf.py
  xdsl/transforms/convert_memref_to_ptr.py
  xdsl/transforms/convert_stencil_to_csl_stencil.py
  xdsl/transforms/csl_stencil_to_csl_wrapper.py
  xdsl/transforms/eqsat_add_costs.py
  xdsl/transforms/experimental/convert_stencil_to_ll_mlir.py
  xdsl/transforms/experimental/function_constant_pinning.py
  xdsl/transforms/experimental/hls_convert_stencil_to_ll_mlir.py
  xdsl/transforms/individual_rewrite.py
  xdsl/transforms/memref_stream_tile_outer_loops.py
  xdsl/transforms/memref_streamify.py
  xdsl/transforms/stencil_bufferize.py
  xdsl/utils/dialect_stub.py
  xdsl/utils/disjoint_set.py
  xdsl/utils/exceptions.py
  xdsl/utils/hashable_module.py
  xdsl/utils/lexer.py
  xdsl/utils/marimo.py
  xdsl/utils/parse_pipeline.py
  xdsl/xdsl_opt_main.py
Labels: misc

#3367 core: preorder walk of blocks in nested operations
  tests/test_walk_blocks.py
  xdsl/ir/core.py
Labels: core

#3872 backend: unify assembly printing helpers in AssemblyPrinter
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  xdsl/backend/assembly_printer.py
  xdsl/dialects/arm/__init__.py
  xdsl/dialects/arm/assembly.py
  xdsl/dialects/arm/ops.py
  xdsl/dialects/riscv.py
  xdsl/dialects/x86/assembly.py
  xdsl/dialects/x86/ops.py
Labels: backend

#3874 installation: specify find
  pyproject.toml
Labels: installation

#3875 documentation: do a pass over MLIR IR notebook
  docs/marimo/mlir_ir.py
Labels: documentation

#3885 backend: (riscv) use separate indices for j and fj registers
  tests/backend/riscv/test_register_queue.py
  tests/filecheck/backend/riscv/register-allocation/frep.mlir
  tests/filecheck/backend/riscv/register-allocation/generic.mlir
  xdsl/backend/riscv/riscv_register_queue.py
  xdsl/dialects/riscv.py
Labels: backend

#3881 docs: Add IR generation notebook
  docs/marimo/ir_gen.py
Labels: documentation

#3882 docs: Add notebook for pattern rewrites
  docs/marimo/pattern_rewrites.py
Labels: documentation

#3866 backend: (x86) Fix register sets test coverage
  tests/dialects/test_x86.py
  tests/filecheck/dialects/x86/x86_registers_invalid.mlir
  xdsl/dialects/x86/register.py
  xdsl/tools/command_line_tool.py
Labels: backend

#3883 docs: Add notebook for pattern rewrites exercises
  docs/marimo/rewrite_exercises.py
Labels: documentation

#3884 docs: Add notebook for defining dialects
  docs/marimo/defining_dialects.py
Labels: documentation

#3891 documentation: hide more cells in marimo notebooks
  docs/marimo/__marimo__/linalg_snitch.ipynb
  docs/marimo/defining_dialects.py
  docs/marimo/linalg_snitch.py
  docs/marimo/rewrite_exercises.py
Labels: documentation

#3892 documentation: remove jupyter version of notebook
  .github/workflows/ci-notebooks.yml
  Makefile
  docs/marimo/__marimo__/linalg_snitch.ipynb
  pyproject.toml
Labels: documentation

#3893 core: flatten assembly format class hierarchy
  tests/irdl/test_declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format_parser.py
Labels: core

#3899 dialects: (builtin) remove AnyArrayAttr
  xdsl/dialects/builtin.py
  xdsl/dialects/experimental/air.py
  xdsl/dialects/pdl.py
  xdsl/parser/attribute_parser.py
Labels: dialects

#3851 core: Fix check for forward refs by checking for ssa refs instead of block refs
  tests/filecheck/parser-printer/graph_region.mlir
  xdsl/parser/core.py
Labels: bug

#3895 core: remove field on assembly format parser
  xdsl/irdl/declarative_assembly_format.py
  xdsl/irdl/declarative_assembly_format_parser.py
Labels: minor, core

#3898 core: remove constr from Attribute
  xdsl/dialects/csl/csl.py
  xdsl/ir/core.py
Labels: core

#3887 backend: (x86) Extend x86 AVX instructions to single-precision
  tests/dialects/test_x86.py
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  xdsl/dialects/x86/__init__.py
  xdsl/dialects/x86/ops.py
Labels: dialects, backend

#3914 backend: (x86) fix register set coverage
  tests/dialects/test_x86.py
  tests/filecheck/dialects/x86/x86_registers_invalid.mlir
  xdsl/dialects/x86/register.py
  xdsl/tools/command_line_tool.py
Labels: backend

#3903 dialects: (linalg) fix `linalg.matmul` to correctly store integer arg types
  tests/filecheck/dialects/linalg/linalg_ops.mlir
  xdsl/dialects/linalg.py
Labels: dialects

#3900 misc: fix arguments for riscv_lowering
  tests/filecheck/backend/riscv/convert_func_to_riscv_func.mlir
  xdsl/backend/riscv/lowering/convert_func_to_riscv_func.py
Labels: backend

#3919 backend: (x86) add the extended registers (eax, ecx...)
  tests/dialects/test_x86.py
  xdsl/dialects/x86/register.py
Labels: dialects, backend

#3923 bug: (x86) Add a missing test in func to x86_func lowering
  tests/filecheck/backend/x86/invalid.mlir
Labels: bug

#3926 backend: default register type constructor returns unallocated register
  tests/backend/riscv/test_preallocated.py
  tests/backend/riscv/test_utils.py
  tests/dialects/test_riscv.py
  tests/dialects/test_x86.py
  tests/interpreters/test_riscv_cf_interpreter.py
  tests/interpreters/test_riscv_debug_interpreter.py
  tests/interpreters/test_riscv_emulator.py
  tests/interpreters/test_riscv_interpreter.py
  tests/interpreters/test_riscv_scf_interpreter.py
  tests/interpreters/test_riscv_snitch_interpreter.py
  tests/interpreters/test_snitch_stream_interpreter.py
  xdsl/backend/register_type.py
  xdsl/backend/riscv/lowering/convert_arith_to_riscv.py
  xdsl/backend/riscv/lowering/convert_arith_to_riscv_snitch.py
  xdsl/backend/riscv/lowering/convert_memref_to_riscv.py
  xdsl/backend/riscv/lowering/convert_snitch_stream_to_snitch.py
  xdsl/backend/riscv/lowering/utils.py
  xdsl/dialects/arm/register.py
  xdsl/dialects/riscv.py
  xdsl/dialects/riscv_func.py
  xdsl/dialects/riscv_snitch.py
  xdsl/dialects/x86/register.py
  xdsl/transforms/convert_memref_stream_to_snitch_stream.py
  xdsl/transforms/convert_ptr_to_riscv.py
  xdsl/transforms/convert_riscv_scf_for_to_frep.py
  xdsl/transforms/inline_snrt.py
  xdsl/transforms/riscv_scf_loop_range_folding.py
Labels: backend

#3927 backend: (riscv) split out reserved int and float registers in regalloc
  tests/backend/riscv/test_register_queue.py
  xdsl/backend/riscv/riscv_register_queue.py
Labels: backend

#3762 core: Add check for blocks referenced without implementation
  tests/filecheck/parser-printer/parse_error.mlir
  xdsl/parser/core.py
Labels: enhancement, core

#3924 bug: (x86) always remove the register/memory prefix from the emitted assembly
  xdsl/dialects/x86/ops.py
Labels: bug, dialects

#3933 documentation: Fix nits on the first marimo notebook
  docs/marimo/mlir_ir.py
Labels: documentation

#3935 CI: set pytest asyncio_default_fixture_loop_scope
  pyproject.toml
Labels: CI

#3934 backend: (riscv) rename jx registers to j_x
  tests/backend/riscv/test_register_allocation.py
  tests/backend/riscv/test_register_queue.py
  tests/dialects/test_riscv.py
  tests/filecheck/backend/riscv/canonicalize.mlir
  tests/filecheck/backend/riscv/register-allocation/frep.mlir
  tests/filecheck/backend/riscv/register-allocation/generic.mlir
  tests/filecheck/dialects/riscv/riscv_assembly_emission.mlir
  tests/filecheck/with-riscemu/riscv_emulation.mlir
  xdsl/backend/riscv/riscv_register_queue.py
Labels: backend

#3942 documentation: fix arith cmpi example in MLIR IR notebook
  docs/marimo/mlir_ir.py
Labels: documentation

#3943 backend: (x86) fix missing __init__.py files
  xdsl/backend/x86/__init__.py
  xdsl/backend/x86/lowering/__init__.py
Labels: bug, backend

#3945 CI: add ruff check for missing __init__.py files
  docs/Toy/toy/dialects/__init__.py
  docs/Toy/toy/emulator/__init__.py
  docs/Toy/toy/frontend/__init__.py
  docs/Toy/toy/rewrites/__init__.py
  pyproject.toml
Labels: CI

#3949 interpreter: (pdl) add operations directly in `pdl.operation`
  tests/filecheck/transforms/apply-pdl/apply_pdl_insert_operation.mlir
  tests/interpreters/test_pdl_interpreter.py
  xdsl/interpreters/pdl.py
Labels: interpreter

#3929 backend: add `infinite_register` class method to RegisterType
  tests/backend/test_register.py
  xdsl/backend/register_type.py
  xdsl/backend/riscv/riscv_register_queue.py
  xdsl/dialects/arm/register.py
  xdsl/dialects/riscv.py
  xdsl/dialects/x86/register.py
Labels: backend

#3938 bug: (x86) fix the lowering of the function signature
  tests/filecheck/backend/x86/convert_func_to_x86.mlir
  xdsl/backend/x86/lowering/convert_func_to_x86_func.py
Labels: bug, backend

#3946 misc: shorten PR template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/pull_request_template.md
Labels: misc

#3954 misc: remove xdsl-opt file
  docs/mlir_interoperation.ipynb
  tests/filecheck/lit.cfg
  xdsl/tools/xdsl-opt
Labels: minor, misc

#3956 bug: (libxsmm) fix the little matmul use case
  tests/filecheck/projects/libxsmm/x86_matmul_kernel.mlir
Labels: bug, backend

#3947 dialects: (builtin) fix VectorType scalable dimension representation
  tests/dialects/test_builtin.py
  tests/filecheck/mlir-conversion/with-mlir/dialects/builtin/vector_type.mlir
  tests/filecheck/mlir-conversion/with-mlir/dialects/vector/ops.mlir
  tests/filecheck/parser-printer/builtin_attrs.mlir
  xdsl/dialects/arith.py
  xdsl/dialects/builtin.py
  xdsl/parser/attribute_parser.py
  xdsl/printer.py
Labels: dialects

#3955 dialects: (qssa/qref/quantum) remove dialects
  tests/filecheck/dialects/qref/ops.mlir
  tests/filecheck/dialects/qssa/ops.mlir
  tests/filecheck/dialects/quantum/attrs.mlir
  tests/filecheck/transforms/convert_qref_to_qssa.mlir
  tests/filecheck/transforms/convert_qssa_to_qref.mlir
  xdsl/dialects/__init__.py
  xdsl/dialects/qref.py
  xdsl/dialects/qssa.py
  xdsl/dialects/quantum.py
  xdsl/transforms/__init__.py
  xdsl/transforms/convert_qref_to_qssa.py
  xdsl/transforms/convert_qssa_to_qref.py
Labels: dialects, transformations

#3958 testing: remove func call printing tests
  tests/dialects/test_func.py
Labels: testing

#3959 testing: move coverage config to pyproject.toml
  .coveragerc
  .github/workflows/ci-mlir.yml
  Makefile
  pyproject.toml
Labels: testing

#3965 misc: add comment for ignore_errors setting [NFC]
  pyproject.toml
Labels: misc

#3936 bench: Add minimal ASV example
  .github/workflows/ci-lockfile.yml
  Makefile
  asv.conf.json
  benchmarks/__init__.py
  benchmarks/microbenchmarks.py
  pyproject.toml
  uv.lock
Labels: bench

#3966 csl: (dialects) Change csl to use signless integers
  tests/filecheck/backend/csl/print_csl.mlir
  tests/filecheck/dialects/csl/csl-canonicalize.mlir
  tests/filecheck/dialects/csl/ops.mlir
  tests/filecheck/transforms/csl-stencil-handle-async-flow.mlir
  tests/filecheck/transforms/lower-csl-stencil.mlir
  tests/filecheck/transforms/memref-to-dsd.mlir
  xdsl/dialects/csl/csl.py
  xdsl/transforms/csl_stencil_handle_async_flow.py
  xdsl/transforms/lower_csl_stencil.py
  xdsl/transforms/memref_to_dsd.py
Labels: enhancement, dialects

#3957 testing: (stencil) remove stencil printing test
  tests/dialects/test_stencil.py
Labels: testing

#3968 backend: (riscv) make rd unallocated by default
  tests/backend/riscv/test_preallocated.py
  tests/dialects/test_riscv.py
  tests/interpreters/test_riscv_emulator.py
  tests/interpreters/test_riscv_interpreter.py
  tests/interpreters/test_riscv_scf_interpreter.py
  xdsl/backend/riscv/lowering/convert_arith_to_riscv.py
  xdsl/backend/riscv/lowering/convert_memref_to_riscv.py
  xdsl/backend/riscv/lowering/convert_snitch_stream_to_snitch.py
  xdsl/dialects/riscv.py
  xdsl/transforms/convert_ptr_to_riscv.py
  xdsl/transforms/convert_riscv_scf_for_to_frep.py
  xdsl/transforms/riscv_scf_loop_range_folding.py
Labels: backend

#3967 bug: (x86) memory-to-register mv operation should not take two operands
  tests/dialects/test_x86.py
  tests/filecheck/backend/x86/convert_func_to_x86.mlir
  tests/filecheck/dialects/x86/x86_assembly_emission.mlir
  tests/filecheck/dialects/x86/x86_ops.mlir
  tests/filecheck/projects/libxsmm/x86_matmul_kernel.mlir
  xdsl/backend/x86/lowering/convert_func_to_x86_func.py
  xdsl/dialects/x86/ops.py
Labels: bug, dialects, backend

#3970 testing: remove `assert_print_op` from rewriters tests
  tests/pattern_rewriter/test_pattern_rewriter.py
  tests/test_rewriter.py
Labels: testing

#3972 backend: (riscv) use named unallocated registers instead of empty init
  tests/backend/riscv/test_preallocated.py
  tests/backend/riscv/test_utils.py
  tests/dialects/test_x86.py
  tests/interpreters/test_riscv_cf_interpreter.py
  tests/interpreters/test_riscv_debug_interpreter.py
  tests/interpreters/test_riscv_interpreter.py
  tests/interpreters/test_riscv_scf_interpreter.py
  tests/interpreters/test_riscv_snitch_interpreter.py
  tests/interpreters/test_snitch_stream_interpreter.py
  xdsl/backend/register_type.py
  xdsl/backend/riscv/lowering/convert_arith_to_riscv.py
  xdsl/backend/riscv/lowering/convert_arith_to_riscv_snitch.py
  xdsl/backend/riscv/lowering/convert_memref_to_riscv.py
  xdsl/backend/riscv/lowering/utils.py
  xdsl/dialects/riscv_func.py
  xdsl/dialects/riscv_snitch.py
  xdsl/transforms/convert_memref_stream_to_snitch_stream.py
  xdsl/transforms/convert_ptr_to_riscv.py
  xdsl/transforms/inline_snrt.py
Labels: backend

#3971 testing: move assert_print_op definition to test_printer
  tests/conftest.py
  tests/test_printer.py
Labels: testing

#3976 misc: escape code in docstrings
  xdsl/dialects/csl/csl.py
  xdsl/dialects/experimental/fir.py
Labels: misc

#3975 misc: add init to xdsl frontend
  xdsl/frontend/__init__.py
Labels: misc

#3973 testing: use importlib import mode in pytest
  pyproject.toml
Labels: testing

#3979 backend: (x86) insert .global directives when lowering func.func
  tests/filecheck/backend/x86/convert_func_to_x86.mlir
  xdsl/backend/x86/lowering/convert_func_to_x86_func.py
Labels: transformations, backend

#3961 core: remove indirection in operation cloning
  xdsl/ir/core.py
Labels: core

#3986 core: Move SSAValue definitions around (NFC)
  xdsl/ir/core.py
Labels: core
